workflows/2026-01-25/cUfL2Juj3XRRgMJi-My workflow 15.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "n8n1": {
      "main": [
        [
          {
            "node": "n8n2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "n8n4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "n8n3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "n8n1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n4": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-11-24T00:20:16.939Z",
  "id": "cUfL2Juj3XRRgMJi",
  "isArchived": true,
  "meta": null,
  "name": "My workflow 15",
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={ \"name\": \"{{ $json.name.replace('(Template) ','') }}\", \"nodes\": {{ JSON.stringify($json.nodes) }}, \"connections\": {{ JSON.stringify($json.connections) }}, \"settings\": {} }",
        "requestOptions": {}
      },
      "id": "e3e61d50-106e-4517-a0df-c1dc308c1af8",
      "name": "n8n1",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        592,
        -48
      ]
    },
    {
      "parameters": {},
      "id": "49e43b8e-8570-4748-9eae-fbd96322c2d5",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        112
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "id": "9911a88f-4735-44e5-ba79-a5147ebd03a5",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        144,
        112
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "ed789e17-c09e-406c-851a-ae317bca428b",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1008,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "23080ebc-e188-4cc9-b773-ed0b8af5c65d",
              "leftValue": "={{ $json.name }}",
              "rightValue": "Workflow de erro",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "23285ebd-f78d-48f6-8b55-49b0b9edd725",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1232,
        96
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={ \"name\": \"{{ $json.name.replace('(Template) ','') }}\", \"nodes\": {{ JSON.stringify($json.nodes) }}, \"connections\": {{ JSON.stringify($json.connections) }}, \"settings\": {\"errorWorkflow\": \"{{ $item(\"0\").$node['n8n1'].json.id }}\" } }",
        "requestOptions": {}
      },
      "id": "6a2b3ee6-8358-469c-b4cf-4444e468a395",
      "name": "n8n3",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1456,
        96
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "value": "={{ $node['n8n1'].json.id }}",
          "mode": "id"
        },
        "workflowObject": "={ \"name\": \"{{ $json.name.replace('(Template) ','') }}\", \"nodes\": {{ JSON.stringify($json.nodes) }}, \"connections\": {{ JSON.stringify($json.connections) }}, \"settings\": {\"errorWorkflow\": \"{{ $node['n8n1'].json.id }}\" } }",
        "requestOptions": {}
      },
      "id": "e1bd2187-284f-47b2-b88a-e9fb3b6b36b8",
      "name": "n8n2",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        816,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "23080ebc-e188-4cc9-b773-ed0b8af5c65d",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7bbdd1a8-d075-43fb-8584-4a2d9bc554bb",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        368,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "let id = ['YjgvSyrYJ8aS76bT', 'KdisvSkcFhrr39Hq','WOWcvopdCO14OdGj','d0jaPfNNXJvs0oFp','wcvx5YsGpDDlvKOJ','Hvv6wCmFoG9SqCFL','WpvZZs5FisMO7tzc','VsQ8ueYlF695eG4e','UUZhEoxoxad5ILQM','mL2kUvHpiOTyCy4j','bATQEDkomN4hhLmr','dEFMYOajcBuF4Hxn','kfBGrHxT5ByW7m2k','qH3eSB7yGhhCRoiZ','vzucfBFZsGXqQYw3','YeLIqfVxAHzLyhqG','MJ39Jkqvx7mrpyUH','SPGKLz9jhhCpK8Yi','2ZyeFPSvGTXLLemy','az0AeKRWnsuacyIp','1P7d69QZBlq7Jewg','vrDSNyZUYNxS1DE3','uUZa58Ni1lxyNLXH']\n\nreturn {id}"
      },
      "id": "eaa88346-1ea9-4eac-8cd5-8ebb7f343eca",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        112
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "options": {}
      },
      "id": "7570f9f0-0181-4459-9f70-7ab2c25fa294",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -80,
        112
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "d502407c-1d3e-4cc9-bea8-f74aa618eeee",
      "name": "n8n4",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -192,
        -80
      ],
      "credentials": {
        "n8nApi": {
          "id": "ED15KFHsFjXV3Aa1",
          "name": "n8n account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-24T00:20:16.939Z",
      "createdAt": "2025-11-24T00:20:16.939Z",
      "role": "workflow:owner",
      "workflowId": "cUfL2Juj3XRRgMJi",
      "projectId": "VuiAAhWq61ItL83O"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-24T14:32:29.842Z",
  "versionId": "53241073-816e-4472-a570-c4ac650cdfc3"
}