workflows/2026-01-25/HEs0VinuqXWg66Er-[AC] A0002 | Inserção Lead no Banco de Dados [ActiveCampaign] SSP-L19 DESC.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchQueue": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item": {
      "main": [
        [
          {
            "node": "Executar Tentativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer": {
      "main": [
        [
          {
            "node": "ExistsOnLL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Tentativa": {
      "main": [
        [
          {
            "node": "Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Banco": {
      "main": [
        [
          {
            "node": "Atualizar Pendencia = N",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Pendencia = N": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckLeadExists": {
      "main": [
        [
          {
            "node": "LeadExists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LeadExists": {
      "main": [
        [
          {
            "node": "LeadID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateLead": {
      "main": [
        [
          {
            "node": "LeadID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LeadID": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "CreateLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "SearchQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "tratativaGoogle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Inserir Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Inserir Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tratativaGoogle": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExistsOnLL": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "CheckLeadExists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SetIgnored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchQueue1": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "SearchQueue1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-03T13:11:13.094Z",
  "id": "HEs0VinuqXWg66Er",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[AC] A0002 | Inserção Lead no Banco de Dados [ActiveCampaign] SSP-L19 DESC",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "40ff9a97-9fdb-4d7c-b38d-ad3b154697b4",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        544
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM funnels_queue\nWHERE is_pending    = 'Y'\n  AND (tries_count   <= 4 OR tries_count = '-1')\n  AND funnel_id     = 'SSP-L19'\n  AND (action_source = 'ActiveCampaign')\n  AND is_ignored    = 'N'\n  AND is_processing = 'N'\n  ORDER BY insert_time DESC\nLIMIT 1",
        "options": {}
      },
      "id": "21c75b99-e2fb-4b9c-ad8f-bcd31a42c8f7",
      "name": "SearchQueue",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        80,
        544
      ],
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "content": "Busca pelos movimentos aguardando execução",
        "height": 241.03800589349822,
        "width": 385.4528310908945
      },
      "id": "b4214d0e-e80c-4431-8ae7-034205f919ca",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        464
      ]
    },
    {
      "parameters": {},
      "id": "95d193f7-675a-4b87-b09c-86472d87e788",
      "name": "Item",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        496,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "let request = $node[\"Item\"].json[\"request_body\"]\nlet bufferObj = Buffer.from(request, \"base64\");\nlet decodedString = bufferObj.toString(\"utf8\");\nlet json = JSON.parse(decodedString);\nreturn json;"
      },
      "id": "bea7b1ba-bd88-488f-b529-41cd1b0c0f01",
      "name": "Buffer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        704
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "funnels_queue",
          "mode": "list",
          "cachedResultName": "funnels_queue"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_funnel_queue",
        "valueToMatchOn": "={{ $node[\"Item\"].json[\"id_funnel_queue\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "tries_count",
              "value": "={{ $json[\"tries_count\"] + 1}}"
            }
          ]
        },
        "options": {}
      },
      "id": "39e15a73-d721-4225-aa95-2d5002a87f38",
      "name": "Executar Tentativa",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        720,
        704
      ],
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "launch_leads",
          "mode": "list",
          "cachedResultName": "launch_leads"
        },
        "columnToMatchOn": "email",
        "options": {}
      },
      "id": "ea83ddab-59e1-4cdf-a05e-b06ffcb0c7ca",
      "name": "Inserir Banco",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        3296,
        704
      ],
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "funnels_queue",
          "mode": "list",
          "cachedResultName": "funnels_queue"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_funnel_queue",
        "valueToMatchOn": "={{ $node[\"Item\"].json[\"id_funnel_queue\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "execution_time",
              "value": "={{ $now.toSQL() }}"
            },
            {
              "column": "is_pending",
              "value": "N"
            }
          ]
        },
        "options": {}
      },
      "id": "1cc56627-75fc-41ea-a2f9-41a53ab0b5c5",
      "name": "Atualizar Pendencia = N",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        3488,
        704
      ],
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $json['contact[email]'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "18903d1b-bb79-4268-9c72-eeb4cd20aa38",
      "name": "CheckLeadExists",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1616,
        704
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "45cb854a-c21c-483c-8183-c76571dd6b33",
              "leftValue": "={{ $node['CheckLeadExists'].json[\"id_user\"] ?? 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "466b2e98-4e28-4bfc-9b9e-9175ca2339c1",
      "name": "LeadExists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1808,
        704
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "email",
        "valueToMatchOn": "={{ $('Buffer').item.json['contact[email]'] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "name",
              "value": "={{ $('Buffer').item.json['contact[first_name]'] }}"
            },
            {
              "column": "phone",
              "value": "={{ $('Buffer').item.json['contact[phone]'] }}"
            },
            {
              "column": "create_time",
              "value": "={{ $('Buffer').item.json['contact[fields][data_criao_contato]'] !== undefined && $('Buffer').item.json['contact[fields][data_criao_contato]'] !== null ? $('Buffer').item.json['contact[fields][data_criao_contato]'] : $json.fieldValues[0].cdate }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "bc86dcda-4c16-479a-aa78-c2ce3e84000a",
      "name": "CreateLead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2272,
        800
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let search =$node['CheckLeadExists'].runIndex >= 0 &&  $node['CheckLeadExists'].json['id_user'] !== undefined ? $node['CheckLeadExists'].json['id_user'] : 0;\nlet create =  $node['CreateLead'].runIndex >= 0 &&  $node['CreateLead'].json[\"data\"][\"insertId\"] !== undefined ? $node['CreateLead'].json[\"data\"][\"insertId\"] : 0;\n\n\nif(create > 0) return {id: create};\nreturn {id: search};"
      },
      "id": "e1d9218c-2cbe-42cb-a2fb-fd264432fc8e",
      "name": "LeadID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        688
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ $('Buffer').item.json['contact[id]'] }}"
      },
      "id": "f4f59323-ca6b-48f2-95fd-843e37a2df52",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2032,
        800
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "fy3czEO2IaUXXxnk",
          "name": "https://aceleraconcursos.activehosted.com/"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 6
            }
          ]
        }
      },
      "id": "8fa1678c-6b00-4fcd-a36f-90138dbb9f5b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e53d32a8-e2e5-4351-a1c3-49bd7bd17668",
              "leftValue": "={{ $('Buffer').item.json[\"contact[fields][sspl19source]\"] }}",
              "rightValue": "oogle",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c8362722-18d6-41fd-8e39-9b63039f6c57",
              "leftValue": "={{ $('Buffer').item.json[\"contact[fields][sspl19source]\"] }}",
              "rightValue": "OOGLE",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2688,
        688
      ],
      "id": "d5ab313d-9829-44a7-a634-e746110594c4",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Utm Google\n\n- Envia requisição para o /tratativa-google (https://n8n.aconcursos.com.br/workflow/WVqwnyStcwOxT6bN)\n\n- Toda correção de utm é feita lá, retornando os dados certos que serão utilizados pelos nó set\n\n- o IF deve ser verificado de acordo com o taglaunch_source para google",
        "height": 572,
        "width": 420,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2608,
        272
      ],
      "id": "479ef16f-faa5-4673-aac2-d349408a36e9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18eb1297-2157-4b38-95ca-67be5ae2ce5a",
              "name": "launch_key",
              "value": "={{ $node['Buffer'].json['contact[fields][launchkey]'] }}",
              "type": "string"
            },
            {
              "id": "9307b216-2d02-4545-b6c3-c696f5bdc9ba",
              "name": "utm_source",
              "value": "=GoogleAds",
              "type": "string"
            },
            {
              "id": "b37e6b04-668e-4b35-84b9-8703ddf06f35",
              "name": "utm_medium",
              "value": "={{ $json.utm_medium ??  $node['Buffer'].json['contact[fields][sspl19medium]'] }} ",
              "type": "string"
            },
            {
              "id": "c9be6d2f-5f9e-4632-a205-e734d8709089",
              "name": "utm_campaign",
              "value": "={{ $json.utm_campaign ??  $node['Buffer'].json['contact[fields][sspl19campaign]'] }} ",
              "type": "string"
            },
            {
              "id": "bb3a1579-bfea-48bc-8325-4a12037c3552",
              "name": "utm_term",
              "value": "=youtube",
              "type": "string"
            },
            {
              "id": "1d5c12f7-3f75-4a18-9969-9bd82019e247",
              "name": "utm_content",
              "value": "={{ $json.utm_content ??  $node['Buffer'].json['contact[fields][sspl19content]'] }} ",
              "type": "string"
            },
            {
              "id": "c918f164-a759-4500-8b12-2ff583177d37",
              "name": "utm_pagina",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl19slug]'] }}",
              "type": "string"
            },
            {
              "id": "54212300-1c6c-4048-9566-22b64c5ee0af",
              "name": "utm_url",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl19url]'] }}",
              "type": "string"
            },
            {
              "id": "b0d72668-0f03-48b8-b215-117dce431392",
              "name": "utm_id",
              "value": "={{ $json.campaign_id }}|{{ $json.adset_id }}|{{ $json.ad_id }}",
              "type": "string"
            },
            {
              "id": "62baad1a-7b17-4022-8a6d-19e70e84d36d",
              "name": "contact_id_active",
              "value": "={{ $node['Buffer'].json['contact[id]'] }}",
              "type": "string"
            },
            {
              "id": "b9c39111-66af-4a50-bc18-bafda8067998",
              "name": "user_id",
              "value": "={{ $item(\"0\").$node[\"LeadID\"].json[\"id\"] }}",
              "type": "string"
            },
            {
              "id": "db1275b0-01d7-4346-8c31-29e731becb2a",
              "name": "email",
              "value": "={{ $node['Buffer'].json['contact[email]'] }}",
              "type": "string"
            },
            {
              "id": "3e4071ec-91d8-44d4-a6c1-6dfbca60e5c3",
              "name": "subscription_date",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl19datacadastro]'] }}",
              "type": "string"
            },
            {
              "id": "678a8ca9-98fb-44c5-92d0-196bc985e1f8",
              "name": "is_sspl19",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl19datacadastro]'] }}",
              "type": "string"
            },
            {
              "id": "1d304523-6891-42f2-bed1-ee62f1cd51c6",
              "name": "is_sspl18",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl18datacadastro]'] }}",
              "type": "string"
            },
            {
              "id": "eead2865-cdf0-445a-ada3-bd157044c21e",
              "name": "is_sspl17",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl17datacadastro]'] }}",
              "type": "string"
            },
            {
              "id": "6fd7e25a-b96a-4ebe-bc83-2994487cdb3d",
              "name": "is_sspl16",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl16datacadastro]'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "543f6438-9a52-4ff3-b1d3-fbd8d5816ffc",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        3088,
        528
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18eb1297-2157-4b38-95ca-67be5ae2ce5a",
              "name": "launch_key",
              "value": "={{ $node['Buffer'].json['contact[fields][launchkey]'] }}",
              "type": "string"
            },
            {
              "id": "9307b216-2d02-4545-b6c3-c696f5bdc9ba",
              "name": "utm_source",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl19source]'] }}",
              "type": "string"
            },
            {
              "id": "b37e6b04-668e-4b35-84b9-8703ddf06f35",
              "name": "utm_medium",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl19medium]'] }}",
              "type": "string"
            },
            {
              "id": "c9be6d2f-5f9e-4632-a205-e734d8709089",
              "name": "utm_campaign",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl19campaign]'] }}",
              "type": "string"
            },
            {
              "id": "bb3a1579-bfea-48bc-8325-4a12037c3552",
              "name": "utm_term",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl19term]'] }}",
              "type": "string"
            },
            {
              "id": "1d5c12f7-3f75-4a18-9969-9bd82019e247",
              "name": "utm_content",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl19content]'] }}",
              "type": "string"
            },
            {
              "id": "c918f164-a759-4500-8b12-2ff583177d37",
              "name": "utm_pagina",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl19slug]'] }}",
              "type": "string"
            },
            {
              "id": "54212300-1c6c-4048-9566-22b64c5ee0af",
              "name": "utm_url",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl19url]'] }}",
              "type": "string"
            },
            {
              "id": "b0d72668-0f03-48b8-b215-117dce431392",
              "name": "utm_id",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl19id]'] }}",
              "type": "string"
            },
            {
              "id": "62baad1a-7b17-4022-8a6d-19e70e84d36d",
              "name": "contact_id_active",
              "value": "={{ $('Buffer').item.json['contact[id]'] }}",
              "type": "string"
            },
            {
              "id": "b9c39111-66af-4a50-bc18-bafda8067998",
              "name": "user_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "db1275b0-01d7-4346-8c31-29e731becb2a",
              "name": "email",
              "value": "={{ $('Buffer').item.json['contact[email]'] }}",
              "type": "string"
            },
            {
              "id": "a00a6e1a-88a8-4b6c-a450-d005e6eaf24a",
              "name": "is_sspl16",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl16datacadastro]'] }}",
              "type": "string"
            },
            {
              "id": "815780b0-5135-4801-b31c-b358da0dfc0e",
              "name": "is_sspl17",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl17datacadastro]'] }}",
              "type": "string"
            },
            {
              "id": "38130edd-d59a-46eb-a3ae-ee1520e3a180",
              "name": "is_sspl18",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl18datacadastro]'] }}",
              "type": "string"
            },
            {
              "id": "0707245f-70da-4312-82c9-d15add462bb8",
              "name": "is_sspl19",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl19datacadastro]'] }}",
              "type": "string"
            },
            {
              "id": "81cc1c36-3666-48fa-8615-13c73866503c",
              "name": "subscription_date",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl19datacadastro]'] }}",
              "type": "string"
            },
            {
              "id": "b2db8c9f-e578-45e0-9d83-6b66be5d3a20",
              "name": "import_workflow",
              "value": "activecampaign",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e64798e4-e250-40f2-9f09-13cc92e8dbba",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        3088,
        704
      ]
    },
    {
      "parameters": {
        "url": "=https://webhook.aconcursos.com.br/webhook/tratativa-google",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "s_ad_id",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl19id]'].split('|').slice(-1)[0] }}"
            },
            {
              "name": "leadID",
              "value": "={{ $node['LeadID'].json['id'] }}"
            },
            {
              "name": "url",
              "value": "={{ $node['Buffer'].json['contact[fields][sspl19url]'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        544
      ],
      "id": "756c1d79-9a7e-4ef0-8846-3c236da96b77",
      "name": "tratativaGoogle",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "launch_leads",
          "mode": "list",
          "cachedResultName": "launch_leads"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node['Buffer'].json[\"contact[email]\"] }}"
            },
            {
              "column": "launch_key",
              "value": "={{ $node['Buffer'].json[\"contact[fields][launchkey]\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1168,
        704
      ],
      "id": "829cd8dc-0495-4ca4-80a6-0b9e570f6587",
      "name": "ExistsOnLL",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1763c4d4-eb3e-4e4e-9c4e-a260a5c13bf6",
              "leftValue": "={{ ($node['ExistsOnLL'].json.id_launch !== undefined && $node['ExistsOnLL'].json.id_launch !== null) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1376,
        400
      ],
      "id": "50ae1715-f2c0-4c95-bc8d-dee16d10ecd8",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1a6ef32-41fa-44b9-97d7-08fcdcd9e467",
              "leftValue": "={{ ($node['ExistsOnLL'].json.id_launch !== undefined && $node['ExistsOnLL'].json.id_launch !== null) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1376,
        704
      ],
      "id": "b838ec02-77ca-405b-84bf-540f91648123",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "funnels_queue",
          "mode": "list",
          "cachedResultName": "funnels_queue"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_funnel_queue",
        "valueToMatchOn": "={{ $('Item').item.json.id_funnel_queue }}",
        "valuesToSend": {
          "values": [
            {
              "column": "is_pending",
              "value": "N"
            },
            {
              "column": "is_ignored",
              "value": "Y"
            },
            {
              "column": "ignored_time",
              "value": "={{ $now }}"
            },
            {
              "column": "ignored_reason",
              "value": "=[#{{ $('ExistsOnLL').item.json.id_launch }}] Execução ignorada pois já existe na launch_leads com ID #{{ $('ExistsOnLL').item.json.id_launch }}, criado via elementor no dia {{ $('ExistsOnLL').item.json.subscription_date }} -> User ID: #{{ $('ExistsOnLL').item.json.user_id }}"
            },
            {
              "column": "execution_time",
              "value": "={{ $now }}"
            },
            {
              "column": "is_processing",
              "value": "N"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1600,
        928
      ],
      "id": "b0ac27ea-bd8c-40ce-aca4-4f79752858d1",
      "name": "SetIgnored",
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM funnels_queue\nWHERE id_funnel_queue = 597516",
        "options": {}
      },
      "id": "b417a1ba-faa9-4d50-a50f-f8ac199bc644",
      "name": "SearchQueue1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        64,
        768
      ],
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        768
      ],
      "id": "86acfe9e-c734-4416-9855-4b1bd3bdde97",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "settings": {
    "errorWorkflow": "HXcAl85buK80GKh9"
  },
  "shared": [
    {
      "updatedAt": "2025-12-03T13:11:13.094Z",
      "createdAt": "2025-12-03T13:11:13.094Z",
      "role": "workflow:owner",
      "workflowId": "HEs0VinuqXWg66Er",
      "projectId": "VuiAAhWq61ItL83O"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-03T14:29:25.472Z",
  "versionId": "cfc6aff3-f922-4dc2-a394-a6056acd83c8"
}