workflows/2026-01-07/gRC5b8EZ4KkXD5O7-A0007 | Pesquisa | Active | queue -> survey_answers.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchQueue": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item": {
      "main": [
        [
          {
            "node": "Executar Tentativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer": {
      "main": [
        [
          {
            "node": "CheckLeadExists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Tentativa": {
      "main": [
        [
          {
            "node": "Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckLeadExists": {
      "main": [
        [
          {
            "node": "LeadExists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LeadExists": {
      "main": [
        [
          {
            "node": "LeadID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateLead": {
      "main": [
        [
          {
            "node": "LeadID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "SearchQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "attPending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item2": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LeadID": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "attPending": {
      "main": [
        [
          {
            "node": "SetScoreUncalculated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetScoreUncalculated": {
      "main": [
        [
          {
            "node": "Item2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Tentativa1": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "CreateLead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Executar Tentativa1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign1": {
      "main": [
        [
          {
            "node": "Add a contact tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-02T11:09:10.203Z",
  "id": "gRC5b8EZ4KkXD5O7",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "A0007 | Pesquisa | Active | queue -> survey_answers",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "a06a7774-ba07-41a2-8b25-6c8b2ec433b8",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        80
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "survey_queue",
          "mode": "list",
          "cachedResultName": "survey_queue"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "is_pending",
              "value": "Y"
            },
            {
              "column": "tries_count",
              "condition": "<=",
              "value": "4"
            },
            {
              "column": "launch_tag",
              "value": "SSP-L20"
            },
            {
              "column": "action_source",
              "value": "ActiveCampaign"
            }
          ]
        },
        "options": {}
      },
      "id": "3c759788-40f8-4691-ac24-1fcc520bb3bb",
      "name": "SearchQueue",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        128,
        80
      ],
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "content": "Busca pelos movimentos aguardando execução",
        "height": 241.03800589349822,
        "width": 385.4528310908945
      },
      "id": "96693c15-286a-45d4-81b9-666b71b587b1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        0
      ]
    },
    {
      "parameters": {},
      "id": "1347fc79-4173-48af-abf7-5030592c2c54",
      "name": "Item",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "let request = $node[\"Item\"].json[\"request_body\"]\nlet bufferObj = Buffer.from(request, \"base64\");\nlet decodedString = bufferObj.toString(\"utf8\");\nlet json = JSON.parse(decodedString);\nreturn json;"
      },
      "id": "0cf6f9ca-1add-4817-9da6-3210a64407e9",
      "name": "Buffer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "survey_queue",
          "mode": "list",
          "cachedResultName": "survey_queue"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_survey_queue",
        "valueToMatchOn": "={{ $node[\"Item\"].json[\"id_survey_queue\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "tries_count",
              "value": "={{ $json[\"tries_count\"] + 1}}"
            }
          ]
        },
        "options": {}
      },
      "id": "64473a07-730b-48c8-a270-cb424e7b0ba1",
      "name": "Executar Tentativa",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        768,
        240
      ],
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $('Buffer').item.json['contact[email]'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d4b28d21-bf07-4219-bdbe-b3b53d64f907",
      "name": "CheckLeadExists",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1120,
        240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "45cb854a-c21c-483c-8183-c76571dd6b33",
              "leftValue": "={{ $node['CheckLeadExists'].json[\"id_user\"] ?? 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b07574c6-aa85-47a8-9692-536c946c25c2",
      "name": "LeadExists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1344,
        240
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "email",
        "valueToMatchOn": "={{ $('Buffer').item.json[\"contact[email]\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "name",
              "value": "={{ $json.firstName || null}}"
            },
            {
              "column": "ext_id",
              "value": "={{ $('Buffer').item.json[\"contact[email]\"] }}"
            },
            {
              "column": "phone",
              "value": "={{ $('Buffer').item.json[\"contact[phone]\"] }}"
            },
            {
              "column": "create_time",
              "value": "={{ $('Buffer').item.json.submitteAt !== undefined ? $('Buffer').item.json.submitteAt : $json.created_timestamp }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "e154262e-66ee-4d99-b958-70886e70af40",
      "name": "CreateLead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1952,
        384
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "additionalFields": {
          "email": "={{ $('Buffer').item.json[\"contact[email]\"] }}",
          "orderBy": "orders[cdate]"
        }
      },
      "id": "b7f91185-9e9b-457d-93fa-d8350beb15af",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1568,
        384
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "fy3czEO2IaUXXxnk",
          "name": "https://aceleraconcursos.activehosted.com/"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "476338c5-520c-413c-b54b-7db15133206f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -96,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1222e092-943d-46ac-aa04-a04a931c2fd0",
              "name": "user_id",
              "value": "={{ $node['LeadID'].json['id'] }}",
              "type": "string"
            },
            {
              "id": "fbc2d09d-9251-41cc-882d-87c59dedf3a0",
              "name": "subscription_time",
              "value": "={{ $('Buffer').item.json['contact[fields][sspl19datacadastro]'] ?? $now}}",
              "type": "string"
            },
            {
              "id": "e80815b9-08f1-4c7f-a177-cb690ab4169c",
              "name": "form_id",
              "value": 6,
              "type": "number"
            },
            {
              "id": "0c9164da-326e-43ff-928e-f835fdd800eb",
              "name": "lauch_key",
              "value": "={{ $('Buffer').item.json[\"contact[fields][launchkey]\"] }}",
              "type": "string"
            },
            {
              "id": "cf9e0beb-f429-48c0-828d-2301c9a1e796",
              "name": "answers_1",
              "value": "={{ $('Buffer').item.json['contact[email]'] }}",
              "type": "string"
            },
            {
              "id": "6d29cbca-045e-4abe-860d-3abce5498d93",
              "name": "answers_2",
              "value": "={{ $('Buffer').item.json[\"contact[fields][sspidade]\"] }}",
              "type": "string"
            },
            {
              "id": "4f057062-f0c3-4025-9d80-6dd82ab5092f",
              "name": "answers_3",
              "value": "={{ $('Buffer').item.json[\"contact[fields][ssppcd]\"] }}",
              "type": "string"
            },
            {
              "id": "2d3bb4c2-e0f6-49c8-91fc-6efbfa544f80",
              "name": "answers_5",
              "value": "={{ $('Buffer').item.json['contact[fields][sspsituacaoprofissional]'] }}",
              "type": "string"
            },
            {
              "id": "a28e817d-efa5-4739-9ae0-fd0b21f40893",
              "name": "answers_6",
              "value": "={{ $('Buffer').item.json['contact[fields][ssprendaatual]'] }}",
              "type": "string"
            },
            {
              "id": "239ae89b-e07a-4bb3-97fa-3f50c9e8b574",
              "name": "answers_7",
              "value": "={{ $('Buffer').item.json['contact[fields][sspformacaoacademica]'] }}",
              "type": "string"
            },
            {
              "id": "468998ac-6497-4b38-8731-2105d4e96558",
              "name": "answers_11",
              "value": "={{ $('Buffer').item.json['contact[fields][sspgenero]'] }}",
              "type": "string"
            },
            {
              "id": "30141213-8d2f-462f-9f3c-692ebc9bc37b",
              "name": "answers_12",
              "value": "={{ $('Buffer').item.json['contact[fields][sspestadocivil]'] }}",
              "type": "string"
            },
            {
              "id": "ca208e24-c1ce-409c-9e79-dca1e69e30e8",
              "name": "answers_13",
              "value": "={{ $('Buffer').item.json['contact[fields][ssplocalidade]'] }}",
              "type": "string"
            },
            {
              "id": "057e989c-0a6c-4b7a-b96e-836aa289ce3b",
              "name": "answers_14",
              "value": "={{ $('Buffer').item.json['contact[fields][sspsabenadar]'] }}",
              "type": "string"
            },
            {
              "id": "f02ff639-ccba-4619-8bc2-fb748e6d5aa4",
              "name": "answers_15",
              "value": "={{ $('Buffer').item.json['contact[fields][sspgostaredacao]'] }}",
              "type": "string"
            },
            {
              "id": "bc088a68-b6c2-429b-a56f-aec6275e58bb",
              "name": "answers_16",
              "value": "={{ $('Buffer').item.json['contact[fields][sspmetasalarial]'] }}",
              "type": "string"
            },
            {
              "id": "ef65a721-175e-4ed9-be28-02c899331774",
              "name": "answers_17",
              "value": "={{ $('Buffer').item.json['contact[fields][sspprimeiracoisaplr]'] }}",
              "type": "string"
            },
            {
              "id": "9b2b1658-9cde-4ae3-9fa7-6adbf1ead177",
              "name": "answers_18",
              "value": "={{ $('Buffer').item.json['contact[fields][sspfaturacartao]'] }}",
              "type": "string"
            },
            {
              "id": "36867f66-4587-49d2-b8bb-d6a1a3ad7d4b",
              "name": "answers_19",
              "value": "={{ $('Buffer').item.json['contact[fields][sspmetasalarialaposentadoria]'] }}",
              "type": "string"
            },
            {
              "id": "2c318168-5bd0-4ce1-91c6-da17c3861f6f",
              "name": "answers_20",
              "value": "={{ $('Buffer').item.json['contact[fields][sspondetrabalhar]'] }}",
              "type": "string"
            },
            {
              "id": "045cfda8-9889-4951-b4e4-7ee4ca15fab8",
              "name": "answers_4",
              "value": "={{ $('Buffer').item.json['contact[fields][sspcarreira]'] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2352,
        224
      ],
      "id": "7c1717f6-a65e-45fe-b858-eea4ddae75fb",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "survey_answers",
          "mode": "list",
          "cachedResultName": "survey_answers"
        },
        "columnToMatchOn": "user_id",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2528,
        224
      ],
      "id": "8fbe6dc7-22f0-4572-a8b4-3def6a98c5c9",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {},
      "id": "8b1dd901-abf5-430e-923b-e2b4dce94979",
      "name": "Item2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3200,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "let search =$node['CheckLeadExists'].runIndex >= 0 &&  $node['CheckLeadExists'].json['id_user'] !== undefined ? $node['CheckLeadExists'].json['id_user'] : 0;\nlet create =  $node['CreateLead'].runIndex >= 0 &&  $node['CreateLead'].json[\"data\"][\"insertId\"] !== undefined ? $node['CreateLead'].json[\"data\"][\"insertId\"] : 0;\n\n\nif(create > 0) return {id: create};\nreturn {id: search};"
      },
      "id": "c6526e8c-2468-4ab7-9518-551d290dbf1f",
      "name": "LeadID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        224
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "survey_queue",
          "mode": "list",
          "cachedResultName": "survey_queue"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_survey_queue",
        "valueToMatchOn": "={{ $node[\"Item\"].json[\"id_survey_queue\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "is_pending",
              "value": "=N"
            }
          ]
        },
        "options": {}
      },
      "id": "1c68fb03-6b6c-4f6a-9c03-eb6a3f7f05fd",
      "name": "attPending",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2704,
        224
      ],
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "content": "alterar set launchtag e formId",
        "height": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        -16
      ],
      "typeVersion": 1,
      "id": "a8265d80-1e87-4c7d-808d-675c389137ad",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE launch_leads SET is_score_calculated = 'N' WHERE launch_key = $1 AND user_id = $2",
        "options": {
          "queryReplacement": "={{ $('Item').item.json.launch_tag }},{{ $('LeadID').item.json.id }}",
          "detailedOutput": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2912,
        224
      ],
      "id": "0a60abff-783f-4bde-98fd-48312e6b226a",
      "name": "SetScoreUncalculated",
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "survey_queue",
          "mode": "list",
          "cachedResultName": "survey_queue"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_survey_queue",
        "valueToMatchOn": "={{ $node[\"Item\"].json[\"id_survey_queue\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "ignored_reason",
              "value": "=Contato não encontrado no ActiveCampaign"
            },
            {
              "column": "is_pending",
              "value": "N"
            }
          ]
        },
        "options": {}
      },
      "id": "4557b317-b1c2-4cee-a9d8-ab752bb9bc88",
      "name": "Executar Tentativa1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2032,
        576
      ],
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c1ba5c0-fabb-4c0d-aa2f-24a8e715ad44",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        400
      ],
      "id": "1b7609dc-d4ea-4d5f-9bd3-3515cf075c4c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "additionalFields": {
          "email": "=lorenzo.sarcinelli@gmail.com",
          "orderBy": "orders[cdate]"
        }
      },
      "id": "ae05a658-01eb-44c8-8312-20c928898149",
      "name": "ActiveCampaign1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1504,
        -256
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "fy3czEO2IaUXXxnk",
          "name": "https://aceleraconcursos.activehosted.com/"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "=541",
        "contactId": 0
      },
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1712,
        -256
      ],
      "id": "7b172ec2-85ad-46d5-bb68-6554e73274b9",
      "name": "Add a contact tag",
      "credentials": {
        "activeCampaignApi": {
          "id": "fy3czEO2IaUXXxnk",
          "name": "https://aceleraconcursos.activehosted.com/"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "errorWorkflow": "HXcAl85buK80GKh9"
  },
  "shared": [
    {
      "updatedAt": "2025-10-02T11:09:10.203Z",
      "createdAt": "2025-10-02T11:09:10.203Z",
      "role": "workflow:owner",
      "workflowId": "gRC5b8EZ4KkXD5O7",
      "projectId": "VuiAAhWq61ItL83O"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-05T23:44:49.125Z",
  "versionId": "5a89960a-50c8-42f7-99d2-e666857afe3d"
}