workflows/2026-01-24/0060T1UvBTjxglYq-retroativo utm TMB.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "searchPurchases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "searchPurchases": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-07T12:56:57.915Z",
  "id": "0060T1UvBTjxglYq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "retroativo utm TMB",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        96
      ],
      "id": "a9b4ae4e-f693-4451-bc54-55a75f6142e7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Im-kRK57BLyv4dw4FCmICVPYJiIZtEMKZzqvZuTuaYY/edit?pli=1&gid=1776096307#gid=1776096307",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1776096307,
          "mode": "list",
          "cachedResultName": "pedidos_06012026_1514",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im-kRK57BLyv4dw4FCmICVPYJiIZtEMKZzqvZuTuaYY/edit#gid=1776096307"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        96
      ],
      "id": "bac68e1c-148a-4aa4-8cca-75f15248b42a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SN6RzeMl3gN9prB4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2ec0db49-8a12-4af4-92e6-d29d2c536e9b",
              "leftValue": "={{ $json[\"utm_source\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "3283d142-af0d-4216-8102-26ef73a5aae8",
              "leftValue": "={{ $json.utm_last_source }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        160,
        96
      ],
      "id": "692c7d42-8d00-4919-80f8-5bbba5132532",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        368,
        96
      ],
      "id": "ee1c729c-fcec-42b7-992f-644ac06bdf55",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        576,
        192
      ],
      "id": "0f6f1290-cb26-4716-8269-6728fba11215"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbb10dba-514c-4b0c-a748-49b88ab2c7cb",
              "leftValue": "={{ $node[\"searchPurchases\"].json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        192
      ],
      "id": "11c994e3-053e-4f43-8c62-ea7db45df60e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "purchases_new",
          "mode": "list",
          "cachedResultName": "purchases_new"
        },
        "where": {
          "values": [
            {
              "column": "ext_id",
              "value": "={{ $json[\"Pedido\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        768,
        192
      ],
      "id": "8e69abc7-e84c-4e37-b85b-4f93e0654749",
      "name": "searchPurchases",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1216,
        304
      ],
      "id": "03cf7dd4-302f-400e-af02-63615ea56446"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me2",
      "typeVersion": 1,
      "position": [
        1216,
        64
      ],
      "id": "c58e85b1-f32c-4540-a3d7-e3d53658d5d8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea44ae89-1f18-4c57-8e26-46f741d667e7",
              "name": "id_transaction",
              "value": "={{ $json.id_transaction }}",
              "type": "number"
            },
            {
              "id": "369d9984-da4e-495b-801d-4bdd17ce4b6f",
              "name": "utm_source",
              "value": "={{ $node[\"Replace Me1\"].json[\"utm_last_source\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        304
      ],
      "id": "62889064-ae5e-4c31-b9e2-841af8e89023",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "purchases_new",
          "mode": "list",
          "cachedResultName": "purchases_new"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_transaction",
        "valueToMatchOn": "={{ $json[\"id_transaction\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "utm_source",
              "value": "={{ $json[\"utm_source\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1632,
        304
      ],
      "id": "2029ba3f-6fac-4f63-b7ae-28455e1ab2b8",
      "name": "Update rows in a table",
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-07T12:56:57.915Z",
      "createdAt": "2026-01-07T12:56:57.915Z",
      "role": "workflow:owner",
      "workflowId": "0060T1UvBTjxglYq",
      "projectId": "VuiAAhWq61ItL83O"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-07T21:11:02.558Z",
  "versionId": "c2039ff0-8bcb-4c5b-81e9-c6fdd2263921"
}