workflows/2026-01-24/CBt9QPJiM3lqANdX-Retroativo TMB.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-23T20:34:31.520Z",
    "createdAt": "2026-01-23T20:34:31.520Z",
    "versionId": "46b5be7a-fa9d-4502-ba4d-ec58041b7a46",
    "workflowId": "CBt9QPJiM3lqANdX",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "seconds",
                "secondsInterval": 5
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -784,
          16
        ],
        "id": "d39876af-2b32-40b5-b60b-77a9750f7158",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "23/01/26 | 15:51:29",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "STATUS"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -576,
          16
        ],
        "id": "58ed38b7-0a2a-4345-9a84-2223b86ad3e4",
        "name": "getPurhcasesTMB",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "SN6RzeMl3gN9prB4",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "keep": "lastItems"
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -368,
          16
        ],
        "id": "e14fcd99-16a3-4438-9d07-0fa02600b45b",
        "name": "Limit"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "offers",
            "mode": "list",
            "cachedResultName": "offers"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "offer_ext",
                "value": "={{ $item(\"0\").$node[\"Buffer\"].json['body'][\"code\"] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "2e63406c-9f90-448e-8be4-f51b46fab86b",
        "name": "Get_oferta",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          32,
          1008
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "product_id",
                "value": "={{ $('IF_produto').item.json.id_product }}"
              },
              {
                "name": "offer_ext",
                "value": "={{ $item(\"0\").$node[\"Buffer\"].json['body'][\"code\"] }}"
              },
              {
                "name": "offer_name",
                "value": "={{ $('Buffer').item.json.body.titulo }}"
              },
              {
                "name": "offer_price",
                "value": "={{ $('Buffer').item.json.body.valor_principal }}"
              },
              {
                "name": "update_time",
                "value": "={{ $now }}"
              }
            ]
          },
          "options": {}
        },
        "id": "d29f76bd-da5d-4ff0-94e3-9572366a9e5b",
        "name": "Set1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          480,
          1024
        ]
      },
      {
        "parameters": {
          "table": {
            "__rl": true,
            "value": "offers",
            "mode": "list",
            "cachedResultName": "offers"
          },
          "options": {}
        },
        "id": "b7be0f41-87a4-4108-ba00-a59e93ec16a6",
        "name": "MySQL1",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          688,
          1024
        ],
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "products",
            "mode": "list",
            "cachedResultName": "products"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "product_ext",
                "value": "={{ $json[\"Oferta\"] === 'Acelerador Nível Médio - OPERA2601' ? 12902 : 12901 }}"
              }
            ]
          },
          "options": {}
        },
        "id": "2f0e5987-40c2-4884-8337-8ca52626cd1b",
        "name": "Get_produto",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          256,
          128
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json }}",
                "operation": "isNotEmpty"
              }
            ]
          }
        },
        "id": "92d3a7cf-4c3d-4f62-8bd1-25988c3761e6",
        "name": "IF_produto",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -192,
          1184
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json }}",
                "operation": "isNotEmpty"
              }
            ]
          }
        },
        "id": "84323a3c-5bd6-45db-aedb-d214bc12f102",
        "name": "IF_oferta",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          256,
          1008
        ]
      },
      {
        "parameters": {
          "table": {
            "__rl": true,
            "value": "users",
            "mode": "list",
            "cachedResultName": "users"
          },
          "options": {}
        },
        "id": "e97ccea5-b0be-4fc9-87aa-f011ae6db07e",
        "name": "MySQL3",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          1360,
          832
        ],
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "users",
            "mode": "list",
            "cachedResultName": "users"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "email",
                "value": "={{ $item(\"0\").$node[\"Buffer\"].json['body'][\"email\"] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "0ea93ca5-f7f1-4f05-8de6-e09b6cc94dae",
        "name": "Get_user",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          688,
          800
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json }}",
                "operation": "isNotEmpty"
              }
            ]
          }
        },
        "id": "c4d8fcb7-70cc-4b10-bb4f-0a7c8b82a89d",
        "name": "IF_user",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          912,
          800
        ]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "name",
                "value": "={{ $('Buffer').item.json.body.cliente || null }}"
              },
              {
                "name": "ext_id",
                "value": "={{$('Buffer').item.json.body.email}}"
              },
              {
                "name": "email",
                "value": "={{$('Buffer').item.json.body.email}}"
              },
              {
                "name": "phone",
                "value": "={{ $('Buffer').item.json.body.telefone || null}}"
              },
              {
                "name": "document",
                "value": "={{ $('Buffer').item.json.body.documento }}"
              },
              {
                "name": "update_time",
                "value": "={{ $now }}"
              }
            ]
          },
          "options": {}
        },
        "id": "8aa9fadc-2bc3-495f-8889-1e18a06a397d",
        "name": "Set4",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          1136,
          832
        ]
      },
      {
        "parameters": {
          "table": {
            "__rl": true,
            "value": "transactions_new",
            "mode": "list",
            "cachedResultName": "transactions_new"
          },
          "options": {}
        },
        "id": "ad339da1-8274-4d80-bb7a-de2ecefb684e",
        "name": "MySQL7",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          2016,
          640
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              {
                "name": "id_sql",
                "value": "={{ $('IF5').item.json.id_sql }}"
              },
              {
                "name": "foi",
                "value": "=1"
              },
              {
                "name": "processada",
                "value": "={{ $now }}"
              }
            ]
          },
          "options": {}
        },
        "id": "69b5a76e-6610-4588-bec8-899f420c6fbe",
        "name": "Set6",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          2240,
          640
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "table": {
            "__rl": true,
            "value": "TMB_Vendas",
            "mode": "list",
            "cachedResultName": "TMB_Vendas"
          },
          "columnToMatchOn": "id_sql",
          "options": {}
        },
        "id": "240412a7-7bc7-4233-baaf-45a787f7f79e",
        "name": "MySQL8",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          2464,
          640
        ],
        "credentials": {
          "mySql": {
            "id": "6cR89c3DkwiktSiW",
            "name": "MySQL Vendas"
          }
        }
      },
      {
        "parameters": {
          "unit": "seconds"
        },
        "id": "4dfb7b21-50f0-4ae8-a520-a46394af51ad",
        "name": "Wait1",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          912,
          1024
        ],
        "webhookId": "7a02d984-ca47-469e-be0e-0df593302e88"
      },
      {
        "parameters": {
          "unit": "seconds"
        },
        "id": "e8d4a9c9-b3aa-4849-b092-8110e4309ecb",
        "name": "Wait2",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          1584,
          832
        ],
        "webhookId": "62b24741-5650-4d92-b4b1-90869132bea9"
      },
      {
        "parameters": {
          "operation": "subtractFromDate",
          "magnitude": "={{ $('Buffer').item.json.data_efetivado }}",
          "timeUnit": "hours",
          "options": {}
        },
        "id": "2b5bd879-f858-497e-8c29-b365b7b48aed",
        "name": "Date & Time",
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          1360,
          640
        ]
      },
      {
        "parameters": {
          "operation": "addToDate",
          "magnitude": "={{ $json.newDate }}",
          "options": {}
        },
        "id": "dd0d1205-3c9f-4e27-8787-a97f29d3fb0b",
        "name": "Date & Time1",
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          1584,
          640
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://{{ $execution.resumeUrl.extractDomain() }}/webhook/{{ $('Webhook').params[\"path\"] }}",
          "options": {}
        },
        "id": "2a5b332e-32ed-419c-8b40-9982275c2ca0",
        "name": "HTTP Request2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          2688,
          640
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://{{ $execution.resumeUrl.extractDomain() }}/webhook/{{ $('Webhook').params[\"path\"] }}",
          "options": {}
        },
        "id": "63cc5400-ba60-4de2-95d1-640bc854ef7d",
        "name": "HTTP Request3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -400,
          992
        ]
      },
      {
        "parameters": {},
        "id": "29013040-1aff-41a1-84b0-cd960d66686a",
        "name": "No Operation, do nothing",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1136,
          640
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://webhook.aconcursos.com.br/webhook/transaction-tmb",
          "options": {}
        },
        "id": "9dd0c43b-def4-4f76-b276-d9571ff55623",
        "name": "HTTP Request4",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -400,
          832
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cefe7454-c76c-40c2-9041-8dd3e4f9a955",
                "name": "ext_id",
                "value": "={{ $('Buffer').item.json.body.pedido }}",
                "type": "string"
              },
              {
                "id": "b8377aee-4911-47da-8079-74bb66dcba00",
                "name": "product_id",
                "value": "={{ $('Get_produto').item.json.id_product }}",
                "type": "string"
              },
              {
                "id": "7f9da3cb-a01d-4704-9b5b-86bb01fe50ca",
                "name": "offer_id",
                "value": "={{ $('Get_oferta').item.json.id_offer }}",
                "type": "string"
              },
              {
                "id": "ca4acba6-b616-4597-8705-61e69de15b96",
                "name": "user_id",
                "value": "={{ $('Get_user').item.json.id_user }}",
                "type": "string"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj1",
                "name": "payment_method",
                "type": "string",
                "value": "=Boleto parcelado"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj2",
                "name": "payment_price",
                "type": "string",
                "value": "={{ $('Buffer').item.json.body.valor_principal || 0}}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj3",
                "name": "installments",
                "type": "string",
                "value": "={{ $('Buffer').item.json.body.parcelas }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj4",
                "name": "approved_date",
                "type": "string",
                "value": "={{ $('Buffer').item.json.body.data_efetivado }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj5",
                "name": "warranty_expire_date",
                "type": "string"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudf6j",
                "name": "order_date",
                "type": "string",
                "value": "={{ $('Buffer').item.json.body.criado_em }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj7",
                "name": "commision_value",
                "type": "string",
                "value": "={{ $('Buffer').item.json.body.valor_total - $('Buffer').item.json.body.taxa_administracao || null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj8",
                "name": "platform",
                "type": "string",
                "value": "tmb"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj9",
                "name": "commission_plataform",
                "type": "string",
                "value": "={{ $('Buffer').item.json.body.taxa_administracao }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj0",
                "name": "currency",
                "type": "string",
                "value": "=BRL"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia1fpudfj",
                "name": "utm_source",
                "type": "string",
                "value": "={{ $('Buffer').item.json.body.utm_source || null}}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia2fpudfj",
                "name": "utm_medium",
                "type": "string",
                "value": "={{ $('Buffer').item.json.body.utm_medium || null}}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia3fpudfj",
                "name": "utm_campaign",
                "type": "string",
                "value": "={{ $('Buffer').item.json.body.utm_campaign || null}}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia4fpudfj",
                "name": "utm_term",
                "type": "string",
                "value": "={{ $('Buffer').item.json.body.utm_term || null}}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia5fpudfj",
                "name": "utm_content",
                "type": "string",
                "value": "={{ $('Buffer').item.json.body.utm_content }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia6fpudfj",
                "name": "sck",
                "type": "string"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia7fpudfj",
                "name": "src",
                "type": "string",
                "value": "={{ $('Buffer').item.json.body.src || null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia8fpudfj",
                "name": "campaign_id",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia9fpudfj",
                "name": "adset_id",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia0fpudfj",
                "name": "ad_id",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdf1uibhiafpudfj",
                "name": "xcod",
                "type": "string",
                "value": "={{ $('Buffer').item.json.body.src || null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdf2uibhiafpudfj",
                "name": "cycle",
                "type": "string",
                "value": "={{ $('Buffer').item.json.body.status_pedido === 'Cancelado' ? '0' : 1 }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdf3uibhiafpudfj",
                "name": "status",
                "type": "string",
                "value": "={{ $('Buffer').item.json.body.status_pedido || null}}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdf4uibhiafpudfj",
                "name": "installments_value",
                "type": "string",
                "value": "={{ $('Buffer').item.json.body.valor_parcela }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfu5ibhiafpudfj",
                "name": "commission_affiliate",
                "type": "string",
                "value": "={{ 0 }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugd6fuibhiafpudfj",
                "name": "code_affiliate",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugd7fuibhiafpudfj",
                "name": "name_affiliate",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugd8fuibhiafpudfj",
                "name": "purchase_type",
                "type": "string",
                "value": "venda"
              },
              {
                "id": "aopgghaofhbuiahfbaiugd9fuibhiafpudfj",
                "name": "cancelled_time",
                "type": "string",
                "value": "={{ $('Buffer').item.json.body.status_pedido === 'Cancelado' ? $('Buffer').item.json.body.data_cancelado : null }}"
              },
              {
                "id": "7e0ef0d0-1682-4e3f-91d0-dad2a3514aef",
                "name": "json_vendas_id",
                "value": "={{ $item(\"0\").$node[\"IF5\"].json[\"id_sql\"] }}",
                "type": "string"
              },
              {
                "id": "96a8c2b5-3f86-4a11-9158-39e298dd67e3",
                "name": "is_processed",
                "value": "={{ 'N' }}",
                "type": "string"
              },
              {
                "id": "15475413-fc56-4167-884f-9b8bacd618d8",
                "name": "entry_value",
                "value": "={{ $('Buffer').item.json.body.valor_entrada || 0 }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1808,
          640
        ],
        "id": "e00e04ae-a300-4a73-9a86-24c0d7c6d5e6",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              {
                "name": "ext_id",
                "value": "={{ $('Buffer').item.json.body.pedido }}"
              },
              {
                "name": "invoice_code",
                "value": "={{ $('Buffer').item.json.body.id }}"
              },
              {
                "name": "installments_number",
                "value": "={{ $('Buffer').item.json.body.parcelas }}"
              },
              {
                "name": "invoice_discount",
                "value": "={{ $('Buffer').item.json.body.payment.discount_value }}"
              },
              {
                "name": "invoice_id",
                "value": "={{ $('Buffer').item.json.body.id }}"
              },
              {
                "name": "invoice_increment_value",
                "value": "={{ $('Buffer').item.json.body.invoice.increment_value }}"
              },
              {
                "name": "invoice_payment_url",
                "value": "={{ $('Buffer').item.json.body.checkout_url }}"
              },
              {
                "name": "invoice_period_start",
                "value": "={{ $('Date & Time').item.json.newDate }}"
              },
              {
                "name": "invoice_period_end",
                "value": "={{ $json.newDate }}"
              },
              {
                "name": "invoice_subscription_id",
                "value": "={{ $('Buffer').item.json.invoice.id }}"
              },
              {
                "name": "invoice_status",
                "value": "={{ $('Buffer').item.json.status_pedido }}"
              },
              {
                "name": "invoice_type",
                "value": "={{ $('Buffer').item.json.status_financeiro }}"
              },
              {
                "name": "invoice_next_cycle",
                "value": "={{ null }}"
              },
              {
                "name": "subscriber_id",
                "value": "={{ $('Buffer').item.json.email }}"
              },
              {
                "name": "subscriber_internal_id",
                "value": "={{ $('No Operation, do nothing').item.json.id_user }}"
              },
              {
                "name": "subscriber_name",
                "value": "={{ $('Buffer').item.json.cliente }}"
              },
              {
                "name": "subscriber_email",
                "value": "={{ $('Buffer').item.json.email }}"
              },
              {
                "name": "subscriber_phone",
                "value": "={{ $('Buffer').item.json.telefone_ativo }}"
              },
              {
                "name": "subscriber_doc",
                "value": "={{ $('Buffer').item.json.documento }}"
              },
              {
                "name": "subscriber_status"
              },
              {
                "name": "contact_address",
                "value": "={{ $('Buffer').item.json.endereco_completo }}"
              },
              {
                "name": "contact_address_city",
                "value": "={{ $('Buffer').item.json.endereco_cidade }}"
              },
              {
                "name": "contact_address_comp",
                "value": "={{ $('Buffer').item.json.endereco_complemento }}"
              },
              {
                "name": "contact_address_country",
                "value": "={{ $('Buffer').item.json.endereco_pais }}"
              },
              {
                "name": "contact_address_district",
                "value": "={{ $('Buffer').item.json.endereco_bairro }}"
              },
              {
                "name": "contact_address_number",
                "value": "={{ $('Buffer').item.json.endereco_numero }}"
              },
              {
                "name": "contact_address_state",
                "value": "={{ $('Buffer').item.json.endereco_estado }}"
              },
              {
                "name": "contact_address_full_name",
                "value": "={{ $('Buffer').item.json.endereco_completo }}"
              },
              {
                "name": "contact_address_zip_code",
                "value": "={{ $('Buffer').item.json.endereco_cep }}"
              },
              {
                "name": "product_id",
                "value": "={{ $('IF_produto').item.json.id_product }}"
              },
              {
                "name": "product_marketplace_id",
                "value": "={{ $('IF_produto').item.json.product_ext }}"
              },
              {
                "name": "product_name",
                "value": "={{ $('IF_produto').item.json.product_name }}"
              },
              {
                "name": "product_offer_id",
                "value": "={{ $('IF_oferta').item.json.id_offer }}"
              },
              {
                "name": "product_offer_name",
                "value": "={{ $('IF_oferta').item.json.offer_name }}"
              },
              {
                "name": "payment_method",
                "value": "=Boleto parcelado"
              },
              {
                "name": "payment_price",
                "value": "={{ $('Buffer').item.json.valor_principal }}"
              },
              {
                "name": "queue_json_id",
                "value": "={{ $('IF5').item.json.id_sql }}"
              },
              {
                "name": "utm_source",
                "value": "={{ $('Buffer').item.json.utm_source }}"
              },
              {
                "name": "utm_campaign",
                "value": "={{ $('Buffer').item.json.utm_campaign }}"
              },
              {
                "name": "utm_medium",
                "value": "={{ $('Buffer').item.json.utm_medium }}"
              },
              {
                "name": "utm_content",
                "value": "={{ $('Buffer').item.json.utm_content }}"
              },
              {
                "name": "utm_term",
                "value": "="
              },
              {
                "name": "commision_value",
                "value": "={{ $('Buffer').item.json.valor_principal - $('Buffer').item.json.taxa_administracao }}"
              },
              {
                "name": "platform",
                "value": "TMB"
              },
              {
                "name": "commission_affiliate",
                "value": "={{ $('Buffer').item.json.payment.affiliate_value }}"
              },
              {
                "name": "invoice_cycle",
                "value": "1"
              },
              {
                "name": "product_value",
                "value": "={{ $('Buffer').item.json.valor_principal }}"
              },
              {
                "name": "currency",
                "value": "BRL"
              }
            ]
          },
          "options": {}
        },
        "id": "08547f4e-2d36-4789-acc8-419b5a5e30a9",
        "name": "Set7",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          1808,
          976
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -160,
          16
        ],
        "id": "efe4e2f8-1630-4c12-990b-c8cf7c65b860",
        "name": "Loop Over Items"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "name": "Buffer",
        "typeVersion": 1,
        "position": [
          48,
          128
        ],
        "id": "cb73517e-6ca5-4594-a8ca-c37058ebd91b"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "offers",
            "mode": "list",
            "cachedResultName": "offers"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "offer_ext",
                "value": "={{ $json[\"Oferta\"] === 'Acelerador Nível Médio - OPERA2601' ? 'RLN1545037C' : '0UQ154496HS' }}"
              }
            ]
          },
          "options": {}
        },
        "id": "42ce7658-5e4f-4490-9ab1-1a991e7761c4",
        "name": "Get_oferta1",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          448,
          128
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "table": {
            "__rl": true,
            "value": "users",
            "mode": "list",
            "cachedResultName": "users"
          },
          "options": {}
        },
        "id": "11ed035b-bea7-41bd-a516-fe187ecc6762",
        "name": "MySQL",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          1344,
          224
        ],
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "users",
            "mode": "list",
            "cachedResultName": "users"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "email",
                "value": "={{ $node[\"Buffer\"].json[\"Cliente Email\"] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "c4b72327-5a39-45ce-ab0d-4f012579d300",
        "name": "Get_user1",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          704,
          128
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json }}",
                "operation": "isNotEmpty"
              }
            ]
          }
        },
        "id": "8410af9c-4822-43d4-becd-876e6926e3ea",
        "name": "IF_user1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          928,
          128
        ]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "name",
                "value": "={{ $node[\"Buffer\"].json[\"Cliente Nome\"] || null}}"
              },
              {
                "name": "ext_id",
                "value": "={{ $node[\"Buffer\"].json[\"Cliente Email\"] }}"
              },
              {
                "name": "email",
                "value": "={{ $node[\"Buffer\"].json[\"Cliente Email\"] }}"
              },
              {
                "name": "phone",
                "value": "={{ $node[\"Buffer\"].json[\"Telefone\"] }}"
              },
              {
                "name": "document",
                "value": "={{ $node[\"Buffer\"].json[\"Cliente CPF\"] }}"
              },
              {
                "name": "update_time",
                "value": "={{ $now }}"
              }
            ]
          },
          "options": {}
        },
        "id": "805978a1-7ce8-46f3-a79f-df9061c90fba",
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          1120,
          224
        ]
      },
      {
        "parameters": {
          "unit": "seconds"
        },
        "id": "507ade01-3750-4372-b816-7cd7f3981eba",
        "name": "Wait",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          1568,
          224
        ],
        "webhookId": "62b24741-5650-4d92-b4b1-90869132bea9"
      },
      {
        "parameters": {
          "table": {
            "__rl": true,
            "value": "transactions_new",
            "mode": "list",
            "cachedResultName": "transactions_new"
          },
          "options": {}
        },
        "id": "3d15b5c3-7938-4157-9046-44445929e1f4",
        "name": "MySQL9",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          2000,
          32
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              {
                "name": "row_number",
                "value": "={{ $node[\"Buffer\"].json[\"row_number\"] }}"
              },
              {
                "name": "STATUS",
                "value": "=PROCESSADA"
              }
            ]
          },
          "options": {}
        },
        "id": "e6509741-2abe-4730-9734-e5087a5174a1",
        "name": "Set8",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          2224,
          272
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "table": {
            "__rl": true,
            "value": "TMB_Vendas",
            "mode": "list",
            "cachedResultName": "TMB_Vendas"
          },
          "columnToMatchOn": "id_sql",
          "options": {}
        },
        "id": "98606e9e-55b9-4705-bf2e-02fd12642ef4",
        "name": "MySQL10",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          2448,
          32
        ],
        "credentials": {
          "mySql": {
            "id": "6cR89c3DkwiktSiW",
            "name": "MySQL Vendas"
          }
        }
      },
      {
        "parameters": {
          "operation": "subtractFromDate",
          "magnitude": "={{ $('Buffer').item.json.data_efetivado }}",
          "timeUnit": "hours",
          "options": {}
        },
        "id": "bf0d99bb-b414-4e66-9911-ed01f1aa6afa",
        "name": "Date & Time2",
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          1344,
          32
        ]
      },
      {
        "parameters": {
          "operation": "addToDate",
          "magnitude": "={{ $json.newDate }}",
          "options": {}
        },
        "id": "9d0b1169-aab5-4530-b7e9-5a4701d5a6b8",
        "name": "Date & Time3",
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          1568,
          32
        ]
      },
      {
        "parameters": {},
        "id": "76894b4c-1797-4e9c-935d-5fd7cc383355",
        "name": "No Operation, do nothing1",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1120,
          32
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cefe7454-c76c-40c2-9041-8dd3e4f9a955",
                "name": "ext_id",
                "value": "={{ $node[\"Buffer\"].json[\"Pedido\"] }}",
                "type": "string"
              },
              {
                "id": "b8377aee-4911-47da-8079-74bb66dcba00",
                "name": "product_id",
                "value": "={{ $('Get_produto').item.json.id_product }}",
                "type": "number"
              },
              {
                "id": "7f9da3cb-a01d-4704-9b5b-86bb01fe50ca",
                "name": "offer_id",
                "value": "={{ $('Get_oferta1').item.json.id_offer }}",
                "type": "number"
              },
              {
                "id": "ca4acba6-b616-4597-8705-61e69de15b96",
                "name": "user_id",
                "value": "={{ $('Get_user1').item.json.id_user }}",
                "type": "string"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj1",
                "name": "payment_method",
                "type": "string",
                "value": "=Boleto parcelado"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj2",
                "name": "payment_price",
                "type": "string",
                "value": "={{ $node[\"Buffer\"].json[\"Ticket (R$)\"] }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj3",
                "name": "installments",
                "type": "string",
                "value": "={{ 1 }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj4",
                "name": "approved_date",
                "type": "string",
                "value": "={{ \n  (() => {\n    const raw = $node[\"Buffer\"].json[\"Data Efetivado\"];\n    if (!raw) return null;\n\n    const [date, time] = raw.split(' ');\n    const [day, month, year] = date.split('/');\n\n    return `${year}-${month}-${day} ${time}`;\n  })()\n}}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj5",
                "name": "warranty_expire_date",
                "type": "string"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudf6j",
                "name": "order_date",
                "type": "string",
                "value": "={{ \n  (() => {\n    const raw = $node[\"Buffer\"].json[\"Criado Em\"];\n    if (!raw) return null;\n\n    const [date, time] = raw.split(' ');\n    const [day, month, year] = date.split('/');\n\n    return `${year}-${month}-${day} ${time}`;\n  })()\n}}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj7",
                "name": "commision_value",
                "type": "string",
                "value": "={{ $node[\"Buffer\"].json[\"Ticket (R$)\"] }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj8",
                "name": "platform",
                "type": "string",
                "value": "tmb"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj9",
                "name": "commission_plataform",
                "type": "string",
                "value": "={{ 0 }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj0",
                "name": "currency",
                "type": "string",
                "value": "=BRL"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia1fpudfj",
                "name": "utm_source",
                "type": "string",
                "value": "={{ $node[\"Buffer\"].json[\"utm_source\"] || $node[\"Buffer\"].json[\"utm_last_source\"] }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia2fpudfj",
                "name": "utm_medium",
                "type": "string",
                "value": "={{ $node[\"Buffer\"].json[\"utm_medium\"]  || null  }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia3fpudfj",
                "name": "utm_campaign",
                "type": "string",
                "value": "={{ $node[\"Buffer\"].json[\"utm_campaign\"]  || null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia4fpudfj",
                "name": "utm_term",
                "type": "string",
                "value": "={{ null}}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia5fpudfj",
                "name": "utm_content",
                "type": "string",
                "value": "={{ $node[\"Buffer\"].json[\"utm_content\"] || null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia6fpudfj",
                "name": "sck",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia7fpudfj",
                "name": "src",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia8fpudfj",
                "name": "campaign_id",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia9fpudfj",
                "name": "adset_id",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia0fpudfj",
                "name": "ad_id",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdf1uibhiafpudfj",
                "name": "xcod",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdf2uibhiafpudfj",
                "name": "cycle",
                "type": "string",
                "value": "=1"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdf3uibhiafpudfj",
                "name": "status",
                "type": "string",
                "value": "={{ $node[\"Buffer\"].json[\"Status\"] }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdf4uibhiafpudfj",
                "name": "installments_value",
                "type": "string",
                "value": "=0"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfu5ibhiafpudfj",
                "name": "commission_affiliate",
                "type": "string",
                "value": "={{ 0 }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugd6fuibhiafpudfj",
                "name": "code_affiliate",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugd7fuibhiafpudfj",
                "name": "name_affiliate",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugd8fuibhiafpudfj",
                "name": "purchase_type",
                "type": "string",
                "value": "venda"
              },
              {
                "id": "aopgghaofhbuiahfbaiugd9fuibhiafpudfj",
                "name": "cancelled_time",
                "type": "string",
                "value": "={{ $node[\"Buffer\"].json[\"Data Cancelado\"] || null }}"
              },
              {
                "id": "7e0ef0d0-1682-4e3f-91d0-dad2a3514aef",
                "name": "json_vendas_id",
                "value": "={{ $node[\"Buffer\"].json[\"row_number\"] }}",
                "type": "string"
              },
              {
                "id": "96a8c2b5-3f86-4a11-9158-39e298dd67e3",
                "name": "is_processed",
                "value": "={{ 'N' }}",
                "type": "string"
              },
              {
                "id": "15475413-fc56-4167-884f-9b8bacd618d8",
                "name": "entry_value",
                "value": "=0",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1792,
          32
        ],
        "id": "d7eb0d0b-1fbf-488b-bdee-52ce309e07cb",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "23/01/26 | 15:51:29",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit#gid=0"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "Pedido",
                "displayName": "Pedido",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Produtor",
                "displayName": "Produtor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Produto",
                "displayName": "Produto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Cliente Nome",
                "displayName": "Cliente Nome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Cliente Email",
                "displayName": "Cliente Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Cliente CPF",
                "displayName": "Cliente CPF",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Telefone",
                "displayName": "Telefone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Endereço completo",
                "displayName": "Endereço completo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Logradouro",
                "displayName": "Logradouro",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Número",
                "displayName": "Número",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Bairro",
                "displayName": "Bairro",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Complemento",
                "displayName": "Complemento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CEP",
                "displayName": "CEP",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Cidade",
                "displayName": "Cidade",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "País",
                "displayName": "País",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Status Financeiro",
                "displayName": "Status Financeiro",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Status Cancelamento",
                "displayName": "Status Cancelamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Ticket (R$)",
                "displayName": "Ticket (R$)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Modalidade de Contrato",
                "displayName": "Modalidade de Contrato",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Criado Em",
                "displayName": "Criado Em",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Data Efetivado",
                "displayName": "Data Efetivado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Data Cancelado",
                "displayName": "Data Cancelado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "utm_source",
                "displayName": "utm_source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "utm_medium",
                "displayName": "utm_medium",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "utm_campaign",
                "displayName": "utm_campaign",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "utm_content",
                "displayName": "utm_content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "utm_last_source",
                "displayName": "utm_last_source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "utm_last_medium",
                "displayName": "utm_last_medium",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "utm_last_campaign",
                "displayName": "utm_last_campaign",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "utm_last_content",
                "displayName": "utm_last_content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Renovação automatica",
                "displayName": "Renovação automatica",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Data de Renovação Prevista",
                "displayName": "Data de Renovação Prevista",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Renovação enviada",
                "displayName": "Renovação enviada",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Oferta",
                "displayName": "Oferta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          48,
          -80
        ],
        "id": "03669d52-1ead-4db3-9705-2bf20866a6f2",
        "name": "Update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "SN6RzeMl3gN9prB4",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "getPurhcasesTMB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "getPurhcasesTMB": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get_oferta": {
        "main": [
          [
            {
              "node": "IF_oferta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set1": {
        "main": [
          [
            {
              "node": "MySQL1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MySQL1": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get_produto": {
        "main": [
          [
            {
              "node": "Get_oferta1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF_produto": {
        "main": [
          [
            {
              "node": "Get_oferta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF_oferta": {
        "main": [
          [
            {
              "node": "Get_user",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MySQL3": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get_user": {
        "main": [
          [
            {
              "node": "IF_user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF_user": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set4": {
        "main": [
          [
            {
              "node": "MySQL3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MySQL7": {
        "main": [
          [
            {
              "node": "Set6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set6": {
        "main": [
          [
            {
              "node": "MySQL8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MySQL8": {
        "main": [
          [
            {
              "node": "HTTP Request2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Get_oferta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "Get_user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Date & Time": {
        "main": [
          [
            {
              "node": "Date & Time1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Date & Time1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Operation, do nothing": {
        "main": [
          [
            {
              "node": "Date & Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "MySQL7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Update row in sheet",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Buffer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buffer": {
        "main": [
          [
            {
              "node": "Get_produto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MySQL": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get_user1": {
        "main": [
          [
            {
              "node": "IF_user1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF_user1": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set": {
        "main": [
          [
            {
              "node": "MySQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Get_user1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get_oferta1": {
        "main": [
          [
            {
              "node": "Get_user1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MySQL9": {
        "main": [
          [
            {
              "node": "Set8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set8": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Date & Time2": {
        "main": [
          [
            {
              "node": "Date & Time3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Date & Time3": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Operation, do nothing1": {
        "main": [
          [
            {
              "node": "Date & Time2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "MySQL9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Lucas Nunes",
    "name": null,
    "description": null
  },
  "activeVersionId": "46b5be7a-fa9d-4502-ba4d-ec58041b7a46",
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "getPurhcasesTMB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getPurhcasesTMB": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_oferta": {
      "main": [
        [
          {
            "node": "IF_oferta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_produto": {
      "main": [
        [
          {
            "node": "Get_oferta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_produto": {
      "main": [
        [
          {
            "node": "Get_oferta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_oferta": {
      "main": [
        [
          {
            "node": "Get_user",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_user": {
      "main": [
        [
          {
            "node": "IF_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_user": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set4": {
      "main": [
        [
          {
            "node": "MySQL3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL7": {
      "main": [
        [
          {
            "node": "Set6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set6": {
      "main": [
        [
          {
            "node": "MySQL8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL8": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get_oferta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "MySQL7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer": {
      "main": [
        [
          {
            "node": "Get_produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_user1": {
      "main": [
        [
          {
            "node": "IF_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_user1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_oferta1": {
      "main": [
        [
          {
            "node": "Get_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL9": {
      "main": [
        [
          {
            "node": "Set8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set8": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "MySQL9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-23T19:03:12.837Z",
  "id": "CBt9QPJiM3lqANdX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Retroativo TMB",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        16
      ],
      "id": "d39876af-2b32-40b5-b60b-77a9750f7158",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "23/01/26 | 15:51:29",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -576,
        16
      ],
      "id": "58ed38b7-0a2a-4345-9a84-2223b86ad3e4",
      "name": "getPurhcasesTMB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SN6RzeMl3gN9prB4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -368,
        16
      ],
      "id": "e14fcd99-16a3-4438-9d07-0fa02600b45b",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "offers",
          "mode": "list",
          "cachedResultName": "offers"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "offer_ext",
              "value": "={{ $item(\"0\").$node[\"Buffer\"].json['body'][\"code\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2e63406c-9f90-448e-8be4-f51b46fab86b",
      "name": "Get_oferta",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        32,
        1008
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "product_id",
              "value": "={{ $('IF_produto').item.json.id_product }}"
            },
            {
              "name": "offer_ext",
              "value": "={{ $item(\"0\").$node[\"Buffer\"].json['body'][\"code\"] }}"
            },
            {
              "name": "offer_name",
              "value": "={{ $('Buffer').item.json.body.titulo }}"
            },
            {
              "name": "offer_price",
              "value": "={{ $('Buffer').item.json.body.valor_principal }}"
            },
            {
              "name": "update_time",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d29f76bd-da5d-4ff0-94e3-9572366a9e5b",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        480,
        1024
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "offers",
          "mode": "list",
          "cachedResultName": "offers"
        },
        "options": {}
      },
      "id": "b7be0f41-87a4-4108-ba00-a59e93ec16a6",
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        688,
        1024
      ],
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "product_ext",
              "value": "={{ $json[\"Oferta\"] === 'Acelerador Nível Médio - OPERA2601' ? 12902 : 12901 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2f0e5987-40c2-4884-8337-8ca52626cd1b",
      "name": "Get_produto",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        256,
        128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "92d3a7cf-4c3d-4f62-8bd1-25988c3761e6",
      "name": "IF_produto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -192,
        1184
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "84323a3c-5bd6-45db-aedb-d214bc12f102",
      "name": "IF_oferta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        256,
        1008
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "options": {}
      },
      "id": "e97ccea5-b0be-4fc9-87aa-f011ae6db07e",
      "name": "MySQL3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1360,
        832
      ],
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"Buffer\"].json['body'][\"email\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0ea93ca5-f7f1-4f05-8de6-e09b6cc94dae",
      "name": "Get_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        688,
        800
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "c4d8fcb7-70cc-4b10-bb4f-0a7c8b82a89d",
      "name": "IF_user",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        912,
        800
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $('Buffer').item.json.body.cliente || null }}"
            },
            {
              "name": "ext_id",
              "value": "={{$('Buffer').item.json.body.email}}"
            },
            {
              "name": "email",
              "value": "={{$('Buffer').item.json.body.email}}"
            },
            {
              "name": "phone",
              "value": "={{ $('Buffer').item.json.body.telefone || null}}"
            },
            {
              "name": "document",
              "value": "={{ $('Buffer').item.json.body.documento }}"
            },
            {
              "name": "update_time",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8aa9fadc-2bc3-495f-8889-1e18a06a397d",
      "name": "Set4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1136,
        832
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "transactions_new",
          "mode": "list",
          "cachedResultName": "transactions_new"
        },
        "options": {}
      },
      "id": "ad339da1-8274-4d80-bb7a-de2ecefb684e",
      "name": "MySQL7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2016,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id_sql",
              "value": "={{ $('IF5').item.json.id_sql }}"
            },
            {
              "name": "foi",
              "value": "=1"
            },
            {
              "name": "processada",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "69b5a76e-6610-4588-bec8-899f420c6fbe",
      "name": "Set6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2240,
        640
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "TMB_Vendas",
          "mode": "list",
          "cachedResultName": "TMB_Vendas"
        },
        "columnToMatchOn": "id_sql",
        "options": {}
      },
      "id": "240412a7-7bc7-4233-baaf-45a787f7f79e",
      "name": "MySQL8",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2464,
        640
      ],
      "credentials": {
        "mySql": {
          "id": "6cR89c3DkwiktSiW",
          "name": "MySQL Vendas"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "4dfb7b21-50f0-4ae8-a520-a46394af51ad",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        912,
        1024
      ],
      "webhookId": "7a02d984-ca47-469e-be0e-0df593302e88"
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "e8d4a9c9-b3aa-4849-b092-8110e4309ecb",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1584,
        832
      ],
      "webhookId": "62b24741-5650-4d92-b4b1-90869132bea9"
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $('Buffer').item.json.data_efetivado }}",
        "timeUnit": "hours",
        "options": {}
      },
      "id": "2b5bd879-f858-497e-8c29-b365b7b48aed",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1360,
        640
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json.newDate }}",
        "options": {}
      },
      "id": "dd0d1205-3c9f-4e27-8787-a97f29d3fb0b",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1584,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $execution.resumeUrl.extractDomain() }}/webhook/{{ $('Webhook').params[\"path\"] }}",
        "options": {}
      },
      "id": "2a5b332e-32ed-419c-8b40-9982275c2ca0",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2688,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $execution.resumeUrl.extractDomain() }}/webhook/{{ $('Webhook').params[\"path\"] }}",
        "options": {}
      },
      "id": "63cc5400-ba60-4de2-95d1-640bc854ef7d",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -400,
        992
      ]
    },
    {
      "parameters": {},
      "id": "29013040-1aff-41a1-84b0-cd960d66686a",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1136,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://webhook.aconcursos.com.br/webhook/transaction-tmb",
        "options": {}
      },
      "id": "9dd0c43b-def4-4f76-b276-d9571ff55623",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -400,
        832
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cefe7454-c76c-40c2-9041-8dd3e4f9a955",
              "name": "ext_id",
              "value": "={{ $('Buffer').item.json.body.pedido }}",
              "type": "string"
            },
            {
              "id": "b8377aee-4911-47da-8079-74bb66dcba00",
              "name": "product_id",
              "value": "={{ $('Get_produto').item.json.id_product }}",
              "type": "string"
            },
            {
              "id": "7f9da3cb-a01d-4704-9b5b-86bb01fe50ca",
              "name": "offer_id",
              "value": "={{ $('Get_oferta').item.json.id_offer }}",
              "type": "string"
            },
            {
              "id": "ca4acba6-b616-4597-8705-61e69de15b96",
              "name": "user_id",
              "value": "={{ $('Get_user').item.json.id_user }}",
              "type": "string"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj1",
              "name": "payment_method",
              "type": "string",
              "value": "=Boleto parcelado"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj2",
              "name": "payment_price",
              "type": "string",
              "value": "={{ $('Buffer').item.json.body.valor_principal || 0}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj3",
              "name": "installments",
              "type": "string",
              "value": "={{ $('Buffer').item.json.body.parcelas }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj4",
              "name": "approved_date",
              "type": "string",
              "value": "={{ $('Buffer').item.json.body.data_efetivado }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj5",
              "name": "warranty_expire_date",
              "type": "string"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudf6j",
              "name": "order_date",
              "type": "string",
              "value": "={{ $('Buffer').item.json.body.criado_em }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj7",
              "name": "commision_value",
              "type": "string",
              "value": "={{ $('Buffer').item.json.body.valor_total - $('Buffer').item.json.body.taxa_administracao || null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj8",
              "name": "platform",
              "type": "string",
              "value": "tmb"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj9",
              "name": "commission_plataform",
              "type": "string",
              "value": "={{ $('Buffer').item.json.body.taxa_administracao }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj0",
              "name": "currency",
              "type": "string",
              "value": "=BRL"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia1fpudfj",
              "name": "utm_source",
              "type": "string",
              "value": "={{ $('Buffer').item.json.body.utm_source || null}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia2fpudfj",
              "name": "utm_medium",
              "type": "string",
              "value": "={{ $('Buffer').item.json.body.utm_medium || null}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia3fpudfj",
              "name": "utm_campaign",
              "type": "string",
              "value": "={{ $('Buffer').item.json.body.utm_campaign || null}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia4fpudfj",
              "name": "utm_term",
              "type": "string",
              "value": "={{ $('Buffer').item.json.body.utm_term || null}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia5fpudfj",
              "name": "utm_content",
              "type": "string",
              "value": "={{ $('Buffer').item.json.body.utm_content }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia6fpudfj",
              "name": "sck",
              "type": "string"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia7fpudfj",
              "name": "src",
              "type": "string",
              "value": "={{ $('Buffer').item.json.body.src || null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia8fpudfj",
              "name": "campaign_id",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia9fpudfj",
              "name": "adset_id",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia0fpudfj",
              "name": "ad_id",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf1uibhiafpudfj",
              "name": "xcod",
              "type": "string",
              "value": "={{ $('Buffer').item.json.body.src || null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf2uibhiafpudfj",
              "name": "cycle",
              "type": "string",
              "value": "={{ $('Buffer').item.json.body.status_pedido === 'Cancelado' ? '0' : 1 }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf3uibhiafpudfj",
              "name": "status",
              "type": "string",
              "value": "={{ $('Buffer').item.json.body.status_pedido || null}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf4uibhiafpudfj",
              "name": "installments_value",
              "type": "string",
              "value": "={{ $('Buffer').item.json.body.valor_parcela }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfu5ibhiafpudfj",
              "name": "commission_affiliate",
              "type": "string",
              "value": "={{ 0 }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd6fuibhiafpudfj",
              "name": "code_affiliate",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd7fuibhiafpudfj",
              "name": "name_affiliate",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd8fuibhiafpudfj",
              "name": "purchase_type",
              "type": "string",
              "value": "venda"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd9fuibhiafpudfj",
              "name": "cancelled_time",
              "type": "string",
              "value": "={{ $('Buffer').item.json.body.status_pedido === 'Cancelado' ? $('Buffer').item.json.body.data_cancelado : null }}"
            },
            {
              "id": "7e0ef0d0-1682-4e3f-91d0-dad2a3514aef",
              "name": "json_vendas_id",
              "value": "={{ $item(\"0\").$node[\"IF5\"].json[\"id_sql\"] }}",
              "type": "string"
            },
            {
              "id": "96a8c2b5-3f86-4a11-9158-39e298dd67e3",
              "name": "is_processed",
              "value": "={{ 'N' }}",
              "type": "string"
            },
            {
              "id": "15475413-fc56-4167-884f-9b8bacd618d8",
              "name": "entry_value",
              "value": "={{ $('Buffer').item.json.body.valor_entrada || 0 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        640
      ],
      "id": "e00e04ae-a300-4a73-9a86-24c0d7c6d5e6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "ext_id",
              "value": "={{ $('Buffer').item.json.body.pedido }}"
            },
            {
              "name": "invoice_code",
              "value": "={{ $('Buffer').item.json.body.id }}"
            },
            {
              "name": "installments_number",
              "value": "={{ $('Buffer').item.json.body.parcelas }}"
            },
            {
              "name": "invoice_discount",
              "value": "={{ $('Buffer').item.json.body.payment.discount_value }}"
            },
            {
              "name": "invoice_id",
              "value": "={{ $('Buffer').item.json.body.id }}"
            },
            {
              "name": "invoice_increment_value",
              "value": "={{ $('Buffer').item.json.body.invoice.increment_value }}"
            },
            {
              "name": "invoice_payment_url",
              "value": "={{ $('Buffer').item.json.body.checkout_url }}"
            },
            {
              "name": "invoice_period_start",
              "value": "={{ $('Date & Time').item.json.newDate }}"
            },
            {
              "name": "invoice_period_end",
              "value": "={{ $json.newDate }}"
            },
            {
              "name": "invoice_subscription_id",
              "value": "={{ $('Buffer').item.json.invoice.id }}"
            },
            {
              "name": "invoice_status",
              "value": "={{ $('Buffer').item.json.status_pedido }}"
            },
            {
              "name": "invoice_type",
              "value": "={{ $('Buffer').item.json.status_financeiro }}"
            },
            {
              "name": "invoice_next_cycle",
              "value": "={{ null }}"
            },
            {
              "name": "subscriber_id",
              "value": "={{ $('Buffer').item.json.email }}"
            },
            {
              "name": "subscriber_internal_id",
              "value": "={{ $('No Operation, do nothing').item.json.id_user }}"
            },
            {
              "name": "subscriber_name",
              "value": "={{ $('Buffer').item.json.cliente }}"
            },
            {
              "name": "subscriber_email",
              "value": "={{ $('Buffer').item.json.email }}"
            },
            {
              "name": "subscriber_phone",
              "value": "={{ $('Buffer').item.json.telefone_ativo }}"
            },
            {
              "name": "subscriber_doc",
              "value": "={{ $('Buffer').item.json.documento }}"
            },
            {
              "name": "subscriber_status"
            },
            {
              "name": "contact_address",
              "value": "={{ $('Buffer').item.json.endereco_completo }}"
            },
            {
              "name": "contact_address_city",
              "value": "={{ $('Buffer').item.json.endereco_cidade }}"
            },
            {
              "name": "contact_address_comp",
              "value": "={{ $('Buffer').item.json.endereco_complemento }}"
            },
            {
              "name": "contact_address_country",
              "value": "={{ $('Buffer').item.json.endereco_pais }}"
            },
            {
              "name": "contact_address_district",
              "value": "={{ $('Buffer').item.json.endereco_bairro }}"
            },
            {
              "name": "contact_address_number",
              "value": "={{ $('Buffer').item.json.endereco_numero }}"
            },
            {
              "name": "contact_address_state",
              "value": "={{ $('Buffer').item.json.endereco_estado }}"
            },
            {
              "name": "contact_address_full_name",
              "value": "={{ $('Buffer').item.json.endereco_completo }}"
            },
            {
              "name": "contact_address_zip_code",
              "value": "={{ $('Buffer').item.json.endereco_cep }}"
            },
            {
              "name": "product_id",
              "value": "={{ $('IF_produto').item.json.id_product }}"
            },
            {
              "name": "product_marketplace_id",
              "value": "={{ $('IF_produto').item.json.product_ext }}"
            },
            {
              "name": "product_name",
              "value": "={{ $('IF_produto').item.json.product_name }}"
            },
            {
              "name": "product_offer_id",
              "value": "={{ $('IF_oferta').item.json.id_offer }}"
            },
            {
              "name": "product_offer_name",
              "value": "={{ $('IF_oferta').item.json.offer_name }}"
            },
            {
              "name": "payment_method",
              "value": "=Boleto parcelado"
            },
            {
              "name": "payment_price",
              "value": "={{ $('Buffer').item.json.valor_principal }}"
            },
            {
              "name": "queue_json_id",
              "value": "={{ $('IF5').item.json.id_sql }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Buffer').item.json.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Buffer').item.json.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Buffer').item.json.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Buffer').item.json.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "="
            },
            {
              "name": "commision_value",
              "value": "={{ $('Buffer').item.json.valor_principal - $('Buffer').item.json.taxa_administracao }}"
            },
            {
              "name": "platform",
              "value": "TMB"
            },
            {
              "name": "commission_affiliate",
              "value": "={{ $('Buffer').item.json.payment.affiliate_value }}"
            },
            {
              "name": "invoice_cycle",
              "value": "1"
            },
            {
              "name": "product_value",
              "value": "={{ $('Buffer').item.json.valor_principal }}"
            },
            {
              "name": "currency",
              "value": "BRL"
            }
          ]
        },
        "options": {}
      },
      "id": "08547f4e-2d36-4789-acc8-419b5a5e30a9",
      "name": "Set7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1808,
        976
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        16
      ],
      "id": "efe4e2f8-1630-4c12-990b-c8cf7c65b860",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Buffer",
      "typeVersion": 1,
      "position": [
        48,
        128
      ],
      "id": "cb73517e-6ca5-4594-a8ca-c37058ebd91b"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "offers",
          "mode": "list",
          "cachedResultName": "offers"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "offer_ext",
              "value": "={{ $json[\"Oferta\"] === 'Acelerador Nível Médio - OPERA2601' ? 'RLN1545037C' : '0UQ154496HS' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "42ce7658-5e4f-4490-9ab1-1a991e7761c4",
      "name": "Get_oferta1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        448,
        128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "options": {}
      },
      "id": "11ed035b-bea7-41bd-a516-fe187ecc6762",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1344,
        224
      ],
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"Buffer\"].json[\"Cliente Email\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c4b72327-5a39-45ce-ab0d-4f012579d300",
      "name": "Get_user1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        704,
        128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "8410af9c-4822-43d4-becd-876e6926e3ea",
      "name": "IF_user1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        928,
        128
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $node[\"Buffer\"].json[\"Cliente Nome\"] || null}}"
            },
            {
              "name": "ext_id",
              "value": "={{ $node[\"Buffer\"].json[\"Cliente Email\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"Buffer\"].json[\"Cliente Email\"] }}"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Buffer\"].json[\"Telefone\"] }}"
            },
            {
              "name": "document",
              "value": "={{ $node[\"Buffer\"].json[\"Cliente CPF\"] }}"
            },
            {
              "name": "update_time",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "805978a1-7ce8-46f3-a79f-df9061c90fba",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1120,
        224
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "507ade01-3750-4372-b816-7cd7f3981eba",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1568,
        224
      ],
      "webhookId": "62b24741-5650-4d92-b4b1-90869132bea9"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "transactions_new",
          "mode": "list",
          "cachedResultName": "transactions_new"
        },
        "options": {}
      },
      "id": "3d15b5c3-7938-4157-9046-44445929e1f4",
      "name": "MySQL9",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2000,
        32
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "row_number",
              "value": "={{ $node[\"Buffer\"].json[\"row_number\"] }}"
            },
            {
              "name": "STATUS",
              "value": "=PROCESSADA"
            }
          ]
        },
        "options": {}
      },
      "id": "e6509741-2abe-4730-9734-e5087a5174a1",
      "name": "Set8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2224,
        272
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "TMB_Vendas",
          "mode": "list",
          "cachedResultName": "TMB_Vendas"
        },
        "columnToMatchOn": "id_sql",
        "options": {}
      },
      "id": "98606e9e-55b9-4705-bf2e-02fd12642ef4",
      "name": "MySQL10",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2448,
        32
      ],
      "credentials": {
        "mySql": {
          "id": "6cR89c3DkwiktSiW",
          "name": "MySQL Vendas"
        }
      }
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $('Buffer').item.json.data_efetivado }}",
        "timeUnit": "hours",
        "options": {}
      },
      "id": "bf0d99bb-b414-4e66-9911-ed01f1aa6afa",
      "name": "Date & Time2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1344,
        32
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json.newDate }}",
        "options": {}
      },
      "id": "9d0b1169-aab5-4530-b7e9-5a4701d5a6b8",
      "name": "Date & Time3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1568,
        32
      ]
    },
    {
      "parameters": {},
      "id": "76894b4c-1797-4e9c-935d-5fd7cc383355",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cefe7454-c76c-40c2-9041-8dd3e4f9a955",
              "name": "ext_id",
              "value": "={{ $node[\"Buffer\"].json[\"Pedido\"] }}",
              "type": "string"
            },
            {
              "id": "b8377aee-4911-47da-8079-74bb66dcba00",
              "name": "product_id",
              "value": "={{ $('Get_produto').item.json.id_product }}",
              "type": "number"
            },
            {
              "id": "7f9da3cb-a01d-4704-9b5b-86bb01fe50ca",
              "name": "offer_id",
              "value": "={{ $('Get_oferta1').item.json.id_offer }}",
              "type": "number"
            },
            {
              "id": "ca4acba6-b616-4597-8705-61e69de15b96",
              "name": "user_id",
              "value": "={{ $('Get_user1').item.json.id_user }}",
              "type": "string"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj1",
              "name": "payment_method",
              "type": "string",
              "value": "=Boleto parcelado"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj2",
              "name": "payment_price",
              "type": "string",
              "value": "={{ $node[\"Buffer\"].json[\"Ticket (R$)\"] }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj3",
              "name": "installments",
              "type": "string",
              "value": "={{ 1 }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj4",
              "name": "approved_date",
              "type": "string",
              "value": "={{ \n  (() => {\n    const raw = $node[\"Buffer\"].json[\"Data Efetivado\"];\n    if (!raw) return null;\n\n    const [date, time] = raw.split(' ');\n    const [day, month, year] = date.split('/');\n\n    return `${year}-${month}-${day} ${time}`;\n  })()\n}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj5",
              "name": "warranty_expire_date",
              "type": "string"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudf6j",
              "name": "order_date",
              "type": "string",
              "value": "={{ \n  (() => {\n    const raw = $node[\"Buffer\"].json[\"Criado Em\"];\n    if (!raw) return null;\n\n    const [date, time] = raw.split(' ');\n    const [day, month, year] = date.split('/');\n\n    return `${year}-${month}-${day} ${time}`;\n  })()\n}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj7",
              "name": "commision_value",
              "type": "string",
              "value": "={{ $node[\"Buffer\"].json[\"Ticket (R$)\"] }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj8",
              "name": "platform",
              "type": "string",
              "value": "tmb"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj9",
              "name": "commission_plataform",
              "type": "string",
              "value": "={{ 0 }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj0",
              "name": "currency",
              "type": "string",
              "value": "=BRL"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia1fpudfj",
              "name": "utm_source",
              "type": "string",
              "value": "={{ $node[\"Buffer\"].json[\"utm_source\"] || $node[\"Buffer\"].json[\"utm_last_source\"] }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia2fpudfj",
              "name": "utm_medium",
              "type": "string",
              "value": "={{ $node[\"Buffer\"].json[\"utm_medium\"]  || null  }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia3fpudfj",
              "name": "utm_campaign",
              "type": "string",
              "value": "={{ $node[\"Buffer\"].json[\"utm_campaign\"]  || null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia4fpudfj",
              "name": "utm_term",
              "type": "string",
              "value": "={{ null}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia5fpudfj",
              "name": "utm_content",
              "type": "string",
              "value": "={{ $node[\"Buffer\"].json[\"utm_content\"] || null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia6fpudfj",
              "name": "sck",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia7fpudfj",
              "name": "src",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia8fpudfj",
              "name": "campaign_id",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia9fpudfj",
              "name": "adset_id",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia0fpudfj",
              "name": "ad_id",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf1uibhiafpudfj",
              "name": "xcod",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf2uibhiafpudfj",
              "name": "cycle",
              "type": "string",
              "value": "=1"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf3uibhiafpudfj",
              "name": "status",
              "type": "string",
              "value": "={{ $node[\"Buffer\"].json[\"Status\"] }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf4uibhiafpudfj",
              "name": "installments_value",
              "type": "string",
              "value": "=0"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfu5ibhiafpudfj",
              "name": "commission_affiliate",
              "type": "string",
              "value": "={{ 0 }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd6fuibhiafpudfj",
              "name": "code_affiliate",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd7fuibhiafpudfj",
              "name": "name_affiliate",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd8fuibhiafpudfj",
              "name": "purchase_type",
              "type": "string",
              "value": "venda"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd9fuibhiafpudfj",
              "name": "cancelled_time",
              "type": "string",
              "value": "={{ $node[\"Buffer\"].json[\"Data Cancelado\"] || null }}"
            },
            {
              "id": "7e0ef0d0-1682-4e3f-91d0-dad2a3514aef",
              "name": "json_vendas_id",
              "value": "={{ $node[\"Buffer\"].json[\"row_number\"] }}",
              "type": "string"
            },
            {
              "id": "96a8c2b5-3f86-4a11-9158-39e298dd67e3",
              "name": "is_processed",
              "value": "={{ 'N' }}",
              "type": "string"
            },
            {
              "id": "15475413-fc56-4167-884f-9b8bacd618d8",
              "name": "entry_value",
              "value": "=0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        32
      ],
      "id": "d7eb0d0b-1fbf-488b-bdee-52ce309e07cb",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "23/01/26 | 15:51:29",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Pedido",
              "displayName": "Pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produtor",
              "displayName": "Produtor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cliente Nome",
              "displayName": "Cliente Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cliente Email",
              "displayName": "Cliente Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cliente CPF",
              "displayName": "Cliente CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Endereço completo",
              "displayName": "Endereço completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logradouro",
              "displayName": "Logradouro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Número",
              "displayName": "Número",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bairro",
              "displayName": "Bairro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Complemento",
              "displayName": "Complemento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CEP",
              "displayName": "CEP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cidade",
              "displayName": "Cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "País",
              "displayName": "País",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Financeiro",
              "displayName": "Status Financeiro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Cancelamento",
              "displayName": "Status Cancelamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket (R$)",
              "displayName": "Ticket (R$)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Modalidade de Contrato",
              "displayName": "Modalidade de Contrato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criado Em",
              "displayName": "Criado Em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Efetivado",
              "displayName": "Data Efetivado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Cancelado",
              "displayName": "Data Cancelado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_last_source",
              "displayName": "utm_last_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_last_medium",
              "displayName": "utm_last_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_last_campaign",
              "displayName": "utm_last_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_last_content",
              "displayName": "utm_last_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Renovação automatica",
              "displayName": "Renovação automatica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data de Renovação Prevista",
              "displayName": "Data de Renovação Prevista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Renovação enviada",
              "displayName": "Renovação enviada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Oferta",
              "displayName": "Oferta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        -80
      ],
      "id": "03669d52-1ead-4db3-9705-2bf20866a6f2",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SN6RzeMl3gN9prB4",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-23T19:03:12.837Z",
      "createdAt": "2026-01-23T19:03:12.837Z",
      "role": "workflow:owner",
      "workflowId": "CBt9QPJiM3lqANdX",
      "projectId": "VuiAAhWq61ItL83O"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-23T20:34:31.529Z",
  "versionId": "46b5be7a-fa9d-4502-ba4d-ec58041b7a46"
}