workflows/2026-01-27/CBt9QPJiM3lqANdX-Retroativo TMB.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-24T21:28:57.463Z",
    "createdAt": "2026-01-24T21:28:57.463Z",
    "versionId": "56ff26d9-04ce-4ca4-82b0-60f3738c52ad",
    "workflowId": "CBt9QPJiM3lqANdX",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -784,
          16
        ],
        "id": "d39876af-2b32-40b5-b60b-77a9750f7158",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": 2139476605,
            "mode": "list",
            "cachedResultName": "24/01/26 | de 15:51:29 (23/01) - 15:00:00 (24/01) ",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit#gid=2139476605"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "STATUS"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -576,
          16
        ],
        "id": "58ed38b7-0a2a-4345-9a84-2223b86ad3e4",
        "name": "getPurhcasesTMB",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "SN6RzeMl3gN9prB4",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "keep": "lastItems"
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -368,
          16
        ],
        "id": "e14fcd99-16a3-4438-9d07-0fa02600b45b",
        "name": "Limit"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "products",
            "mode": "list",
            "cachedResultName": "products"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "product_ext",
                "value": "={{ $json[\"Oferta\"] === 'Acelerador Nível Médio - OPERA2601' ? 12902 : 12901 }}"
              }
            ]
          },
          "options": {}
        },
        "id": "2f0e5987-40c2-4884-8337-8ca52626cd1b",
        "name": "Get_produto",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          256,
          128
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -160,
          16
        ],
        "id": "efe4e2f8-1630-4c12-990b-c8cf7c65b860",
        "name": "Loop Over Items"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "name": "Buffer",
        "typeVersion": 1,
        "position": [
          48,
          128
        ],
        "id": "cb73517e-6ca5-4594-a8ca-c37058ebd91b"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "offers",
            "mode": "list",
            "cachedResultName": "offers"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "offer_ext",
                "value": "={{ $json[\"Oferta\"] === 'Acelerador Nível Médio - OPERA2601' ? 'RLN1545037C' : '0UQ154496HS' }}"
              }
            ]
          },
          "options": {}
        },
        "id": "42ce7658-5e4f-4490-9ab1-1a991e7761c4",
        "name": "Get_oferta1",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          448,
          128
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "table": {
            "__rl": true,
            "value": "users",
            "mode": "list",
            "cachedResultName": "users"
          },
          "options": {}
        },
        "id": "11ed035b-bea7-41bd-a516-fe187ecc6762",
        "name": "MySQL",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          1344,
          224
        ],
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "users",
            "mode": "list",
            "cachedResultName": "users"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "email",
                "value": "={{ $node[\"Buffer\"].json[\"Cliente Email\"] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "c4b72327-5a39-45ce-ab0d-4f012579d300",
        "name": "Get_user1",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          704,
          128
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json }}",
                "operation": "isNotEmpty"
              }
            ]
          }
        },
        "id": "8410af9c-4822-43d4-becd-876e6926e3ea",
        "name": "IF_user1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          928,
          128
        ]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "name",
                "value": "={{ $node[\"Buffer\"].json[\"Cliente Nome\"] || null}}"
              },
              {
                "name": "ext_id",
                "value": "={{ $node[\"Buffer\"].json[\"Cliente Email\"] }}"
              },
              {
                "name": "email",
                "value": "={{ $node[\"Buffer\"].json[\"Cliente Email\"] }}"
              },
              {
                "name": "phone",
                "value": "={{ $node[\"Buffer\"].json[\"Telefone\"] }}"
              },
              {
                "name": "document",
                "value": "={{ $node[\"Buffer\"].json[\"Cliente CPF\"] }}"
              },
              {
                "name": "update_time",
                "value": "={{ $now }}"
              }
            ]
          },
          "options": {}
        },
        "id": "805978a1-7ce8-46f3-a79f-df9061c90fba",
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          1120,
          224
        ]
      },
      {
        "parameters": {
          "unit": "seconds"
        },
        "id": "507ade01-3750-4372-b816-7cd7f3981eba",
        "name": "Wait",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          1568,
          224
        ],
        "webhookId": "62b24741-5650-4d92-b4b1-90869132bea9"
      },
      {
        "parameters": {
          "table": {
            "__rl": true,
            "value": "transactions_new",
            "mode": "list",
            "cachedResultName": "transactions_new"
          },
          "options": {}
        },
        "id": "3d15b5c3-7938-4157-9046-44445929e1f4",
        "name": "MySQL9",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          2000,
          32
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              {
                "name": "row_number",
                "value": "={{ $node[\"Buffer\"].json[\"row_number\"] }}"
              },
              {
                "name": "STATUS",
                "value": "=PROCESSADA"
              }
            ]
          },
          "options": {}
        },
        "id": "e6509741-2abe-4730-9734-e5087a5174a1",
        "name": "Set8",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          2224,
          272
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "table": {
            "__rl": true,
            "value": "TMB_Vendas",
            "mode": "list",
            "cachedResultName": "TMB_Vendas"
          },
          "columnToMatchOn": "id_sql",
          "options": {}
        },
        "id": "98606e9e-55b9-4705-bf2e-02fd12642ef4",
        "name": "MySQL10",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          2448,
          32
        ],
        "credentials": {
          "mySql": {
            "id": "6cR89c3DkwiktSiW",
            "name": "MySQL Vendas"
          }
        }
      },
      {
        "parameters": {
          "operation": "subtractFromDate",
          "magnitude": "={{ $('Buffer').item.json.data_efetivado }}",
          "timeUnit": "hours",
          "options": {}
        },
        "id": "bf0d99bb-b414-4e66-9911-ed01f1aa6afa",
        "name": "Date & Time2",
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          1344,
          32
        ]
      },
      {
        "parameters": {
          "operation": "addToDate",
          "magnitude": "={{ $json.newDate }}",
          "options": {}
        },
        "id": "9d0b1169-aab5-4530-b7e9-5a4701d5a6b8",
        "name": "Date & Time3",
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          1568,
          32
        ]
      },
      {
        "parameters": {},
        "id": "76894b4c-1797-4e9c-935d-5fd7cc383355",
        "name": "No Operation, do nothing1",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1120,
          32
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cefe7454-c76c-40c2-9041-8dd3e4f9a955",
                "name": "ext_id",
                "value": "={{ $node[\"Buffer\"].json[\"Pedido\"] }}",
                "type": "string"
              },
              {
                "id": "b8377aee-4911-47da-8079-74bb66dcba00",
                "name": "product_id",
                "value": "={{ $('Get_produto').item.json.id_product }}",
                "type": "number"
              },
              {
                "id": "7f9da3cb-a01d-4704-9b5b-86bb01fe50ca",
                "name": "offer_id",
                "value": "={{ $('Get_oferta1').item.json.id_offer }}",
                "type": "number"
              },
              {
                "id": "ca4acba6-b616-4597-8705-61e69de15b96",
                "name": "user_id",
                "value": "={{ $('Get_user1').item.json.id_user }}",
                "type": "string"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj1",
                "name": "payment_method",
                "type": "string",
                "value": "=Boleto parcelado"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj2",
                "name": "payment_price",
                "type": "string",
                "value": "={{ $node[\"Buffer\"].json[\"Ticket (R$)\"] }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj3",
                "name": "installments",
                "type": "string",
                "value": "={{ 1 }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj4",
                "name": "approved_date",
                "type": "string",
                "value": "={{ \n  (() => {\n    const raw = $node[\"Buffer\"].json[\"Data Efetivado\"];\n    if (!raw) return null;\n\n    const [date, time] = raw.split(' ');\n    const [day, month, year] = date.split('/');\n\n    return `${year}-${month}-${day} ${time}`;\n  })()\n}}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj5",
                "name": "warranty_expire_date",
                "type": "string"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudf6j",
                "name": "order_date",
                "type": "string",
                "value": "={{ \n  (() => {\n    const raw = $node[\"Buffer\"].json[\"Criado Em\"];\n    if (!raw) return null;\n\n    const [date, time] = raw.split(' ');\n    const [day, month, year] = date.split('/');\n\n    return `${year}-${month}-${day} ${time}`;\n  })()\n}}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj7",
                "name": "commision_value",
                "type": "string",
                "value": "={{ $node[\"Buffer\"].json[\"Ticket (R$)\"] }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj8",
                "name": "platform",
                "type": "string",
                "value": "tmb"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj9",
                "name": "commission_plataform",
                "type": "string",
                "value": "={{ 0 }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj0",
                "name": "currency",
                "type": "string",
                "value": "=BRL"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia1fpudfj",
                "name": "utm_source",
                "type": "string",
                "value": "={{ $node[\"Buffer\"].json[\"utm_source\"] || $node[\"Buffer\"].json[\"utm_last_source\"] }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia2fpudfj",
                "name": "utm_medium",
                "type": "string",
                "value": "={{ $node[\"Buffer\"].json[\"utm_medium\"]  || null  }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia3fpudfj",
                "name": "utm_campaign",
                "type": "string",
                "value": "={{ $node[\"Buffer\"].json[\"utm_campaign\"]  || null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia4fpudfj",
                "name": "utm_term",
                "type": "string",
                "value": "={{ null}}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia5fpudfj",
                "name": "utm_content",
                "type": "string",
                "value": "={{ $node[\"Buffer\"].json[\"utm_content\"] || null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia6fpudfj",
                "name": "sck",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia7fpudfj",
                "name": "src",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia8fpudfj",
                "name": "campaign_id",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia9fpudfj",
                "name": "adset_id",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia0fpudfj",
                "name": "ad_id",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdf1uibhiafpudfj",
                "name": "xcod",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdf2uibhiafpudfj",
                "name": "cycle",
                "type": "string",
                "value": "=1"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdf3uibhiafpudfj",
                "name": "status",
                "type": "string",
                "value": "={{ $node[\"Buffer\"].json[\"Status\"] }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdf4uibhiafpudfj",
                "name": "installments_value",
                "type": "string",
                "value": "=0"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfu5ibhiafpudfj",
                "name": "commission_affiliate",
                "type": "string",
                "value": "={{ 0 }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugd6fuibhiafpudfj",
                "name": "code_affiliate",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugd7fuibhiafpudfj",
                "name": "name_affiliate",
                "type": "string",
                "value": "={{ null }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugd8fuibhiafpudfj",
                "name": "purchase_type",
                "type": "string",
                "value": "venda"
              },
              {
                "id": "aopgghaofhbuiahfbaiugd9fuibhiafpudfj",
                "name": "cancelled_time",
                "type": "string",
                "value": "={{ $node[\"Buffer\"].json[\"Data Cancelado\"] || null }}"
              },
              {
                "id": "7e0ef0d0-1682-4e3f-91d0-dad2a3514aef",
                "name": "json_vendas_id",
                "value": "={{ $node[\"Buffer\"].json[\"row_number\"] }}",
                "type": "string"
              },
              {
                "id": "96a8c2b5-3f86-4a11-9158-39e298dd67e3",
                "name": "is_processed",
                "value": "={{ 'N' }}",
                "type": "string"
              },
              {
                "id": "15475413-fc56-4167-884f-9b8bacd618d8",
                "name": "entry_value",
                "value": "=0",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1792,
          32
        ],
        "id": "d7eb0d0b-1fbf-488b-bdee-52ce309e07cb",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": 2139476605,
            "mode": "list",
            "cachedResultName": "24/01/26 | de 15:51:29 (23/01) - 15:00:00 (24/01) ",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit#gid=2139476605"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "Pedido",
                "displayName": "Pedido",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Produtor",
                "displayName": "Produtor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Produto",
                "displayName": "Produto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Cliente Nome",
                "displayName": "Cliente Nome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Cliente Email",
                "displayName": "Cliente Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Cliente CPF",
                "displayName": "Cliente CPF",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Telefone",
                "displayName": "Telefone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Endereço completo",
                "displayName": "Endereço completo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Logradouro",
                "displayName": "Logradouro",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Número",
                "displayName": "Número",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Bairro",
                "displayName": "Bairro",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Complemento",
                "displayName": "Complemento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CEP",
                "displayName": "CEP",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Cidade",
                "displayName": "Cidade",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "País",
                "displayName": "País",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Status Financeiro",
                "displayName": "Status Financeiro",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Status Cancelamento",
                "displayName": "Status Cancelamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Ticket (R$)",
                "displayName": "Ticket (R$)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Modalidade de Contrato",
                "displayName": "Modalidade de Contrato",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Criado Em",
                "displayName": "Criado Em",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Data Efetivado",
                "displayName": "Data Efetivado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Data Cancelado",
                "displayName": "Data Cancelado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "utm_source",
                "displayName": "utm_source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "utm_medium",
                "displayName": "utm_medium",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "utm_campaign",
                "displayName": "utm_campaign",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "utm_content",
                "displayName": "utm_content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "utm_last_source",
                "displayName": "utm_last_source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "utm_last_medium",
                "displayName": "utm_last_medium",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "utm_last_campaign",
                "displayName": "utm_last_campaign",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "utm_last_content",
                "displayName": "utm_last_content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Renovação automatica",
                "displayName": "Renovação automatica",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Data de Renovação Prevista",
                "displayName": "Data de Renovação Prevista",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Renovação enviada",
                "displayName": "Renovação enviada",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Oferta",
                "displayName": "Oferta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          48,
          -80
        ],
        "id": "03669d52-1ead-4db3-9705-2bf20866a6f2",
        "name": "Update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "SN6RzeMl3gN9prB4",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "23/01/26 | 15:51:29",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "STATUS"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -912,
          -304
        ],
        "id": "320b6896-7d1d-46eb-b296-fcdc216ae84f",
        "name": "getPurhcasesTMB1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "SN6RzeMl3gN9prB4",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Planilha 1 \n\n \n",
          "height": 304
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -976,
          -416
        ],
        "id": "dd27bb36-6c54-4716-b6e6-2e54a17435d4",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Planilha 12\n\n \n",
          "height": 304
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -640,
          -112
        ],
        "id": "a35dde89-6a87-4a0c-8c9c-edd7f3961f37",
        "name": "Sticky Note1"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "getPurhcasesTMB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "getPurhcasesTMB": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get_produto": {
        "main": [
          [
            {
              "node": "Get_oferta1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Update row in sheet",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Buffer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buffer": {
        "main": [
          [
            {
              "node": "Get_produto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MySQL": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get_user1": {
        "main": [
          [
            {
              "node": "IF_user1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF_user1": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set": {
        "main": [
          [
            {
              "node": "MySQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Get_user1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get_oferta1": {
        "main": [
          [
            {
              "node": "Get_user1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MySQL9": {
        "main": [
          [
            {
              "node": "Set8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set8": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Date & Time2": {
        "main": [
          [
            {
              "node": "Date & Time3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Date & Time3": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Operation, do nothing1": {
        "main": [
          [
            {
              "node": "Date & Time2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "MySQL9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Lucas Nunes",
    "name": null,
    "description": null
  },
  "activeVersionId": "56ff26d9-04ce-4ca4-82b0-60f3738c52ad",
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "getPurhcasesTMB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getPurhcasesTMB": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_produto": {
      "main": [
        [
          {
            "node": "Get_oferta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer": {
      "main": [
        [
          {
            "node": "Get_produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_user1": {
      "main": [
        [
          {
            "node": "IF_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_user1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_oferta1": {
      "main": [
        [
          {
            "node": "Get_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL9": {
      "main": [
        [
          {
            "node": "Set8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set8": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "MySQL9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-23T19:03:12.837Z",
  "id": "CBt9QPJiM3lqANdX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Retroativo TMB",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        16
      ],
      "id": "d39876af-2b32-40b5-b60b-77a9750f7158",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2139476605,
          "mode": "list",
          "cachedResultName": "24/01/26 | de 15:51:29 (23/01) - 15:00:00 (24/01) ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit#gid=2139476605"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -576,
        16
      ],
      "id": "58ed38b7-0a2a-4345-9a84-2223b86ad3e4",
      "name": "getPurhcasesTMB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SN6RzeMl3gN9prB4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -368,
        16
      ],
      "id": "e14fcd99-16a3-4438-9d07-0fa02600b45b",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "product_ext",
              "value": "={{ $json[\"Oferta\"] === 'Acelerador Nível Médio - OPERA2601' ? 12902 : 12901 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2f0e5987-40c2-4884-8337-8ca52626cd1b",
      "name": "Get_produto",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        256,
        128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        16
      ],
      "id": "efe4e2f8-1630-4c12-990b-c8cf7c65b860",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Buffer",
      "typeVersion": 1,
      "position": [
        48,
        128
      ],
      "id": "cb73517e-6ca5-4594-a8ca-c37058ebd91b"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "offers",
          "mode": "list",
          "cachedResultName": "offers"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "offer_ext",
              "value": "={{ $json[\"Oferta\"] === 'Acelerador Nível Médio - OPERA2601' ? 'RLN1545037C' : '0UQ154496HS' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "42ce7658-5e4f-4490-9ab1-1a991e7761c4",
      "name": "Get_oferta1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        448,
        128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "options": {}
      },
      "id": "11ed035b-bea7-41bd-a516-fe187ecc6762",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1344,
        224
      ],
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"Buffer\"].json[\"Cliente Email\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c4b72327-5a39-45ce-ab0d-4f012579d300",
      "name": "Get_user1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        704,
        128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "8410af9c-4822-43d4-becd-876e6926e3ea",
      "name": "IF_user1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        928,
        128
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $node[\"Buffer\"].json[\"Cliente Nome\"] || null}}"
            },
            {
              "name": "ext_id",
              "value": "={{ $node[\"Buffer\"].json[\"Cliente Email\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"Buffer\"].json[\"Cliente Email\"] }}"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Buffer\"].json[\"Telefone\"] }}"
            },
            {
              "name": "document",
              "value": "={{ $node[\"Buffer\"].json[\"Cliente CPF\"] }}"
            },
            {
              "name": "update_time",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "805978a1-7ce8-46f3-a79f-df9061c90fba",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1120,
        224
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "507ade01-3750-4372-b816-7cd7f3981eba",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1568,
        224
      ],
      "webhookId": "62b24741-5650-4d92-b4b1-90869132bea9"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "transactions_new",
          "mode": "list",
          "cachedResultName": "transactions_new"
        },
        "options": {}
      },
      "id": "3d15b5c3-7938-4157-9046-44445929e1f4",
      "name": "MySQL9",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2000,
        32
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "row_number",
              "value": "={{ $node[\"Buffer\"].json[\"row_number\"] }}"
            },
            {
              "name": "STATUS",
              "value": "=PROCESSADA"
            }
          ]
        },
        "options": {}
      },
      "id": "e6509741-2abe-4730-9734-e5087a5174a1",
      "name": "Set8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2224,
        272
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "TMB_Vendas",
          "mode": "list",
          "cachedResultName": "TMB_Vendas"
        },
        "columnToMatchOn": "id_sql",
        "options": {}
      },
      "id": "98606e9e-55b9-4705-bf2e-02fd12642ef4",
      "name": "MySQL10",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2448,
        32
      ],
      "credentials": {
        "mySql": {
          "id": "6cR89c3DkwiktSiW",
          "name": "MySQL Vendas"
        }
      }
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $('Buffer').item.json.data_efetivado }}",
        "timeUnit": "hours",
        "options": {}
      },
      "id": "bf0d99bb-b414-4e66-9911-ed01f1aa6afa",
      "name": "Date & Time2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1344,
        32
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json.newDate }}",
        "options": {}
      },
      "id": "9d0b1169-aab5-4530-b7e9-5a4701d5a6b8",
      "name": "Date & Time3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1568,
        32
      ]
    },
    {
      "parameters": {},
      "id": "76894b4c-1797-4e9c-935d-5fd7cc383355",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cefe7454-c76c-40c2-9041-8dd3e4f9a955",
              "name": "ext_id",
              "value": "={{ $node[\"Buffer\"].json[\"Pedido\"] }}",
              "type": "string"
            },
            {
              "id": "b8377aee-4911-47da-8079-74bb66dcba00",
              "name": "product_id",
              "value": "={{ $('Get_produto').item.json.id_product }}",
              "type": "number"
            },
            {
              "id": "7f9da3cb-a01d-4704-9b5b-86bb01fe50ca",
              "name": "offer_id",
              "value": "={{ $('Get_oferta1').item.json.id_offer }}",
              "type": "number"
            },
            {
              "id": "ca4acba6-b616-4597-8705-61e69de15b96",
              "name": "user_id",
              "value": "={{ $('Get_user1').item.json.id_user }}",
              "type": "string"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj1",
              "name": "payment_method",
              "type": "string",
              "value": "=Boleto parcelado"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj2",
              "name": "payment_price",
              "type": "string",
              "value": "={{ $node[\"Buffer\"].json[\"Ticket (R$)\"] }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj3",
              "name": "installments",
              "type": "string",
              "value": "={{ 1 }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj4",
              "name": "approved_date",
              "type": "string",
              "value": "={{ \n  (() => {\n    const raw = $node[\"Buffer\"].json[\"Data Efetivado\"];\n    if (!raw) return null;\n\n    const [date, time] = raw.split(' ');\n    const [day, month, year] = date.split('/');\n\n    return `${year}-${month}-${day} ${time}`;\n  })()\n}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj5",
              "name": "warranty_expire_date",
              "type": "string"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudf6j",
              "name": "order_date",
              "type": "string",
              "value": "={{ \n  (() => {\n    const raw = $node[\"Buffer\"].json[\"Criado Em\"];\n    if (!raw) return null;\n\n    const [date, time] = raw.split(' ');\n    const [day, month, year] = date.split('/');\n\n    return `${year}-${month}-${day} ${time}`;\n  })()\n}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj7",
              "name": "commision_value",
              "type": "string",
              "value": "={{ $node[\"Buffer\"].json[\"Ticket (R$)\"] }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj8",
              "name": "platform",
              "type": "string",
              "value": "tmb"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj9",
              "name": "commission_plataform",
              "type": "string",
              "value": "={{ 0 }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj0",
              "name": "currency",
              "type": "string",
              "value": "=BRL"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia1fpudfj",
              "name": "utm_source",
              "type": "string",
              "value": "={{ $node[\"Buffer\"].json[\"utm_source\"] || $node[\"Buffer\"].json[\"utm_last_source\"] }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia2fpudfj",
              "name": "utm_medium",
              "type": "string",
              "value": "={{ $node[\"Buffer\"].json[\"utm_medium\"]  || null  }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia3fpudfj",
              "name": "utm_campaign",
              "type": "string",
              "value": "={{ $node[\"Buffer\"].json[\"utm_campaign\"]  || null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia4fpudfj",
              "name": "utm_term",
              "type": "string",
              "value": "={{ null}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia5fpudfj",
              "name": "utm_content",
              "type": "string",
              "value": "={{ $node[\"Buffer\"].json[\"utm_content\"] || null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia6fpudfj",
              "name": "sck",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia7fpudfj",
              "name": "src",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia8fpudfj",
              "name": "campaign_id",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia9fpudfj",
              "name": "adset_id",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia0fpudfj",
              "name": "ad_id",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf1uibhiafpudfj",
              "name": "xcod",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf2uibhiafpudfj",
              "name": "cycle",
              "type": "string",
              "value": "=1"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf3uibhiafpudfj",
              "name": "status",
              "type": "string",
              "value": "={{ $node[\"Buffer\"].json[\"Status\"] }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf4uibhiafpudfj",
              "name": "installments_value",
              "type": "string",
              "value": "=0"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfu5ibhiafpudfj",
              "name": "commission_affiliate",
              "type": "string",
              "value": "={{ 0 }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd6fuibhiafpudfj",
              "name": "code_affiliate",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd7fuibhiafpudfj",
              "name": "name_affiliate",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd8fuibhiafpudfj",
              "name": "purchase_type",
              "type": "string",
              "value": "venda"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd9fuibhiafpudfj",
              "name": "cancelled_time",
              "type": "string",
              "value": "={{ $node[\"Buffer\"].json[\"Data Cancelado\"] || null }}"
            },
            {
              "id": "7e0ef0d0-1682-4e3f-91d0-dad2a3514aef",
              "name": "json_vendas_id",
              "value": "={{ $node[\"Buffer\"].json[\"row_number\"] }}",
              "type": "string"
            },
            {
              "id": "96a8c2b5-3f86-4a11-9158-39e298dd67e3",
              "name": "is_processed",
              "value": "={{ 'N' }}",
              "type": "string"
            },
            {
              "id": "15475413-fc56-4167-884f-9b8bacd618d8",
              "name": "entry_value",
              "value": "=0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        32
      ],
      "id": "d7eb0d0b-1fbf-488b-bdee-52ce309e07cb",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2139476605,
          "mode": "list",
          "cachedResultName": "24/01/26 | de 15:51:29 (23/01) - 15:00:00 (24/01) ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit#gid=2139476605"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Pedido",
              "displayName": "Pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produtor",
              "displayName": "Produtor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cliente Nome",
              "displayName": "Cliente Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cliente Email",
              "displayName": "Cliente Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cliente CPF",
              "displayName": "Cliente CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Endereço completo",
              "displayName": "Endereço completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logradouro",
              "displayName": "Logradouro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Número",
              "displayName": "Número",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bairro",
              "displayName": "Bairro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Complemento",
              "displayName": "Complemento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CEP",
              "displayName": "CEP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cidade",
              "displayName": "Cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "País",
              "displayName": "País",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Financeiro",
              "displayName": "Status Financeiro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Cancelamento",
              "displayName": "Status Cancelamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket (R$)",
              "displayName": "Ticket (R$)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Modalidade de Contrato",
              "displayName": "Modalidade de Contrato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criado Em",
              "displayName": "Criado Em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Efetivado",
              "displayName": "Data Efetivado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Cancelado",
              "displayName": "Data Cancelado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_last_source",
              "displayName": "utm_last_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_last_medium",
              "displayName": "utm_last_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_last_campaign",
              "displayName": "utm_last_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_last_content",
              "displayName": "utm_last_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Renovação automatica",
              "displayName": "Renovação automatica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data de Renovação Prevista",
              "displayName": "Data de Renovação Prevista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Renovação enviada",
              "displayName": "Renovação enviada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Oferta",
              "displayName": "Oferta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        -80
      ],
      "id": "03669d52-1ead-4db3-9705-2bf20866a6f2",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SN6RzeMl3gN9prB4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "23/01/26 | 15:51:29",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QOVXskh0gMIBA5czM5HKZ4_rxOBgvpFGQTUrZLjxuVY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -912,
        -304
      ],
      "id": "320b6896-7d1d-46eb-b296-fcdc216ae84f",
      "name": "getPurhcasesTMB1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SN6RzeMl3gN9prB4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Planilha 1 \n\n \n",
        "height": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -976,
        -416
      ],
      "id": "dd27bb36-6c54-4716-b6e6-2e54a17435d4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Planilha 12\n\n \n",
        "height": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        -112
      ],
      "id": "a35dde89-6a87-4a0c-8c9c-edd7f3961f37",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-23T19:03:12.837Z",
      "createdAt": "2026-01-23T19:03:12.837Z",
      "role": "workflow:owner",
      "workflowId": "CBt9QPJiM3lqANdX",
      "projectId": "VuiAAhWq61ItL83O"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-24T21:28:57.482Z",
  "versionId": "56ff26d9-04ce-4ca4-82b0-60f3738c52ad"
}