workflows/2026-01-30/dxLDSnuwJfnABZxl-Placement 2 (NOVO).json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time3": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists3": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Item Lists3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-06T19:56:06.099Z",
  "id": "dxLDSnuwJfnABZxl",
  "isArchived": false,
  "meta": null,
  "name": "Placement 2 (NOVO)",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"HTTP Request\"].json[\"data\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "fec49d4b-2afb-4a63-b322-3d672d446167",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1760,
        208
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "d54a4ffc-2ff7-48ea-bbe1-7a13d76469b3",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -1536,
        192
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "let placement = 'verificar' + $json[\"device_platform\"] + $json[\"publisher_platform\"] + $json[\"platform_position\"]\nconst unique = $json[\"device_platform\"] + $json[\"publisher_platform\"] + $json[\"platform_position\"]\n\nif($json[\"device_platform\"] == \"mobile_app\"){\n  if($json[\"publisher_platform\"] == \"instagram\"){\n    if($json[\"platform_position\"] == \"instagram_reels\"){\n      placement = 'Instagram_Reels'\n    }\n    if($json[\"platform_position\"] == \"feed\"){\n      placement = 'Instagram_Feed'\n    }\n    if($json[\"platform_position\"] == \"instagram_explore\"){\n      placement = 'Instagram_Explore'\n    }\n    if($json[\"platform_position\"] == \"instagram_stories\"){\n      placement = 'Instagram_Stories'\n    }\n    if($json[\"platform_position\"] == \"instagram_stories\"){\n      placement = 'Instagram_Stories'\n    }\n  }\n\n  if($json[\"publisher_platform\"] == \"facebook\"){\n    if($json[\"platform_position\"] == \"facebook_reels\"){\n      placement = 'Facebook_Reels'\n    }\n    if($json[\"platform_position\"] == \"feed\"){\n      placement = 'Facebook_Mobile_Feed'\n    }\n    \n    if($json[\"platform_position\"] == \"facebook_stories\"){\n      placement = 'Facebook_Stories'\n    }\n    if($json[\"platform_position\"] == \"video_feeds\"){\n      // placement = \n    }\n    if($json[\"platform_position\"] == \"search\"){\n      placement = 'Facebook_Search'\n    }    \n  }\n}\n\nconst json = {\n  \"an\": [\n    \"verificardesktopaudience_networkan_classic\",\n    \"verificarmobile_appaudience_networkan_classic\"\n  ],\n  \"Instagram_Feed\": [\n    \"verificardesktopinstagramfeed\",\n    \"verificarmobile_webinstagramfeed\",\n    \"verificarmobile_appinstagraminstragram_profile_feed\"\n  ],\n  \"Others\": [\n    \"verificarunknownunknownunknown\"\n  ],\n  \"Facebook_Mobile_Feed\": [\n    \"verificarmobile_webfacebookfeed\",\n    \"verificarmobile_appfacebookvideo_feeds\",\n    \"verificarmobile_appfacebookmainstream_video\",\n    \"verificarmobile_appfacebookfacebook_reels_overlay\",\n    \"verificarmobile_appaudience_networkrewarded_video\"\n  ],\n  \"Instagram_Explore_Grid_Home\": [\n    \"verificarmobile_appinstagraminstragram_explore_grid_home\"\n  ],\n  \"Facebook_Right_Column\": [\n    \"verificardesktopfacebookright_hand_column\"\n  ],\n  \"Facebook_Instream_Video\": [\n    \"verificardesktopfacebookinstream_video\"\n  ],\n  \"Messenger_Inbox\": [\n    \"verificarmobile_appmessengermessenger_inbox\",\n    \"verificarmobile_appmessengermessenger_stories\"\n  ],\n  \"Facebook_Marketplace\": [\n    \"verificarmobile_appfacebookmarketplace\",\n    \"verificardesktopfacebookmarketplace\"\n  ],\n  \"Facebook_Desktop_Feed\": [\n    \"verificardesktopfacebookfeed\",\n    \"verificardeskstopappaudience_networkrewarded_video\",\n    \"verificardesktopfacebooksearch\"\n  ],\n  \"Facebook_Mobile_Reels\":[\n    \"facebook_reels\"\n  ],\n  \"Facebook_Feed\":[\n    \"verificarmobile_appfacebook_profile_feed\"\n  ]\n}\n\nfor(el in json){\n  json[el].forEach(array=>{\n    placement == array ? placement = el : ''\n    placement.includes('verificar') ? placement = 'Others' : ''\n  })\n}\n\nreturn {'Placement':placement,unique:unique};"
      },
      "id": "16e00859-eebe-416d-85f2-a5826056d6fb",
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        -1328,
        192
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "value": "={{ $node[\"Item Lists\"].json[\"date_start\"] }}",
        "dataPropertyName": "Data",
        "custom": true,
        "toFormat": "Y-MM-DD",
        "options": {
          "fromFormat": "Y-MM-DD"
        }
      },
      "id": "99050639-5e94-4332-8b24-dade6a046180",
      "name": "Date & Time3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -1104,
        192
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/act_{{ $json[\"ID Conta de Anuncio\"] }}/insights",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "level",
              "value": "ad"
            },
            {
              "name": "time_range",
              "value": "={'since':'{{ $json[\"data\"] }}','until':'{{ $json[\"data\"] }}'}"
            },
            {
              "name": "fields",
              "value": "campaign_name,adset_name,ad_name,spend,impressions,inline_link_clicks,ad_id"
            },
            {
              "name": "access_token",
              "value": "={{ $json[\"Token\"] }}"
            },
            {
              "name": "breakdowns",
              "value": "device_platform, publisher_platform, platform_position"
            },
            {
              "name": "limit",
              "value": "500"
            }
          ]
        }
      },
      "id": "fb3a3a06-c414-4219-a28e-e261495b8465",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1984,
        208
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $node[\"IF\"].json[\"paging\"][\"next\"] }}",
        "options": {}
      },
      "id": "383691a4-195c-4256-a794-54e663452831",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "retryOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "limit"
      },
      "id": "d19aa79a-7768-4272-9989-fa4a49e9941c",
      "name": "Item Lists3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -448,
        192
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "campaigns_placements",
          "mode": "list",
          "cachedResultName": "campaigns_placements"
        },
        "columnToMatchOn": "id_data",
        "options": {}
      },
      "id": "2a4e67b1-6ae6-4620-b9cd-fc64a097d1a9",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -656,
        192
      ],
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {},
      "id": "ba11bf65-de82-4996-b351-1e29110e8a9c",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2208,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "507f9f85-aa9a-4a0d-a523-4698cdc3a1cb",
              "leftValue": "={{ $node[\"IF\"].json[\"paging\"][\"next\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cf87221b-37a6-49bd-a097-49d72135f4c5",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -224,
        192
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Conjunto",
              "value": "={{ $node[\"Item Lists\"].json[\"adset_name\"] }}"
            },
            {
              "name": "AD",
              "value": "={{ $node[\"Item Lists\"].json[\"ad_name\"] }}"
            },
            {
              "name": "Gasto",
              "value": "={{ $node[\"Item Lists\"].json[\"spend\"] }}"
            },
            {
              "name": "Clicks",
              "value": "={{ $node[\"Item Lists\"].json[\"inline_link_clicks\"] }}"
            },
            {
              "name": "Campanha",
              "value": "={{ $node[\"Item Lists\"].json[\"campaign_name\"] }}"
            },
            {
              "name": "Impressoes",
              "value": "={{ $node[\"Item Lists\"].json[\"impressions\"] }}"
            },
            {
              "name": "BM",
              "value": "={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"BM\"] }}"
            },
            {
              "name": "id_data",
              "value": "={{ $node[\"Item Lists\"].json[\"ad_id\"] }}_{{ $node['Date & Time3'].json.Data }}_{{ $node['Date & Time3'].json.unique }}"
            },
            {
              "name": "Data",
              "value": "={{ $node[\"Date & Time3\"].json[\"Data\"] }}"
            },
            {
              "name": "Placement",
              "value": "={{ $node[\"Date & Time3\"].json[\"Placement\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f3c9ae6d-5a52-4b41-a76c-7424d9b5ce74",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -880,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8e4fe063-7dd4-46a9-9f8b-660b14f829f8",
              "name": "next",
              "value": "={{ $('HTTP Request').item.json.paging.next }}",
              "type": "string"
            },
            {
              "id": "9e24779d-d72f-4426-9314-d9fce70a7f74",
              "name": "BM",
              "value": "={{ $('Execute Workflow Trigger').item.json.BM }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "993c0512-0307-412a-a4a5-5b5ac49648e6",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GjftQGS52II5xc4d",
          "mode": "list",
          "cachedResultName": "Placement 3 (NOVO)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        192
      ],
      "id": "70dddf96-2558-4c6a-b9ce-4b1dbf70022d",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {},
  "settings": {
    "errorWorkflow": "HXcAl85buK80GKh9"
  },
  "shared": [
    {
      "updatedAt": "2025-08-06T19:56:06.099Z",
      "createdAt": "2025-08-06T19:56:06.099Z",
      "role": "workflow:owner",
      "workflowId": "dxLDSnuwJfnABZxl",
      "projectId": "VuiAAhWq61ItL83O"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-31T12:00:22.121Z",
  "versionId": "4530d81a-bd22-49aa-8e3f-0ff36453d371"
}