workflows/2026-01-12/cQCL6hchcXFclFTu-My workflow 9.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Get_oferta": {
      "main": [
        [
          {
            "node": "IF_oferta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_produto": {
      "main": [
        [
          {
            "node": "IF_produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "upsert2Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_produto": {
      "main": [
        [
          {
            "node": "Get_oferta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_oferta": {
      "main": [
        [
          {
            "node": "Get_user",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF5": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "getQueueItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_user": {
      "main": [
        [
          {
            "node": "IF_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_user": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set4": {
      "main": [
        [
          {
            "node": "upsert2Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL7": {
      "main": [
        [
          {
            "node": "Set6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set6": {
      "main": [
        [
          {
            "node": "MySQL8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL8": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "set2TransactionsNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "MySQL13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL13": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "getQueueItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get_produto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "upsert2Offers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hotmart": {
      "main": [
        [
          {
            "node": "Hotmart_Object1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transactions_ObjectFinal": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getQueueItem": {
      "main": [
        [
          {
            "node": "update2SalesEvents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hotmart_Object1": {
      "main": [
        [
          {
            "node": "Transactions_ObjectFinal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer": {
      "main": [
        [
          {
            "node": "Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update2SalesEvents": {
      "main": [
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upsert2Users": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upsert2Offers": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upsert2Products": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set2TransactionsNew": {
      "main": [
        [
          {
            "node": "MySQL7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-16T14:29:50.267Z",
  "id": "cQCL6hchcXFclFTu",
  "isArchived": true,
  "meta": null,
  "name": "My workflow 9",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "offers",
          "mode": "list",
          "cachedResultName": "offers"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "offer_ext",
              "value": "={{ $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"product_offer_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b4fd298c-ca39-4cab-8bad-7062cb6fe85a",
      "name": "Get_oferta",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -1696,
        384
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "product_ext",
              "value": "={{ $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"product_marketplace_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6223673a-7b1b-40b2-bbca-32fc78822a91",
      "name": "Get_produto",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -2128,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "product_ext",
              "value": "={{ $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"product_marketplace_id\"] || 0}}"
            },
            {
              "name": "product_name",
              "value": "={{ $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"product_name\"] }}"
            },
            {
              "name": "product_price",
              "value": "={{ $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"payment_price\"] || 0}}"
            },
            {
              "name": "update_time",
              "value": "={{ $now }}"
            },
            {
              "name": "platform",
              "value": "={{ $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"platform\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1b8edc76-5bea-4af3-b35a-fe029fa844f2",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1696,
        576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "ca084d03-ad3b-423b-a379-c3b616ddccdc",
      "name": "IF_produto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1904,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "2c74fd24-0242-4bf1-8391-5ad39f3b1c69",
      "name": "IF_oferta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1472,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['getQueueItem'].json }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "78699d7f-6039-4ce4-9fd6-1bd5d1c9315c",
      "name": "IF5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3440,
        560
      ]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "minutes"
      },
      "id": "ab12b49a-f521-4af0-ba20-8d7645a8822c",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -3232,
        432
      ],
      "webhookId": "f2fa12a1-9597-49d0-8176-a737af43f8a4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $execution.resumeUrl.extractDomain() }}/webhook/{{ $('Webhook').params[\"path\"] }}",
        "options": {}
      },
      "id": "2aa7c4da-2b56-471d-acb6-18887556ad42",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3056,
        432
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {},
      "id": "04a08646-8355-471d-aeb8-ef050a09d75b",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4064,
        768
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"Buffer\"].json[\"email\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ddbfb116-9858-446a-baba-7178f8c74012",
      "name": "Get_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -1248,
        176
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "652b6194-36ef-46ec-990f-ac78b21eae5f",
      "name": "IF_user",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1024,
        176
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $('Buffer').item.json.name }}"
            },
            {
              "name": "ext_id",
              "value": "={{ $item(\"0\").$node[\"Buffer\"].json[\"email\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Buffer\"].json[\"email\"] }}"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"subscriber_phone\"] || null}}"
            },
            {
              "name": "document",
              "value": "={{ $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"subscriber_doc\"] || null}}"
            },
            {
              "name": "update_time",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e21c73a7-b460-44ef-8f81-ad78af00b5c9",
      "name": "Set4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -816,
        208
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "transactions_new",
          "mode": "list",
          "cachedResultName": "transactions_new"
        },
        "options": {}
      },
      "id": "fe69f432-ae04-4fa9-9d7a-5a3177f91cbd",
      "name": "MySQL7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        32,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id_sql",
              "value": "={{ $node[\"getQueueItem\"].json[\"id_sql\"] }}"
            },
            {
              "name": "foi",
              "value": "=1"
            },
            {
              "name": "processada",
              "value": "={{ $now }}"
            },
            {
              "name": "status",
              "value": "executed"
            }
          ]
        },
        "options": {}
      },
      "id": "8cf85412-8549-4e7e-95b9-6f4a19569a6e",
      "name": "Set6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        256,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Hotmart_Vendas",
          "mode": "list",
          "cachedResultName": "Hotmart_Vendas"
        },
        "columnToMatchOn": "id_sql",
        "options": {}
      },
      "id": "345c33df-c11f-4cfc-9571-458c29ce653d",
      "name": "MySQL8",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        464,
        0
      ],
      "credentials": {
        "mySql": {
          "id": "6cR89c3DkwiktSiW",
          "name": "MySQL Vendas"
        }
      }
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json.data }}",
        "timeUnit": "hours",
        "duration": 3,
        "options": {}
      },
      "id": "704b9cd0-1e6d-459b-ae1e-a0d97994007a",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -592,
        0
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json.newDate }}",
        "duration": "={{ $('Buffer').item.json.recurrency_period }}",
        "options": {}
      },
      "id": "f700c549-dbcf-4cb5-a6b5-a34cf97a3a1a",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -368,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $execution.resumeUrl.extractDomain() }}/webhook/{{ $('Webhook').params[\"path\"] }}",
        "options": {}
      },
      "id": "3c6417d2-5c8d-4572-8316-aaef44129db8",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        912,
        0
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "ext_id",
              "value": "={{ $('Buffer').item.json.order_id }}"
            },
            {
              "name": "invoice_code",
              "value": "={{ $('Buffer').item.json.order_ref }}"
            },
            {
              "name": "invoice_cycle",
              "value": "="
            },
            {
              "name": "invoice_discount",
              "value": "={{ $node['Buffer'].json.invoice.discount_value }}"
            },
            {
              "name": "invoice_id",
              "value": "={{ $('Buffer').item.json.order_ref }}"
            },
            {
              "name": "invoice_increment_value",
              "value": "={{ $node['Buffer'].json.invoice.increment_value }}"
            },
            {
              "name": "invoice_payment_url",
              "value": "={{ $('Buffer').item.json.pix_code }}"
            },
            {
              "name": "invoice_period_start",
              "value": "={{ $('Date & Time').item.json.newDate }}"
            },
            {
              "name": "invoice_period_end",
              "value": "={{ $json.newDate }}"
            },
            {
              "name": "invoice_subscription_id",
              "value": "={{ $node['Buffer'].json.invoice.id }}"
            },
            {
              "name": "invoice_status",
              "value": "={{ $('Buffer').item.json.order_status }}"
            },
            {
              "name": "invoice_next_cycle",
              "value": "={{ null }}"
            },
            {
              "name": "invoice_type",
              "value": "={{ $('Buffer').item.json.product_type }}"
            },
            {
              "name": "subscriber_id",
              "value": "={{ $('Buffer').item.json.Customer.email }}"
            },
            {
              "name": "subscriber_internal_id",
              "value": "={{ $node['Get_user'].json.id_user }}"
            },
            {
              "name": "subscriber_name",
              "value": "={{ $('Buffer').item.json.Customer.full_name }}"
            },
            {
              "name": "subscriber_email",
              "value": "={{ $('Buffer').item.json.Customer.email }}"
            },
            {
              "name": "subscriber_phone",
              "value": "={{ $('Buffer').item.json.Customer.mobile }}"
            },
            {
              "name": "subscriber_doc",
              "value": "={{ $('Buffer').item.json.Customer.CPF }}"
            },
            {
              "name": "subscriber_status"
            },
            {
              "name": "contact_address",
              "value": "={{ $('Buffer').item.json.customer.street_name }}"
            },
            {
              "name": "contact_address_city",
              "value": "={{ $('Buffer').item.json.customer.city }}"
            },
            {
              "name": "contact_address_comp",
              "value": "={{ $('Buffer').item.json.customer.complement }}"
            },
            {
              "name": "contact_address_country",
              "value": "={{ $node['Buffer'].json.contact.address_country }}"
            },
            {
              "name": "contact_address_district",
              "value": "={{ $('Buffer').item.json.customer.district }}"
            },
            {
              "name": "contact_address_number",
              "value": "={{ $('Buffer').item.json.customer.street_number }}"
            },
            {
              "name": "contact_address_state",
              "value": "={{ $('Buffer').item.json.customer.state }}"
            },
            {
              "name": "contact_address_full_name",
              "value": "={{ $('Buffer').item.json.customer.street_name }}, {{ $('Buffer').item.json.customer.street_number }}"
            },
            {
              "name": "contact_address_zip_code",
              "value": "={{ $('Buffer').item.json.customer.zip_code }}"
            },
            {
              "name": "product_id",
              "value": "={{ $node['IF_produto'].json.id_product }}"
            },
            {
              "name": "product_marketplace_id",
              "value": "={{ $node['IF_produto'].json.product_ext }}"
            },
            {
              "name": "product_name",
              "value": "={{ $node['IF_produto'].json.product_name }}"
            },
            {
              "name": "product_offer_id",
              "value": "={{ $node['IF_oferta'].json.id_offer }}"
            },
            {
              "name": "product_offer_name",
              "value": "={{ $node['IF_oferta'].json.offer_name }}"
            },
            {
              "name": "payment_method",
              "value": "={{ $('Buffer').item.json.payment_method }}"
            },
            {
              "name": "payment_price",
              "value": "={{ $('Buffer').item.json.Commissions.charge_amount/100 }}"
            },
            {
              "name": "queue_json",
              "value": "={{ $node['getQueueItem'].json.id_sql }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Buffer').item.json.TrackingParameters.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Buffer').item.json.TrackingParameters.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Buffer').item.json.TrackingParameters.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Buffer').item.json.TrackingParameters.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Buffer').item.json.TrackingParameters.utm_term }}"
            },
            {
              "name": "src",
              "value": "={{ $('Buffer').item.json.TrackingParameters.src }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2ee3aa46-e6ff-4ce0-a147-6a1afd1624f6",
      "name": "Set com oferta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        160,
        -192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://webhook.aconcursos.com.br/webhook/89e9f180-82a7-4bd7-b598-ad1d2ef5157d",
        "options": {}
      },
      "id": "505264de-ec50-4af1-b5e2-a3d9671a2fe9",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3056,
        208
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id_sql",
              "value": "={{ $('getQueueItem').item.json.id_sales_events }}"
            },
            {
              "name": "status",
              "value": "error"
            }
          ]
        },
        "options": {}
      },
      "id": "c2ddfc61-f97d-4977-9b7b-230ffaab79bc",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2128,
        768
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Hotmart_Vendas",
          "mode": "list",
          "cachedResultName": "Hotmart_Vendas"
        },
        "columnToMatchOn": "id_sql",
        "options": {}
      },
      "id": "f53fc23c-2513-44c3-b5e2-373e947319ad",
      "name": "MySQL13",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -1904,
        768
      ],
      "credentials": {
        "mySql": {
          "id": "6cR89c3DkwiktSiW",
          "name": "MySQL Vendas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $execution.resumeUrl.extractDomain() }}/webhook/{{ $('Webhook').params[\"path\"] }}",
        "options": {}
      },
      "id": "41b2b8a2-1be6-48fe-a5aa-bef33d617c8b",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1696,
        768
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "let datas = []\nfor (item in $node.Buffer.json) {\n  if(item.includes('date')){\n    datas.push($node.Buffer.json[item])\n  }\n}\nfunction DataMaisAntiga(datas) {\n    if (datas.length === 0) {\n        return null;\n    }\n\n    const dataMaisAntiga = datas.reduce(function (dataAtual, data) {\n        return data < dataAtual ? data : dataAtual;\n    });\n\n    return dataMaisAntiga;\n}\n\nfunction FormatDate(date){\n  let dataUTC = new Date(date);\n\n  dataUTC.setUTCHours(dataUTC.getUTCHours() - 3);\n  \n  return dataUTC.toISOString();\n}\n\n// (FormatDate(DataMaisAntiga(datas)))\nreturn {data:FormatDate(DataMaisAntiga(datas))}"
      },
      "id": "9df0c0f5-d32e-4be3-8599-72f6b3bf95da",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "89e9f180-82a7-4bd7-b598-ad1d2ef5157d",
        "options": {}
      },
      "id": "dd65c282-3544-44e3-86b9-2550e111482d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -4064,
        560
      ],
      "webhookId": "89e9f180-82a7-4bd7-b598-ad1d2ef5157d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $execution.resumeUrl.extractDomain() }}/webhook/{{ $('Webhook').params[\"path\"] }}",
        "options": {}
      },
      "id": "293c5068-8c02-46bc-b9a2-793afd4dde2a",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        80,
        576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "5c47237a-0477-42e1-84bd-e57fbff3a601",
              "leftValue": "={{ $('getQueueItem').item.json.tries }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "47e601d3-bbcd-4a05-ba24-e81e5a8ea6ae",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2320,
        576
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "product_id",
              "value": "={{ $('IF_produto').item.json.id_product }}"
            },
            {
              "name": "offer_ext",
              "value": "={{ $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"product_offer_id\"] }}"
            },
            {
              "name": "offer_name",
              "value": "={{ $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"product_offer_name\"] }}"
            },
            {
              "name": "offer_price",
              "value": "={{ $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"offer_price\"] }}"
            },
            {
              "name": "update_time",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eac2bb1a-3c8e-4880-a6c2-59b875dcd3ea",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1248,
        400
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3056,
        672
      ],
      "id": "048895fa-258c-445a-89d9-b39c8c3759eb",
      "name": "Hotmart"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        576
      ],
      "id": "ec6ce2a6-9774-4c81-8c2d-f62669be1796",
      "name": "Transactions_ObjectFinal"
    },
    {
      "parameters": {
        "content": "#### Processa transactions para diferentes plataformas",
        "height": 80,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3120,
        -32
      ],
      "id": "84fe270e-3d99-4d8f-9dff-dc9407ef832c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Hotmart_Vendas",
          "mode": "list",
          "cachedResultName": "Hotmart_Vendas"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "foi",
              "value": "0"
            },
            {
              "column": "tries",
              "condition": "<=",
              "value": "4"
            },
            {
              "column": "status",
              "condition": "!=",
              "value": "processing"
            }
          ]
        },
        "options": {}
      },
      "id": "49dd9dc0-98c7-444b-97e5-6e04c85d4a97",
      "name": "getQueueItem",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -3840,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "6cR89c3DkwiktSiW",
          "name": "MySQL Vendas"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "function isValidObject(obj) {\n    return obj && typeof obj === 'object' && Object.keys(obj).length > 0;\n}\n\nfunction mapJsonToTransaction(data, stored_date, queue_id) {\n    if (!isValidObject(data)) return null;\n\n    return {\n          id_transaction: data.transaction || null,\n          update_at: data.purchase_date || null,\n          ext_id: data.transaction || null,\n          invoice_code: data.transaction || null,\n          invoice_cycle: Number.isNaN(parseInt(data.recurrency)) ? null : parseInt(data.recurrency),\n          invoice_discount: data.invoice?.discount_value || null,\n          invoice_id: data.transaction || null,\n          invoice_increment_value: data.invoice?.increment_value || null,\n          invoice_payment_url: (data.transaction?.qrcode ?? data.sale?.boleto_url) || (data.currentSale?.qrcode ?? data.currentSale?.boleto_url) || null,\n          invoice_subscription_id: data.transaction || null,\n          invoice_status: data.status || null,\n          invoice_next_cycle: Number.isNaN(parseInt(data.recurrency)) ? null : parseInt(data.recurrency) + 1,\n          invoice_type: \"TRANSACTION\",\n          subscriber_id: data.subscriber_code || null,\n          subscriber_internal_id: data.client?.id || null,\n          subscriber_name: data.name || null,\n          subscriber_email: data.email || null,\n          subscriber_phone: data.phone_number || null,\n          subscriber_doc: data.doc || null,\n          subscriber_status: data.subscription_status || null,\n          contact_address: data.address || null,\n          contact_address_city: data.address_city || null,\n          contact_address_comp: data.address_comp || null,\n          contact_address_country: data.address_country || null,\n          contact_address_district: data.address_district || null,\n          contact_address_number: data.address_number || null,\n          contact_address_state: data.address_state || null,\n          contact_address_full_name: data.client?.street && data.client?.number ? `${data.client.street}, ${data.client.number}` : null,\n          contact_address_zip_code: data.address_zip_code || null,\n          product_id: data.prod || null,\n          product_marketplace_id: data.prod || null,\n          product_name: data.prod_name || null,\n          product_offer_id: data.off || null,\n          product_offer_name: data.prod_name || null,\n          payment_method: data.payment_type || null,\n          payment_price: data.full_price || null,\n          offer_price: data.price || null,\n      \n          utm_source: data.sck.split('|')[0] || null,\n          utm_medium: data.sck.split('|')[1] || null,\n          utm_campaign: data.sck.split('|')[2] || null,\n          utm_term: data.sck.split('|')[3] || null,\n          utm_content: data.sck.split('|')[4] || null,\n          src: data.saleMetas?.find(meta => meta.meta_key === \"src\")?.meta_value || null,\n          xcod: data.saleMetas?.find(meta => meta.meta_key === \"xcod\")?.meta_value || null,\n      \n          commision_value: data.cms_vendor || 0,\n          sck: data.sck || null,\n          installments_number: data.installments_number || null,\n          commission_plataform: data.cms_marketplace || 0,\n          commission_affiliate: data.cms_aff || 0,\n          affiliate_name: data.aff_name || null,\n          affiliate_code: data.aff || null,\n          platform: \"hotmart\",\n          product_value: data.price || null,\n          currency: data.currency || null,\n          stored_date,\n          queue_id,      \n          queue_table: \"Hormart_Vendas\"\n    };\n}\n\n\nfunction mapJsonToProductWithOffer(data) {\n    if (!isValidObject(data.product || $input.first().json.product)) return null;\n\n    return {\n        product_marketplace_id: data.product?.id || data.product?.slug || null, // Corrigido\n        product_name: data.prod_name || undefined,\n        product_period: data.product.period || 0,\n        product_description: data.product?.description || undefined,\n        product_price: data.product?.amount ? data.product.amount : undefined,\n        product_class: \"INFOPRODUCT\",\n        product_code: data.product?.slug || undefined,\n        platform: \"greenn\",\n        offer_ext: data.offer?.hash || null,\n        offer_name: data.offer?.name || undefined,\n        offer_price: data.offer?.amount ? data.offer.amount : undefined\n    };\n}\n\nconst transactions = [];\nconst products = new Map();\n\nfor (const item of $input.all()) {\n    if (!isValidObject(item?.json?.body || item?.json)) {\n        console.warn(\"Item ignorado por não conter 'json.data':\", item);\n        continue;\n    }\n\n    const data = item.json.body || item.json;\n    const stored_date =  item.json.stored_date;\n    const queue_id = item.json.id;\n    \n    const transactionData = mapJsonToTransaction(data, stored_date, queue_id);\n    if (transactionData) transactions.push(transactionData);\n\n    const productData = mapJsonToProductWithOffer(data);\n    if (productData && productData.product_marketplace_id) {\n        products.set(productData.product_marketplace_id, productData);\n    }\n}\n\nreturn [{\n    insert: {\n        transactions,\n        products: Array.from(products.values())\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2880,
        672
      ],
      "id": "8f5ac596-f28f-46d7-ac2d-e2297208472e",
      "name": "Hotmart_Object1",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "let json =JSON.parse($('getQueueItem').first().json.jsons)\n\njson.body ? json = json.body : ''\n\nreturn json\n"
      },
      "id": "c3b5bc94-272a-4bdc-9cd3-84cb5583f417",
      "name": "Buffer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3232,
        672
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Hotmart_Vendas",
          "mode": "list",
          "cachedResultName": "Hotmart_Vendas"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_sql",
        "valueToMatchOn": "={{ $json.id_sql }}",
        "valuesToSend": {
          "values": [
            {
              "column": "tries",
              "value": "={{ $json.tries + 1}}"
            },
            {
              "column": "status",
              "value": "processing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -3632,
        560
      ],
      "id": "aa86ee40-52b6-4ffb-b3e2-7167072630e3",
      "name": "update2SalesEvents",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "6cR89c3DkwiktSiW",
          "name": "MySQL Vendas"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "columnToMatchOn": "email",
        "options": {}
      },
      "id": "bfbecc5e-b73a-49b3-bf5c-53f29b825edc",
      "name": "upsert2Users",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -592,
        208
      ],
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "offers",
          "mode": "list",
          "cachedResultName": "offers"
        },
        "options": {}
      },
      "id": "654eccc3-b9d0-487d-9943-2462b56ca3ef",
      "name": "upsert2Offers",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -1024,
        400
      ],
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "options": {}
      },
      "id": "7971381d-b3e3-4f4a-9e23-482814e23aa0",
      "name": "upsert2Products",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -1472,
        576
      ],
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cefe7454-c76c-40c2-9041-8dd3e4f9a955",
              "name": "ext_id",
              "value": "={{ $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"id_transaction\"] }}",
              "type": "string"
            },
            {
              "id": "b8377aee-4911-47da-8079-74bb66dcba00",
              "name": "product_id",
              "value": "={{ $('Get_produto').item.json.id_product }}",
              "type": "string"
            },
            {
              "id": "7f9da3cb-a01d-4704-9b5b-86bb01fe50ca",
              "name": "offer_id",
              "value": "={{ $('Get_oferta').item.json.id_offer }}",
              "type": "string"
            },
            {
              "id": "ca4acba6-b616-4597-8705-61e69de15b96",
              "name": "user_id",
              "value": "={{ $('Get_user').item.json.id_user }}",
              "type": "string"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj1",
              "name": "payment_method",
              "type": "string",
              "value": "={{ $('Transactions_ObjectFinal').item.json.insert.transactions[0].invoice_status === 'expired' ? 'abandoned' : $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"payment_method\"] }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj2",
              "name": "payment_price",
              "type": "string",
              "value": "={{ $('Transactions_ObjectFinal').item.json.insert.transactions[0].invoice_status === 'expired' ? '0.00' : $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"payment_price\"] }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj3",
              "name": "installments",
              "type": "string",
              "value": "={{ $('Transactions_ObjectFinal').item.json.insert.transactions[0].invoice_status === 'expired' ? '0' : $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"installments_number\"]  }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj4",
              "name": "approved_date",
              "type": "string",
              "value": "={{ \n  $('Transactions_ObjectFinal').item.json.insert.transactions[0].invoice_status === 'approved' \n    ? new Date(\n        new Date($('Transactions_ObjectFinal').item.json.insert.transactions[0].update_at).getTime() - 3 * 60 * 60 * 1000\n      ).toISOString() \n    : null\n}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj5",
              "name": "warranty_expire_date",
              "type": "string",
              "value": "={{ $('Buffer').item.json.warranty_date || null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudf6j",
              "name": "order_date",
              "type": "string",
              "value": "={{\n  new Date(\n    new Date($('Transactions_ObjectFinal').item.json.insert.transactions[0].update_at).getTime() - 3 * 60 * 60 * 1000\n  ).toISOString()\n}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj7",
              "name": "commision_value",
              "type": "string",
              "value": "={{ $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"commision_value\"] }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj8",
              "name": "platform",
              "type": "string",
              "value": "={{ $('Transactions_ObjectFinal').item.json.insert.transactions[0].platform }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj9",
              "name": "commission_plataform",
              "type": "string",
              "value": "={{ $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"commission_plataform\"] }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj0",
              "name": "currency",
              "type": "string",
              "value": "={{ $node[\"Transactions_ObjectFinal\"].json[\"insert\"][\"transactions\"][\"0\"][\"currency\"] }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia1fpudfj",
              "name": "utm_source",
              "type": "string",
              "value": "={{ $('Transactions_ObjectFinal').item.json.insert.transactions[0].utm_source || null}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia2fpudfj",
              "name": "utm_medium",
              "type": "string",
              "value": "={{ $('Transactions_ObjectFinal').item.json.insert.transactions[0].utm_medium }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia3fpudfj",
              "name": "utm_campaign",
              "type": "string",
              "value": "={{ $('Transactions_ObjectFinal').item.json.insert.transactions[0].utm_campaign }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia4fpudfj",
              "name": "utm_term",
              "type": "string",
              "value": "={{ $('Transactions_ObjectFinal').item.json.insert.transactions[0].utm_term }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia5fpudfj",
              "name": "utm_content",
              "type": "string",
              "value": "={{ $('Transactions_ObjectFinal').item.json.insert.transactions[0].utm_content }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia6fpudfj",
              "name": "sck",
              "type": "string",
              "value": "={{ $('Transactions_ObjectFinal').item.json.insert.transactions[0].sck || null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia7fpudfj",
              "name": "src",
              "type": "string",
              "value": "={{ $('Transactions_ObjectFinal').item.json.insert.transactions[0].src }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia8fpudfj",
              "name": "campaign_id",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia9fpudfj",
              "name": "adset_id",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia0fpudfj",
              "name": "ad_id",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf1uibhiafpudfj",
              "name": "xcod",
              "type": "string",
              "value": "={{ $('Transactions_ObjectFinal').item.json.insert.transactions[0].xcod || null  }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf2uibhiafpudfj",
              "name": "cycle",
              "type": "string",
              "value": "=1"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf3uibhiafpudfj",
              "name": "status",
              "type": "string",
              "value": "={{ $('Transactions_ObjectFinal').item.json.insert.transactions[0].invoice_status }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf4uibhiafpudfj",
              "name": "installments_value",
              "type": "string",
              "value": "={{ $('Transactions_ObjectFinal').item.json.insert.transactions[0].payment_price / $('Transactions_ObjectFinal').item.json.insert.transactions[0].installments_number}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfu5ibhiafpudfj",
              "name": "commission_affiliate",
              "type": "string",
              "value": "={{ \n  (() => {\n    const val = $('Buffer').item.json.cms_aff;\n    if (typeof val === 'string' && val.includes(';')) {\n      const parts = val.split(';').map(Number);\n      return parts.reduce((a, b) => a + b, 0);\n    } else {\n      return Number(val);\n    }\n  })() || 0\n}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd6fuibhiafpudfj",
              "name": "code_affiliate",
              "type": "string",
              "value": "={{ $('Buffer').item.json.aff || null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd7fuibhiafpudfj",
              "name": "name_affiliate",
              "type": "string",
              "value": "={{ $('Buffer').item.json.aff_name || null }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd8fuibhiafpudfj",
              "name": "purchase_type",
              "type": "string",
              "value": "venda"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd9fuibhiafpudfj",
              "name": "cancelled_time",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "7e0ef0d0-1682-4e3f-91d0-dad2a3514aef",
              "name": "json_vendas_id",
              "value": "={{ $node[\"getQueueItem\"].json[\"id_sql\"] }}",
              "type": "string"
            },
            {
              "id": "96a8c2b5-3f86-4a11-9158-39e298dd67e3",
              "name": "is_processed",
              "value": "={{\n  (() => {\n    const status = $('Transactions_ObjectFinal').item.json.insert.transactions[0].invoice_status;\n    const invalidStatuses = ['abandoned_checkout', 'refunded', 'expired', 'canceled'];\n    return invalidStatuses.includes(status) ? 'Y' : 'N';\n  })()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        0
      ],
      "id": "3f6eb84f-5971-4ec9-871c-014adb835d80",
      "name": "set2TransactionsNew"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id_sql",
              "value": "={{ $('getQueueItem').item.json.id_sql }}"
            },
            {
              "name": "status",
              "value": "Não é evento relacionado à venda"
            },
            {
              "name": "processada",
              "value": "={{ $now }}"
            },
            {
              "name": "foi",
              "value": "1"
            }
          ],
          "number": [
            {
              "name": "tries",
              "value": 5
            }
          ]
        },
        "options": {}
      },
      "id": "ee12c205-f67a-406c-a9af-0808c943bb73",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -3056,
        1008
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Hotmart_Vendas",
          "mode": "list",
          "cachedResultName": "Hotmart_Vendas"
        },
        "columnToMatchOn": "id_sql",
        "options": {}
      },
      "id": "09231282-ae47-4043-9fe5-f9682bf26f56",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -2896,
        1008
      ],
      "credentials": {
        "mySql": {
          "id": "6cR89c3DkwiktSiW",
          "name": "MySQL Vendas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $execution.resumeUrl.extractDomain() }}/webhook/{{ $('Webhook').params[\"path\"] }}",
        "options": {}
      },
      "id": "1b786685-9428-4bce-9c76-dd26b742f442",
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2736,
        1008
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "content": "## Sinalização de erro",
        "height": 240,
        "width": 560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3120,
        944
      ],
      "id": "cc214817-6c42-4154-9997-98fc1ec3a092",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        672,
        0
      ],
      "id": "fc18c48d-cee9-4e51-8c80-eeb5ce997158",
      "name": "Wait",
      "webhookId": "9a643b0d-f0ff-48b9-ad71-28a16e4e0ae6"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-16T14:29:50.267Z",
      "createdAt": "2025-10-16T14:29:50.267Z",
      "role": "workflow:owner",
      "workflowId": "cQCL6hchcXFclFTu",
      "projectId": "VuiAAhWq61ItL83O"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-16T16:31:32.794Z",
  "versionId": "6c127c35-f6de-4333-b17a-dfab29519d09"
}