workflows/2026-01-12/hIjMQ3AFZeC4fm8M-W0001 | Grupos WhatsApp | Armazena entradasaída e métricas dos grupos.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-26T19:22:18.976Z",
    "createdAt": "2025-11-26T19:22:18.976Z",
    "versionId": "6fb7743e-d6e0-45df-9fc9-f097ab3505c2",
    "workflowId": "hIjMQ3AFZeC4fm8M",
    "nodes": [
      {
        "parameters": {
          "table": {
            "__rl": true,
            "value": "launch_groups_queue",
            "mode": "list",
            "cachedResultName": "launch_groups_queue"
          },
          "dataMode": "defineBelow",
          "valuesToSend": {
            "values": [
              {
                "column": "request_body",
                "value": "={{ $node[\"Buffer\"].json['buffer'] ?? null }}"
              },
              {
                "column": "insert_time",
                "value": "={{ $now }}"
              },
              {
                "column": "event_id",
                "value": "={{ $node[\"Webhook1\"].json[\"body\"][\"id\"] }}"
              },
              {
                "column": "=event",
                "value": "={{ $node[\"Webhook1\"].json[\"body\"][\"event\"] }}"
              },
              {
                "column": "launch",
                "value": "={{ $node[\"Webhook1\"].json[\"query\"][\"launch\"] ?? null }}"
              }
            ]
          },
          "options": {}
        },
        "id": "24f359d1-3b01-464e-bfad-18b90d6df537",
        "name": "InsertQueue",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          -944,
          -576
        ],
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "mySql": {
            "id": "ea6BhhC0YnhuvJPD",
            "name": "MySQL Recovery"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "let body = $node['Webhook1'].json;\nlet jsonBody = JSON.stringify(body);\nlet buffer = new Buffer(jsonBody).toString('base64');\n\nreturn {buffer}\n\n"
        },
        "id": "105bc828-96ee-469c-b3e9-0543c5ec9d23",
        "name": "Buffer",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1296,
          -576
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "34900341-ff8a-4b7e-ad24-e20ee0e1a220",
                "leftValue": "={{ $node['Buffer'].json[\"buffer\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "fe5f3a97-2cac-45de-b5be-5f1dbe037bb6",
        "name": "Filter",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2,
        "position": [
          -1120,
          -576
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "sendflow-groups-2",
          "options": {}
        },
        "id": "dfdafaf2-8936-4926-8940-c35dc0c3eead",
        "name": "Webhook1",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1472,
          -576
        ],
        "webhookId": "1af80a73-442b-430e-8be2-1238586f08aa"
      }
    ],
    "connections": {
      "Buffer": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "InsertQueue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook1": {
        "main": [
          [
            {
              "node": "Buffer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "6fb7743e-d6e0-45df-9fc9-f097ab3505c2",
  "connections": {
    "Buffer": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "InsertQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-06T19:56:06.180Z",
  "id": "hIjMQ3AFZeC4fm8M",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "W0001 | Grupos WhatsApp | Armazena entrada/saída e métricas dos grupos",
  "nodes": [
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "launch_groups_queue",
          "mode": "list",
          "cachedResultName": "launch_groups_queue"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "request_body",
              "value": "={{ $node[\"Buffer\"].json['buffer'] ?? null }}"
            },
            {
              "column": "insert_time",
              "value": "={{ $now }}"
            },
            {
              "column": "event_id",
              "value": "={{ $node[\"Webhook1\"].json[\"body\"][\"id\"] }}"
            },
            {
              "column": "=event",
              "value": "={{ $node[\"Webhook1\"].json[\"body\"][\"event\"] }}"
            },
            {
              "column": "launch",
              "value": "={{ $node[\"Webhook1\"].json[\"query\"][\"launch\"] ?? null }}"
            }
          ]
        },
        "options": {}
      },
      "id": "24f359d1-3b01-464e-bfad-18b90d6df537",
      "name": "InsertQueue",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -944,
        -576
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mySql": {
          "id": "ea6BhhC0YnhuvJPD",
          "name": "MySQL Recovery"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let body = $node['Webhook1'].json;\nlet jsonBody = JSON.stringify(body);\nlet buffer = new Buffer(jsonBody).toString('base64');\n\nreturn {buffer}\n\n"
      },
      "id": "105bc828-96ee-469c-b3e9-0543c5ec9d23",
      "name": "Buffer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        -576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "34900341-ff8a-4b7e-ad24-e20ee0e1a220",
              "leftValue": "={{ $node['Buffer'].json[\"buffer\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fe5f3a97-2cac-45de-b5be-5f1dbe037bb6",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -1120,
        -576
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sendflow-groups-2",
        "options": {}
      },
      "id": "dfdafaf2-8936-4926-8940-c35dc0c3eead",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1472,
        -576
      ],
      "webhookId": "1af80a73-442b-430e-8be2-1238586f08aa"
    }
  ],
  "pinData": {},
  "settings": {
    "errorWorkflow": "HXcAl85buK80GKh9"
  },
  "shared": [
    {
      "updatedAt": "2025-08-06T19:56:06.180Z",
      "createdAt": "2025-08-06T19:56:06.180Z",
      "role": "workflow:owner",
      "workflowId": "hIjMQ3AFZeC4fm8M",
      "projectId": "VuiAAhWq61ItL83O"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-23T15:26:26.468Z",
  "versionId": "6fb7743e-d6e0-45df-9fc9-f097ab3505c2"
}