workflows/2026-01-12/r6TeRIgCOBYNdhq6-V0002 - Json Vendas e Assinaturas -> SQL (purchase).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-26T19:22:18.976Z",
    "createdAt": "2025-11-26T19:22:18.976Z",
    "versionId": "6ce07952-5efb-4b24-b684-f5a8af58915a",
    "workflowId": "r6TeRIgCOBYNdhq6",
    "nodes": [
      {
        "parameters": {},
        "id": "f991b14c-ec92-479f-a624-21fe912c9011",
        "name": "When clicking \"Execute Workflow\"",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          464,
          1008
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json }}",
                "operation": "isEmpty"
              }
            ]
          }
        },
        "id": "5e0a3938-7e2d-49ab-8dac-be86a7d7986f",
        "name": "IF5",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          912,
          832
        ]
      },
      {
        "parameters": {
          "amount": 15,
          "unit": "minutes"
        },
        "id": "e902bd01-6f0b-4762-bf06-a4c1ecb0600f",
        "name": "Wait3",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          1120,
          736
        ],
        "webhookId": "f2fa12a1-9597-49d0-8176-a737af43f8a4"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://{{ $execution.resumeUrl.extractDomain() }}/webhook/{{ $('Webhook').params[\"path\"] }}",
          "options": {}
        },
        "id": "d869e0f9-9fb4-4994-926f-d4faa70be00f",
        "name": "HTTP Request3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1344,
          736
        ],
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://{{ $execution.resumeUrl.extractDomain() }}/webhook/{{ $('Webhook').params[\"path\"] }}",
          "options": {}
        },
        "id": "e9bdeed6-a7f9-4cde-a752-258902a3c9a7",
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1792,
          928
        ],
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://{{ $execution.resumeUrl.extractDomain() }}/webhook/934d884b-8507-4f93-aeb7-f6ae29ee0e5a",
          "options": {}
        },
        "id": "45d7b0f0-bba7-4383-a2e0-efa1701cc651",
        "name": "HTTP Request4",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1344,
          560
        ],
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "934d884b-8507-4f93-aeb7-f6ae29ee0e5a",
          "options": {}
        },
        "id": "c5075578-556e-4a3e-9a2e-3f14932c8923",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          464,
          832
        ],
        "webhookId": "934d884b-8507-4f93-aeb7-f6ae29ee0e5a"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "transactions_new",
            "mode": "list",
            "cachedResultName": "transactions_new"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "is_processed",
                "value": "N"
              }
            ]
          },
          "sort": {
            "values": [
              {
                "column": "id_transaction"
              }
            ]
          },
          "options": {}
        },
        "id": "13ff2210-81ff-4f69-b4b6-f4327828c58a",
        "name": "Select rows from a table",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          688,
          832
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "table": {
            "__rl": true,
            "value": "transactions_new",
            "mode": "list",
            "cachedResultName": "transactions_new"
          },
          "dataMode": "defineBelow",
          "columnToMatchOn": "id_transaction",
          "valueToMatchOn": "={{ $('IF5').item.json.id_transaction }}",
          "valuesToSend": {
            "values": [
              {
                "column": "is_processed",
                "value": "Y"
              }
            ]
          },
          "options": {}
        },
        "id": "37dcccf1-16a7-42df-8115-5fc1e528ee99",
        "name": "Update rows in a table",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          1568,
          928
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "transactions_new",
            "mode": "list",
            "cachedResultName": "transactions_new"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "is_processed",
                "value": "Y"
              }
            ]
          },
          "options": {}
        },
        "id": "8e9a53cd-7683-4801-a5ea-25a250e38d1f",
        "name": "Select rows from a table1",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          688,
          1008
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cefe7454-c76c-40c2-9041-8dd3e4f9a955",
                "name": "ext_id",
                "value": "={{ $('IF5').item.json.ext_id }}",
                "type": "string"
              },
              {
                "id": "b8377aee-4911-47da-8079-74bb66dcba00",
                "name": "product_id",
                "value": "={{ $('IF5').item.json.product_id }}",
                "type": "string"
              },
              {
                "id": "7f9da3cb-a01d-4704-9b5b-86bb01fe50ca",
                "name": "offer_id",
                "value": "={{ $('IF5').item.json.offer_id }}",
                "type": "string"
              },
              {
                "id": "ca4acba6-b616-4597-8705-61e69de15b96",
                "name": "user_id",
                "value": "={{ $('IF5').item.json.user_id }}",
                "type": "string"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj1",
                "name": "payment_method",
                "type": "string",
                "value": "={{ $('IF5').item.json.payment_method }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj2",
                "name": "payment_price",
                "type": "string",
                "value": "={{ $('IF5').item.json.payment_price }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj3",
                "name": "installments",
                "type": "string",
                "value": "={{ $('IF5').item.json.installments }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj4",
                "name": "approved_date",
                "type": "string",
                "value": "={{ $('IF5').item.json.approved_date }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj5",
                "name": "warranty_expire_date",
                "type": "string",
                "value": "={{ $node['IF5'].json.warranty_expire_date }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudf6j",
                "name": "order_date",
                "type": "string",
                "value": "={{ $node['IF5'].json.order_date }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj7",
                "name": "commision_value",
                "type": "string",
                "value": "={{ $('IF5').item.json.commision_value }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj8",
                "name": "platform",
                "type": "string",
                "value": "={{ $('IF5').item.json.platform }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj9",
                "name": "commission_plataform",
                "type": "string",
                "value": "={{ $('IF5').item.json.commission_plataform }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj0",
                "name": "currency",
                "type": "string",
                "value": "={{ $('IF5').item.json.currency }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia1fpudfj",
                "name": "utm_source",
                "type": "string",
                "value": "={{ $('IF5').item.json.utm_source }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia2fpudfj",
                "name": "utm_medium",
                "type": "string",
                "value": "={{ $('IF5').item.json.utm_medium }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia3fpudfj",
                "name": "utm_campaign",
                "type": "string",
                "value": "={{ $('IF5').item.json.utm_campaign }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia4fpudfj",
                "name": "utm_term",
                "type": "string",
                "value": "={{ $('IF5').item.json.utm_term }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia5fpudfj",
                "name": "utm_content",
                "type": "string",
                "value": "={{ $('IF5').item.json.utm_content }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia6fpudfj",
                "name": "sck",
                "type": "string",
                "value": "={{ $('IF5').item.json.sck}}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia7fpudfj",
                "name": "src",
                "type": "string",
                "value": "={{ $('IF5').item.json.src }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia8fpudfj",
                "name": "campaign_id",
                "type": "string",
                "value": "={{ $('IF5').item.json.campaign_id }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia9fpudfj",
                "name": "adset_id",
                "type": "string",
                "value": "={{ $('IF5').item.json.adset_id }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfuibhia0fpudfj",
                "name": "ad_id",
                "type": "string",
                "value": "={{ $('IF5').item.json.ad_id }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdf1uibhiafpudfj",
                "name": "xcod",
                "type": "string",
                "value": "={{ $('IF5').item.json.xcod}}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdf2uibhiafpudfj",
                "name": "cycle",
                "type": "string",
                "value": "={{ $('IF5').item.json.cycle }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdf3uibhiafpudfj",
                "name": "status",
                "type": "string",
                "value": "={{ $('IF5').item.json.status }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdf4uibhiafpudfj",
                "name": "installments_value",
                "type": "string",
                "value": "={{ $('IF5').item.json.installments_value }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugdfu5ibhiafpudfj",
                "name": "commission_affiliate",
                "type": "string",
                "value": "={{ $node.IF5.json.commission_affiliate }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugd6fuibhiafpudfj",
                "name": "code_affiliate",
                "type": "string",
                "value": "={{ $('IF5').item.json.code_affiliate }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugd7fuibhiafpudfj",
                "name": "name_affiliate",
                "type": "string",
                "value": "={{ $('IF5').item.json.name_affiliate }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugd8fuibhiafpudfj",
                "name": "purchase_type",
                "type": "string",
                "value": "={{ $('IF5').item.json.purchase_type }}"
              },
              {
                "id": "aopgghaofhbuiahfbaiugd9fuibhiafpudfj",
                "name": "cancelled_time",
                "type": "string",
                "value": "={{ $('IF5').item.json.cancelled_time }}"
              },
              {
                "id": "49599bea-6e06-4ea5-a042-614dae90b8ac",
                "name": "entry_value",
                "value": "={{ $('IF5').item.json.entry_value }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1136,
          928
        ],
        "id": "743a9a7b-637d-4eb4-85cb-721d3a9a33da",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "upsert",
          "table": {
            "__rl": true,
            "value": "purchases_new",
            "mode": "list",
            "cachedResultName": "purchases_new"
          },
          "columnToMatchOn": "ext_id",
          "options": {}
        },
        "id": "ff297b3b-ac0c-4cd0-b8e3-75fe97c26662",
        "name": "Insert or update rows in a table",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.2,
        "position": [
          1344,
          928
        ],
        "credentials": {
          "mySql": {
            "id": "SLbk0R6796E4DmlD",
            "name": "MySQL infoproduct"
          }
        }
      }
    ],
    "connections": {
      "When clicking \"Execute Workflow\"": {
        "main": [
          [
            {
              "node": "Select rows from a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF5": {
        "main": [
          [
            {
              "node": "Wait3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait3": {
        "main": [
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Select rows from a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select rows from a table": {
        "main": [
          [
            {
              "node": "IF5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update rows in a table": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select rows from a table1": {
        "main": [
          [
            {
              "node": "IF5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Insert or update rows in a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert or update rows in a table": {
        "main": [
          [
            {
              "node": "Update rows in a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "6ce07952-5efb-4b24-b684-f5a8af58915a",
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF5": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-06T19:56:06.162Z",
  "id": "r6TeRIgCOBYNdhq6",
  "isArchived": false,
  "meta": null,
  "name": "V0002 - Json Vendas e Assinaturas -> SQL (purchase)",
  "nodes": [
    {
      "parameters": {},
      "id": "f991b14c-ec92-479f-a624-21fe912c9011",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        464,
        1008
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "5e0a3938-7e2d-49ab-8dac-be86a7d7986f",
      "name": "IF5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        912,
        832
      ]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "minutes"
      },
      "id": "e902bd01-6f0b-4762-bf06-a4c1ecb0600f",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1120,
        736
      ],
      "webhookId": "f2fa12a1-9597-49d0-8176-a737af43f8a4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $execution.resumeUrl.extractDomain() }}/webhook/{{ $('Webhook').params[\"path\"] }}",
        "options": {}
      },
      "id": "d869e0f9-9fb4-4994-926f-d4faa70be00f",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1344,
        736
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $execution.resumeUrl.extractDomain() }}/webhook/{{ $('Webhook').params[\"path\"] }}",
        "options": {}
      },
      "id": "e9bdeed6-a7f9-4cde-a752-258902a3c9a7",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1792,
        928
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $execution.resumeUrl.extractDomain() }}/webhook/934d884b-8507-4f93-aeb7-f6ae29ee0e5a",
        "options": {}
      },
      "id": "45d7b0f0-bba7-4383-a2e0-efa1701cc651",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1344,
        560
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "934d884b-8507-4f93-aeb7-f6ae29ee0e5a",
        "options": {}
      },
      "id": "c5075578-556e-4a3e-9a2e-3f14932c8923",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        464,
        832
      ],
      "webhookId": "934d884b-8507-4f93-aeb7-f6ae29ee0e5a"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "transactions_new",
          "mode": "list",
          "cachedResultName": "transactions_new"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "is_processed",
              "value": "N"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id_transaction"
            }
          ]
        },
        "options": {}
      },
      "id": "13ff2210-81ff-4f69-b4b6-f4327828c58a",
      "name": "Select rows from a table",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        688,
        832
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "transactions_new",
          "mode": "list",
          "cachedResultName": "transactions_new"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_transaction",
        "valueToMatchOn": "={{ $('IF5').item.json.id_transaction }}",
        "valuesToSend": {
          "values": [
            {
              "column": "is_processed",
              "value": "Y"
            }
          ]
        },
        "options": {}
      },
      "id": "37dcccf1-16a7-42df-8115-5fc1e528ee99",
      "name": "Update rows in a table",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1568,
        928
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "transactions_new",
          "mode": "list",
          "cachedResultName": "transactions_new"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "is_processed",
              "value": "Y"
            }
          ]
        },
        "options": {}
      },
      "id": "8e9a53cd-7683-4801-a5ea-25a250e38d1f",
      "name": "Select rows from a table1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        688,
        1008
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cefe7454-c76c-40c2-9041-8dd3e4f9a955",
              "name": "ext_id",
              "value": "={{ $('IF5').item.json.ext_id }}",
              "type": "string"
            },
            {
              "id": "b8377aee-4911-47da-8079-74bb66dcba00",
              "name": "product_id",
              "value": "={{ $('IF5').item.json.product_id }}",
              "type": "string"
            },
            {
              "id": "7f9da3cb-a01d-4704-9b5b-86bb01fe50ca",
              "name": "offer_id",
              "value": "={{ $('IF5').item.json.offer_id }}",
              "type": "string"
            },
            {
              "id": "ca4acba6-b616-4597-8705-61e69de15b96",
              "name": "user_id",
              "value": "={{ $('IF5').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj1",
              "name": "payment_method",
              "type": "string",
              "value": "={{ $('IF5').item.json.payment_method }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj2",
              "name": "payment_price",
              "type": "string",
              "value": "={{ $('IF5').item.json.payment_price }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj3",
              "name": "installments",
              "type": "string",
              "value": "={{ $('IF5').item.json.installments }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj4",
              "name": "approved_date",
              "type": "string",
              "value": "={{ $('IF5').item.json.approved_date }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj5",
              "name": "warranty_expire_date",
              "type": "string",
              "value": "={{ $node['IF5'].json.warranty_expire_date }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudf6j",
              "name": "order_date",
              "type": "string",
              "value": "={{ $node['IF5'].json.order_date }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj7",
              "name": "commision_value",
              "type": "string",
              "value": "={{ $('IF5').item.json.commision_value }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj8",
              "name": "platform",
              "type": "string",
              "value": "={{ $('IF5').item.json.platform }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj9",
              "name": "commission_plataform",
              "type": "string",
              "value": "={{ $('IF5').item.json.commission_plataform }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhiafpudfj0",
              "name": "currency",
              "type": "string",
              "value": "={{ $('IF5').item.json.currency }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia1fpudfj",
              "name": "utm_source",
              "type": "string",
              "value": "={{ $('IF5').item.json.utm_source }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia2fpudfj",
              "name": "utm_medium",
              "type": "string",
              "value": "={{ $('IF5').item.json.utm_medium }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia3fpudfj",
              "name": "utm_campaign",
              "type": "string",
              "value": "={{ $('IF5').item.json.utm_campaign }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia4fpudfj",
              "name": "utm_term",
              "type": "string",
              "value": "={{ $('IF5').item.json.utm_term }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia5fpudfj",
              "name": "utm_content",
              "type": "string",
              "value": "={{ $('IF5').item.json.utm_content }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia6fpudfj",
              "name": "sck",
              "type": "string",
              "value": "={{ $('IF5').item.json.sck}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia7fpudfj",
              "name": "src",
              "type": "string",
              "value": "={{ $('IF5').item.json.src }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia8fpudfj",
              "name": "campaign_id",
              "type": "string",
              "value": "={{ $('IF5').item.json.campaign_id }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia9fpudfj",
              "name": "adset_id",
              "type": "string",
              "value": "={{ $('IF5').item.json.adset_id }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfuibhia0fpudfj",
              "name": "ad_id",
              "type": "string",
              "value": "={{ $('IF5').item.json.ad_id }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf1uibhiafpudfj",
              "name": "xcod",
              "type": "string",
              "value": "={{ $('IF5').item.json.xcod}}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf2uibhiafpudfj",
              "name": "cycle",
              "type": "string",
              "value": "={{ $('IF5').item.json.cycle }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf3uibhiafpudfj",
              "name": "status",
              "type": "string",
              "value": "={{ $('IF5').item.json.status }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdf4uibhiafpudfj",
              "name": "installments_value",
              "type": "string",
              "value": "={{ $('IF5').item.json.installments_value }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugdfu5ibhiafpudfj",
              "name": "commission_affiliate",
              "type": "string",
              "value": "={{ $node.IF5.json.commission_affiliate }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd6fuibhiafpudfj",
              "name": "code_affiliate",
              "type": "string",
              "value": "={{ $('IF5').item.json.code_affiliate }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd7fuibhiafpudfj",
              "name": "name_affiliate",
              "type": "string",
              "value": "={{ $('IF5').item.json.name_affiliate }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd8fuibhiafpudfj",
              "name": "purchase_type",
              "type": "string",
              "value": "={{ $('IF5').item.json.purchase_type }}"
            },
            {
              "id": "aopgghaofhbuiahfbaiugd9fuibhiafpudfj",
              "name": "cancelled_time",
              "type": "string",
              "value": "={{ $('IF5').item.json.cancelled_time }}"
            },
            {
              "id": "49599bea-6e06-4ea5-a042-614dae90b8ac",
              "name": "entry_value",
              "value": "={{ $('IF5').item.json.entry_value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        928
      ],
      "id": "743a9a7b-637d-4eb4-85cb-721d3a9a33da",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "purchases_new",
          "mode": "list",
          "cachedResultName": "purchases_new"
        },
        "columnToMatchOn": "ext_id",
        "options": {}
      },
      "id": "ff297b3b-ac0c-4cd0-b8e3-75fe97c26662",
      "name": "Insert or update rows in a table",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1344,
        928
      ],
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      }
    ]
  },
  "settings": {
    "errorWorkflow": "HXcAl85buK80GKh9"
  },
  "shared": [
    {
      "updatedAt": "2025-08-06T19:56:06.162Z",
      "createdAt": "2025-08-06T19:56:06.162Z",
      "role": "workflow:owner",
      "workflowId": "r6TeRIgCOBYNdhq6",
      "projectId": "VuiAAhWq61ItL83O"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-29T22:59:02.530Z",
  "versionId": "6ce07952-5efb-4b24-b684-f5a8af58915a"
}