workflows/2026-01-22/phj29qqreqxyhkXV-Meta02 - Retroativo preview.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca preview": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "MySQL2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-06T19:56:06.246Z",
  "id": "phj29qqreqxyhkXV",
  "isArchived": false,
  "meta": null,
  "name": "Meta02 - Retroativo preview",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 4,
              "triggerAtMinute": 25
            }
          ]
        }
      },
      "id": "7b8a1c90-7e95-4c18-aafa-b44c4327f29a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1100,
        340
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ad,id_data,BM\nFROM campaigns_bms\nWHERE preview_reprocessed = 'N'\nGROUP BY ad\nLIMIT 25;",
        "options": {}
      },
      "id": "790f65e6-660b-4e4c-8b49-5498208a2860",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -440,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "QpNGYbj9wAM31I5T",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19585466-b218-4595-a8b3-8ef2d69b444b",
              "name": "ad_id",
              "value": "={{ $json.id_data.split('_')[0] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "ad, BM",
        "options": {}
      },
      "id": "c48ad668-12b2-4d88-9e60-0fafad6f4d9c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        180
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d4f5f904-bfad-4a24-9839-9233ca697455",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        320
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/{{ $json.ad_id }}/previews",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json[\"Token\"] }}"
            },
            {
              "name": "ad_format",
              "value": "DESKTOP_FEED_STANDARD"
            }
          ]
        },
        "options": {}
      },
      "id": "a663d10a-6364-4654-b233-6b8bd2894fbd",
      "name": "Busca preview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        340
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1CSQQ-lEb2QxjD0RG6IkTFxi4pz4VEyzomHdKmc_Q8yk/edit?gid=1122812575#gid=1122812575",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1122812575,
          "mode": "list",
          "cachedResultName": "BM's",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CSQQ-lEb2QxjD0RG6IkTFxi4pz4VEyzomHdKmc_Q8yk/edit#gid=1122812575"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Funcionando"
            }
          ]
        },
        "options": {}
      },
      "id": "b40a2f14-9632-4905-b649-539c63851f10",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -880,
        340
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SN6RzeMl3gN9prB4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "fd82e65e-d742-40e3-b5e9-6da434ef12ad",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -660,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  for(const aggregate of $node.Aggregate.json.data){\n    if(item.json.BM == aggregate.BM){\n      item.json.Token = aggregate.Token\n    }\n  }\n}\n\nreturn $input.all();"
      },
      "id": "d2e627b3-c36d-401d-930c-26df452a7ed6",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        320
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "1234ee7c-3547-43ac-833e-b22c0984312f",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -440,
        340
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "86a5fde6-a6e4-45ac-ae46-c499377ff7ed",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        200,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e23575be-adf4-42b2-a99b-6f16831b74c8",
              "name": "ad",
              "value": "={{ $('Loop Over Items').item.json.ad }}",
              "type": "string"
            },
            {
              "id": "3c2696ad-3139-4040-89b1-f51ad205ebe2",
              "name": "preview_url",
              "value": "={{ $json.preview }}",
              "type": "string"
            },
            {
              "id": "1459f08e-9965-4279-94c7-fea30669c14d",
              "name": "preview_reprocessed",
              "value": "Y",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fab33613-4a9f-4369-b3e4-08346d047f32",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1300,
        340
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let jsonasd = {}\n\njsonasd.preview = $input.item.json.data[0].body.match(/src=\"([^\"]+)\"/)[1].replace('amp;','')\n\nreturn jsonasd"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        340
      ],
      "id": "1ef4b773-908e-4ca9-bd5b-aa5096713a70",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "campaigns_bms",
          "mode": "list",
          "cachedResultName": "campaigns_bms"
        },
        "columnToMatchOn": "ad",
        "options": {}
      },
      "id": "213f1b82-8e74-48ea-b8fd-7263ad670f41",
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1540,
        340
      ],
      "credentials": {
        "mySql": {
          "id": "QpNGYbj9wAM31I5T",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "1bcf94bf-8a5e-4027-a195-6ec4fbc88727",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1300,
        120
      ]
    },
    {
      "parameters": {},
      "id": "f57ac336-a6bd-4ae1-be97-67b8e38634a0",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return $node[\"Aggregate\"].json"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        120
      ],
      "id": "940fecb7-ef8f-4947-ae4f-53b996506c92",
      "name": "Code2"
    },
    {
      "parameters": {},
      "id": "07bb6c23-fdd8-48fc-8597-10181ce21e60",
      "name": "Limit1",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        860,
        120
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "074ac958-4706-4c94-abb0-524cff69988a",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -880,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "98a977e7-edad-4891-afd1-980cf7fd4608",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cedac4e7-9e7a-4bd1-a077-2400ea8235aa",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `campaigns_bms` SET `preview_reprocessed`='N' WHERE 1",
        "options": {}
      },
      "id": "f1ff3a6d-4dd1-4cbf-8744-2b92735a2a94",
      "name": "MySQL2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        0,
        0
      ],
      "credentials": {
        "mySql": {
          "id": "QpNGYbj9wAM31I5T",
          "name": "MySQL infoproduct"
        }
      }
    }
  ],
  "pinData": null,
  "settings": {
    "errorWorkflow": "HXcAl85buK80GKh9"
  },
  "shared": [
    {
      "updatedAt": "2025-08-06T19:56:06.246Z",
      "createdAt": "2025-08-06T19:56:06.246Z",
      "role": "workflow:owner",
      "workflowId": "phj29qqreqxyhkXV",
      "projectId": "VuiAAhWq61ItL83O"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-07T18:54:04.308Z",
  "versionId": "f0aec1b0-01ef-4472-b186-cabbf0d4c93f"
}