workflows/2026-01-17/CfvpUueRHADKmmb6-A0007 | Pesquisa | Typebot | queue -> survey_answers.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchQueue": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item": {
      "main": [
        [
          {
            "node": "Executar Tentativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer": {
      "main": [
        [
          {
            "node": "CheckLeadExists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Tentativa": {
      "main": [
        [
          {
            "node": "Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckLeadExists": {
      "main": [
        [
          {
            "node": "LeadExists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LeadExists": {
      "main": [
        [
          {
            "node": "LeadID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateLead": {
      "main": [
        [
          {
            "node": "LeadID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "CreateLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "SearchQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "attPending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item2": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LeadID": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "attPending": {
      "main": [
        [
          {
            "node": "SetScoreUncalculated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetScoreUncalculated": {
      "main": [
        [
          {
            "node": "Item2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-06T19:48:16.219Z",
  "id": "CfvpUueRHADKmmb6",
  "isArchived": false,
  "meta": null,
  "name": "A0007 | Pesquisa | Typebot | queue -> survey_answers",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "6c74cb01-bdcd-4122-a682-6c713afc5962",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1760,
        96
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "survey_queue",
          "mode": "list",
          "cachedResultName": "survey_queue"
        },
        "limit": 100,
        "where": {
          "values": [
            {
              "column": "is_pending",
              "value": "Y"
            },
            {
              "column": "tries_count",
              "condition": "<=",
              "value": "4"
            },
            {
              "column": "launch_tag",
              "value": "SSP-L18"
            },
            {
              "column": "action_source",
              "value": "Typebot"
            }
          ]
        },
        "options": {}
      },
      "id": "578aeedf-64c2-4cbc-a78c-88c4f2a244cf",
      "name": "SearchQueue",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -1936,
        96
      ],
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "content": "Busca pelos movimentos aguardando execução",
        "height": 241.03800589349822,
        "width": 385.4528310908945
      },
      "id": "abafb4b7-91bf-4ee3-9b8f-8f804fea9a4b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1984,
        16
      ]
    },
    {
      "parameters": {},
      "id": "72d51b68-6de8-456b-ab29-f3f1b142181f",
      "name": "Item",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1504,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "let request = $node[\"Item\"].json[\"request_body\"]\nlet bufferObj = Buffer.from(request, \"base64\");\nlet decodedString = bufferObj.toString(\"utf8\");\nlet json = JSON.parse(decodedString);\nreturn json;"
      },
      "id": "06b9dcc6-6f11-45e5-8908-50afa132224a",
      "name": "Buffer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        256
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "survey_queue",
          "mode": "list",
          "cachedResultName": "survey_queue"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_survey_queue",
        "valueToMatchOn": "={{ $node[\"Item\"].json[\"id_survey_queue\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "tries_count",
              "value": "={{ $json[\"tries_count\"] + 1}}"
            }
          ]
        },
        "options": {}
      },
      "id": "0e6859fd-064c-4385-a9fa-be779ee22536",
      "name": "Executar Tentativa",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -1296,
        256
      ],
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "28109290-9dea-44f1-80c2-083084cec931",
      "name": "CheckLeadExists",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -944,
        256
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "45cb854a-c21c-483c-8183-c76571dd6b33",
              "leftValue": "={{ $node['CheckLeadExists'].json[\"id_user\"] ?? 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6f83d11c-2994-40b8-9db6-e9b5cfff03b8",
      "name": "LeadExists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -720,
        256
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "email",
        "valueToMatchOn": "={{ $('Buffer').item.json.email }}",
        "valuesToSend": {
          "values": [
            {
              "column": "name",
              "value": "={{ $json.firstName || null}}"
            },
            {
              "column": "email",
              "value": "={{ $('Buffer').item.json.email }}"
            },
            {
              "column": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "column": "create_time",
              "value": "={{ $('Buffer').item.json.submitteAt !== undefined ? $('Buffer').item.json.submitteAt : $json.created_timestamp }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "76671dd9-1f36-4a37-ac90-b33307bdb483",
      "name": "CreateLead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -320,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "additionalFields": {
          "email": "={{ $('Buffer').item.json.email }}",
          "orderBy": "orders[cdate]"
        }
      },
      "id": "612ebba4-e765-4f4d-827a-7e88bc50c373",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -496,
        400
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "fy3czEO2IaUXXxnk",
          "name": "https://aceleraconcursos.activehosted.com/"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "d1bd33de-080f-4d06-8f62-fcabd81538a5",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2160,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1222e092-943d-46ac-aa04-a04a931c2fd0",
              "name": "user_id",
              "value": "={{ $node['LeadID'].json['id'] }}",
              "type": "string"
            },
            {
              "id": "fbc2d09d-9251-41cc-882d-87c59dedf3a0",
              "name": "subscription_time",
              "value": "={{ DateTime.fromISO($('Buffer').item.json.submittedAt).toISO() }}\n",
              "type": "string"
            },
            {
              "id": "e80815b9-08f1-4c7f-a177-cb690ab4169c",
              "name": "form_id",
              "value": 3,
              "type": "number"
            },
            {
              "id": "0c9164da-326e-43ff-928e-f835fdd800eb",
              "name": "lauch_key",
              "value": "=SSP-L18",
              "type": "string"
            },
            {
              "id": "cf9e0beb-f429-48c0-828d-2301c9a1e796",
              "name": "answers_1",
              "value": "={{ $('Buffer').item.json.email }}",
              "type": "string"
            },
            {
              "id": "6d29cbca-045e-4abe-860d-3abce5498d93",
              "name": "answers_2",
              "value": "={{ $('Buffer').item.json.Idade }}",
              "type": "string"
            },
            {
              "id": "4f057062-f0c3-4025-9d80-6dd82ab5092f",
              "name": "answers_3",
              "value": "={{ $('Buffer').item.json[\"Group #15\"] }}",
              "type": "string"
            },
            {
              "id": "6465d0b3-6329-448b-ae2c-6e7323668cd6",
              "name": "answers_4",
              "value": "={{ $('Buffer').item.json.Nivel }}",
              "type": "string"
            },
            {
              "id": "2d3bb4c2-e0f6-49c8-91fc-6efbfa544f80",
              "name": "answers_5",
              "value": "={{ $('Buffer').item.json.Profissional }}",
              "type": "string"
            },
            {
              "id": "a28e817d-efa5-4739-9ae0-fd0b21f40893",
              "name": "answers_6",
              "value": "={{ $('Buffer').item.json.Renda }}",
              "type": "string"
            },
            {
              "id": "239ae89b-e07a-4bb3-97fa-3f50c9e8b574",
              "name": "answers_7",
              "value": "={{ $('Buffer').item.json.Escolaridade }}",
              "type": "string"
            },
            {
              "id": "468998ac-6497-4b38-8731-2105d4e96558",
              "name": "answers_8",
              "value": "={{ $('Buffer').item.json.Duvida }}",
              "type": "string"
            },
            {
              "id": "30141213-8d2f-462f-9f3c-692ebc9bc37b",
              "name": "answers_9",
              "value": "={{ $('Buffer').item.json.Dificuldade }}",
              "type": "string"
            },
            {
              "id": "ca208e24-c1ce-409c-9e79-dca1e69e30e8",
              "name": "answers_10",
              "value": "={{ $('Buffer').item.json[\"Group #16\"] || null}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        240
      ],
      "id": "3b8141d6-334f-49fe-83ce-e4a202009028",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "survey_answers",
          "mode": "list",
          "cachedResultName": "survey_answers"
        },
        "columnToMatchOn": "user_id",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        256,
        240
      ],
      "id": "f165efb5-210a-477e-aee0-05e88b5e373e",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {},
      "id": "8f780612-1c7b-468f-bcd4-af29d66ea9f5",
      "name": "Item2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        928,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "let search =$node['CheckLeadExists'].runIndex >= 0 &&  $node['CheckLeadExists'].json['id_user'] !== undefined ? $node['CheckLeadExists'].json['id_user'] : 0;\nlet create =  $node['CreateLead'].runIndex >= 0 &&  $node['CreateLead'].json[\"data\"][\"insertId\"] !== undefined ? $node['CreateLead'].json[\"data\"][\"insertId\"] : 0;\n\n\nif(create > 0) return {id: create};\nreturn {id: search};"
      },
      "id": "8b34f69f-461f-4119-8039-57ab8f6502b7",
      "name": "LeadID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "survey_queue",
          "mode": "list",
          "cachedResultName": "survey_queue"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_survey_queue",
        "valueToMatchOn": "={{ $node[\"Item\"].json[\"id_survey_queue\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "is_pending",
              "value": "=N"
            }
          ]
        },
        "options": {}
      },
      "id": "a253c93e-73f8-40a0-aa23-870a50da812e",
      "name": "attPending",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        432,
        240
      ],
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "content": "alterar set launchtag e formId",
        "height": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "e6630318-971c-46d0-9ab8-1fb0baa54dfd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE launch_leads SET is_score_calculated = 'N' WHERE launch_key = $1 AND user_id = $2",
        "options": {
          "queryReplacement": "={{ $('Item').item.json.launch_tag }},{{ $('LeadID').item.json.id }}",
          "detailedOutput": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        640,
        240
      ],
      "id": "26f04471-40be-415b-b118-e335af11fcb6",
      "name": "SetScoreUncalculated",
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-06T19:48:16.219Z",
      "createdAt": "2026-01-06T19:48:16.219Z",
      "role": "workflow:owner",
      "workflowId": "CfvpUueRHADKmmb6",
      "projectId": "VuiAAhWq61ItL83O"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-06T19:48:16.219Z",
  "versionId": "0dd93622-7669-4bee-85b8-5cc188f5e09c"
}