workflows/2026-01-15/kMTt6l0k53hcoJua-W0001 backup- Armazena eventos de entrada ou saída de grupo do WhatsApp.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Buffer": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "InsertQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-06T19:56:06.112Z",
  "id": "kMTt6l0k53hcoJua",
  "isArchived": false,
  "meta": null,
  "name": "W0001 backup- Armazena eventos de entrada ou saída de grupo do WhatsApp",
  "nodes": [
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "launch_groups_queue",
          "mode": "list",
          "cachedResultName": "launch_groups_queue"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "request_body",
              "value": "={{ $node[\"Buffer\"].json['buffer'] ?? null }}"
            },
            {
              "column": "insert_time",
              "value": "={{ $now }}"
            },
            {
              "column": "event_id",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"id\"] }}"
            },
            {
              "column": "=event",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"event\"] }}"
            },
            {
              "column": "launch",
              "value": "={{ $node[\"Webhook\"].json[\"query\"][\"launch\"] ?? null }}"
            }
          ]
        },
        "options": {}
      },
      "id": "69e13d21-61e3-4204-ad04-58c2dfaef682",
      "name": "InsertQueue",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1680,
        544
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let body = $node['Webhook'].json;\nlet jsonBody = JSON.stringify(body);\nlet buffer = new Buffer(jsonBody).toString('base64');\n\nreturn {buffer}\n\n"
      },
      "id": "d654e4f0-71c3-4aa1-99de-3a24a8258700",
      "name": "Buffer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "34900341-ff8a-4b7e-ad24-e20ee0e1a220",
              "leftValue": "={{ $node['Buffer'].json[\"buffer\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ce11fa3f-8335-4566-815a-c75afe8a35e5",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1504,
        544
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "monitoramento-grupo",
        "options": {}
      },
      "id": "3fbeef77-4670-43d2-8c97-e5f899da69a4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1152,
        544
      ],
      "webhookId": "1af80a73-442b-430e-8be2-1238586f08aa"
    }
  ],
  "pinData": {},
  "settings": {
    "errorWorkflow": "HXcAl85buK80GKh9"
  },
  "shared": [
    {
      "updatedAt": "2025-08-06T19:56:06.112Z",
      "createdAt": "2025-08-06T19:56:06.112Z",
      "role": "workflow:owner",
      "workflowId": "kMTt6l0k53hcoJua",
      "projectId": "VuiAAhWq61ItL83O"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-07T19:02:49.201Z",
  "versionId": "b7ff82ec-32ba-4eed-acb6-96b1f85198a8"
}