workflows/2026-01-20/Taam0USlxoM6hB5W-Extração das transactions - Hotmart.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "noop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "noop": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "noop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-06T19:56:06.144Z",
  "id": "Taam0USlxoM6hB5W",
  "isArchived": false,
  "meta": null,
  "name": "Extração das transactions - Hotmart",
  "nodes": [
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/history",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start_date",
              "value": "={{ $now.minus({days:2}).format('x') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.var_value }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "ccbf0dbd-32b6-468e-8614-3dc684f99af4",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        220
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "238353ad-dfa4-48d9-a953-cee6553a37e6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -440,
        220
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Variables",
          "mode": "list",
          "cachedResultName": "Variables"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "var_key",
              "value": "api_key_hotmart"
            }
          ]
        },
        "options": {}
      },
      "id": "7249169c-036d-42db-b5b1-b95d6242e77a",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -220,
        220
      ],
      "credentials": {
        "mySql": {
          "id": "WgOjKmj2sJYs7KBj",
          "name": "MySQL Hotmart"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "97614db1-a4ee-436c-8f25-b534a13022d9",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        440,
        220
      ]
    },
    {
      "parameters": {},
      "id": "d17afedc-d614-4ec2-9c50-8a7eb21b4531",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        880,
        220
      ]
    },
    {
      "parameters": {},
      "id": "0a17fc8d-a373-48fe-8e6e-addb9db03391",
      "name": "noop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        220,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1eddf606-b287-48c7-81d3-dc07129a6e8d",
              "leftValue": "={{ $('noop').item.json.page_info.next_page_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "067438a7-4e8f-4f59-a8f8-68cc4a1c70de",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1100,
        220
      ]
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/history",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page_token",
              "value": "={{ $('noop').item.json.page_info.next_page_token }}"
            },
            {
              "name": "start_date",
              "value": "={{ $now.minus({days:2}).format('x') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"MySQL\"].json[\"var_value\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bec730ac-d7e6-4fdc-be52-a6973d17f901",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        220
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "transactions",
          "mode": "list",
          "cachedResultName": "transactions"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "ext_id",
        "valueToMatchOn": "={{ $json.purchase.transaction }}",
        "valuesToSend": {
          "values": [
            {
              "column": "is_processed",
              "value": "N"
            }
          ]
        },
        "options": {}
      },
      "id": "1a569604-dbb9-4496-96fb-4faaf7ad842e",
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        660,
        220
      ],
      "credentials": {
        "mySql": {
          "id": "WgOjKmj2sJYs7KBj",
          "name": "MySQL Hotmart"
        }
      }
    }
  ],
  "pinData": null,
  "settings": {
    "errorWorkflow": "HXcAl85buK80GKh9"
  },
  "shared": [
    {
      "updatedAt": "2025-08-06T19:56:06.144Z",
      "createdAt": "2025-08-06T19:56:06.144Z",
      "role": "workflow:owner",
      "workflowId": "Taam0USlxoM6hB5W",
      "projectId": "VuiAAhWq61ItL83O"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-07T19:05:22.198Z",
  "versionId": "718bbe2c-ab80-406d-b43d-5c5091a86dab"
}