workflows/2026-01-21/wz2erxgdDthun0MS-Reproc utm.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-11T10:53:05.028Z",
  "id": "wz2erxgdDthun0MS",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Reproc utm",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM `launch_leads` WHERE utm_campaign = 'SSP-L16 | CAPTACAO | CBO | FRIO | ALL | BR | 10-09-2025 | ADV | Aberto + Lista'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        208,
        0
      ],
      "id": "aa2aa0c1-e4da-48bd-b241-b4e9a6a7de4e",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "626e73d2-fc1f-4b1e-aadb-90362d9036eb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        688,
        0
      ],
      "id": "12f7e80a-f243-426c-b6c0-8d7051eabbbe"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2abf997f-7ca3-42b3-bb7b-cc1ed7f6370e",
              "name": "utm_campaign",
              "value": "=SSP-L16 | CAPTACAO | CBO | FRIO | ALL | BR | 10-09-2025 | ADV | Aberto + Lista Alunos",
              "type": "string"
            },
            {
              "id": "2cb7c793-a8bf-4cf5-99d7-03619491a303",
              "name": "id_launch",
              "value": "={{ $('Replace Me').item.json.id_launch }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        0
      ],
      "id": "9b178650-836b-4fa6-9845-490ee54b877a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "launch_leads",
          "mode": "list",
          "cachedResultName": "launch_leads"
        },
        "columnToMatchOn": "id_launch",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1152,
        0
      ],
      "id": "815e0839-7e8c-435b-bc92-86e70e67140e",
      "name": "Update rows in a table",
      "credentials": {
        "mySql": {
          "id": "SLbk0R6796E4DmlD",
          "name": "MySQL infoproduct"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "27529baa-8131-486a-8c75-c0eefc96e515",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-11T10:53:05.028Z",
      "createdAt": "2025-09-11T10:53:05.028Z",
      "role": "workflow:owner",
      "workflowId": "wz2erxgdDthun0MS",
      "projectId": "VuiAAhWq61ItL83O"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-25T18:48:04.837Z",
  "versionId": "37ba8367-314a-4822-adc0-9e3e63a005f3"
}