workflows/2026-01-19/kPtAA4Qs3YGhpYCk-Extração de dados das vendas - hotmart API.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "MySQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "MySQL3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL3": {
      "main": [
        [
          {
            "node": "user_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL4": {
      "main": [
        [
          {
            "node": "user_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "MySQL4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL5": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "MySQL6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL6": {
      "main": [
        [
          {
            "node": "product_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL7": {
      "main": [
        [
          {
            "node": "product_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "MySQL7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL8": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "MySQL9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL9": {
      "main": [
        [
          {
            "node": "offer_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL10": {
      "main": [
        [
          {
            "node": "offer_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "MySQL10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user_id": {
      "main": [
        [
          {
            "node": "MySQL5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "product_id": {
      "main": [
        [
          {
            "node": "MySQL8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "offer_id": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "MySQL11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL11": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-06T19:56:06.283Z",
  "id": "kPtAA4Qs3YGhpYCk",
  "isArchived": false,
  "meta": null,
  "name": "Extração de dados das vendas - hotmart API",
  "nodes": [
    {
      "parameters": {},
      "id": "645ceb7b-3751-4f44-b6c3-32e2166444af",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        180
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "transactions",
          "mode": "list",
          "cachedResultName": "transactions"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "is_processed",
              "value": "N"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "ext_id"
          ]
        }
      },
      "id": "559401ac-edd4-4c70-a8b6-beb9f23f04cd",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        440,
        180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WgOjKmj2sJYs7KBj",
          "name": "MySQL Hotmart"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Variables",
          "mode": "list",
          "cachedResultName": "Variables"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "var_key",
              "value": "api_key_hotmart"
            }
          ]
        },
        "options": {}
      },
      "id": "988c6889-1913-4f0a-9f33-f7b8f9ec256c",
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        220,
        180
      ],
      "credentials": {
        "mySql": {
          "id": "WgOjKmj2sJYs7KBj",
          "name": "MySQL Hotmart"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $('HTTP Request').item.json.items[0].buyer.email }}"
            },
            {
              "column": "phone",
              "value": "={{ $json.phone }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "2b4d7e08-4d89-4024-b199-449140ce5293",
      "name": "MySQL2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1320,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WgOjKmj2sJYs7KBj",
          "name": "MySQL Hotmart"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b57c0dc7-d98a-448a-b5ee-cc6d4c90bf89",
              "name": "name",
              "value": "={{ $node['HTTP Request'].json.items[0].buyer.name }}",
              "type": "string"
            },
            {
              "id": "1538f9b5-1914-4245-9ff2-844dd2134bd9",
              "name": "email",
              "value": "={{ $node['HTTP Request'].json.items[0].buyer.email }}",
              "type": "string"
            },
            {
              "id": "fe2c9c8d-04c0-47b4-988a-46a4277487c3",
              "name": "email",
              "value": "={{ $node['HTTP Request'].json.items[0].buyer.email }}",
              "type": "string"
            },
            {
              "id": "c4906aa5-8455-4f8f-9788-0f2640f905c0",
              "name": "document",
              "value": "",
              "type": "string"
            },
            {
              "id": "7544eada-2344-4938-87db-615e4d3c9841",
              "name": "contact_id_active",
              "value": "={{ $node.ActiveCampaign.json.id }}",
              "type": "string"
            },
            {
              "id": "e35676e4-6044-4d38-baae-33e0e4e26494",
              "name": "create_time",
              "value": "={{ $node.ActiveCampaign.json.cdate }}",
              "type": "string"
            },
            {
              "id": "2f61964b-6179-4768-81bd-651351260d97",
              "name": "phone",
              "value": "={{ $node.ActiveCampaign.json.phone }}",
              "type": "string"
            },
            {
              "id": "2ebfb5a5-59a6-44a4-8a58-5c1695a90c62",
              "name": "update_time",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "512f41d0-58c4-4520-a563-514e6a71a42c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "additionalFields": {
          "email": "={{ $json.items[0].buyer.email }}"
        }
      },
      "id": "ffd501e9-8637-49d7-b6aa-9552628ac778",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "UdKdP7GtWsUcieMa",
          "name": "ActiveCampaign account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bfa1cbe-6eca-4a68-b50c-3020fb531e73",
              "leftValue": "={{ $node.MySQL2.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a818077c-9a96-4839-ade6-d4367a106e11",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        200
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "options": {}
      },
      "id": "5477ebf5-4c4a-4478-b5bb-33a263317eae",
      "name": "MySQL3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2080,
        100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WgOjKmj2sJYs7KBj",
          "name": "MySQL Hotmart"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "columnToMatchOn": "id_user",
        "options": {}
      },
      "id": "7c6a2fce-bca6-4798-ac13-655e748ea027",
      "name": "MySQL4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2220,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WgOjKmj2sJYs7KBj",
          "name": "MySQL Hotmart"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed1e863e-3895-4d48-8623-d5081407409c",
              "name": "id_user",
              "value": "={{ $node.MySQL2.json.id_user }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "cc6bf29b-60d8-4cbc-8ebe-75050e194e07",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1980,
        300
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "product_ext",
              "value": "={{ $node['HTTP Request'].json.items[0].product.id }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "0fe02788-4fa1-4996-a131-9406c0dc98a0",
      "name": "MySQL5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1320,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WgOjKmj2sJYs7KBj",
          "name": "MySQL Hotmart"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b57c0dc7-d98a-448a-b5ee-cc6d4c90bf89",
              "name": "product_ext",
              "value": "={{ $node['HTTP Request'].json.items[0].product.id }}",
              "type": "string"
            },
            {
              "id": "e8042ff6-17b5-4d3d-95fb-0585a108de0e",
              "name": "product_name",
              "value": "={{ $node['HTTP Request'].json.items[0].product.name }}",
              "type": "string"
            },
            {
              "id": "c87a496e-e910-4865-883d-7b46b6d29209",
              "name": "product_price",
              "value": "={{ $node['HTTP Request'].json.items[0].purchase.price.value }}",
              "type": "string"
            },
            {
              "id": "582dd825-7cfc-49d5-a1db-12c248414af6",
              "name": "platform",
              "value": "hotmart",
              "type": "string"
            },
            {
              "id": "0cb0dbb3-d2ee-419a-85fd-f4601a846e34",
              "name": "update_time",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "37e5baa3-517d-4e6d-9cd8-454b6228050b",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bfa1cbe-6eca-4a68-b50c-3020fb531e73",
              "leftValue": "={{ $node.MySQL5.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "87a85fc1-7f3f-40ca-850f-42651b95a60c",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        640
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "options": {}
      },
      "id": "7f273c4a-72c3-4570-9be2-b87992f4fcb6",
      "name": "MySQL6",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2080,
        540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WgOjKmj2sJYs7KBj",
          "name": "MySQL Hotmart"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "columnToMatchOn": "id_product",
        "options": {}
      },
      "id": "723f8261-0520-42aa-a08b-4587a62eb566",
      "name": "MySQL7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2200,
        740
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WgOjKmj2sJYs7KBj",
          "name": "MySQL Hotmart"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed1e863e-3895-4d48-8623-d5081407409c",
              "name": "id_product",
              "value": "={{ $('MySQL5').item.json.id_product }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4bddf070-91e3-4803-ad04-0cfeb7c6cacf",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1980,
        740
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "offers",
          "mode": "list",
          "cachedResultName": "offers"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "offer_ext",
              "value": "={{ $('HTTP Request').item.json.items[0].purchase.offer.code }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "d977761b-1b31-4d1a-9e2a-e12077bad07d",
      "name": "MySQL8",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1320,
        1080
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WgOjKmj2sJYs7KBj",
          "name": "MySQL Hotmart"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b57c0dc7-d98a-448a-b5ee-cc6d4c90bf89",
              "name": "product_id",
              "value": "={{ $node[\"product_id\"].json[\"id_product\"] }}",
              "type": "string"
            },
            {
              "id": "e8042ff6-17b5-4d3d-95fb-0585a108de0e",
              "name": "offer_ext",
              "value": "={{ $node['HTTP Request'].json.items[0].purchase.offer.code }}",
              "type": "string"
            },
            {
              "id": "582dd825-7cfc-49d5-a1db-12c248414af6",
              "name": "offer_price",
              "value": "={{ $node['HTTP Request'].json.items[0].purchase.price.value }}",
              "type": "string"
            },
            {
              "id": "0cb0dbb3-d2ee-419a-85fd-f4601a846e34",
              "name": "update_time",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "23d5656d-d4b0-447a-8517-bff20b8ea483",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bfa1cbe-6eca-4a68-b50c-3020fb531e73",
              "leftValue": "={{ $node.MySQL8.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0cb8044d-d691-42e0-9d82-0df39aa4ed8c",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        1080
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "offers",
          "mode": "list",
          "cachedResultName": "offers"
        },
        "options": {}
      },
      "id": "46d84e06-5ed5-4517-9c27-a004ed5e0c29",
      "name": "MySQL9",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2080,
        980
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WgOjKmj2sJYs7KBj",
          "name": "MySQL Hotmart"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "offers",
          "mode": "list",
          "cachedResultName": "offers"
        },
        "columnToMatchOn": "id_offer",
        "options": {}
      },
      "id": "cfc783cc-455c-48a7-8cb2-6eadf1657ca6",
      "name": "MySQL10",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2200,
        1180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WgOjKmj2sJYs7KBj",
          "name": "MySQL Hotmart"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed1e863e-3895-4d48-8623-d5081407409c",
              "name": "id_offer",
              "value": "={{ $('MySQL8').item.json.id_offer }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "99339dc5-c536-4ba7-9484-b3c022889533",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1980,
        1180
      ]
    },
    {
      "parameters": {
        "content": "## USER",
        "height": 383.9534883720937,
        "width": 1081.395348837209
      },
      "id": "6abf8f42-3a0e-4d4f-a47b-fddc961c4e41",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1300,
        100
      ]
    },
    {
      "parameters": {
        "content": "## Produto",
        "height": 383.9534883720937,
        "width": 1081.395348837209
      },
      "id": "cdfab1a1-7ba5-41a4-a343-393ea6e06d30",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1300,
        520
      ]
    },
    {
      "parameters": {
        "content": "## Oferta",
        "height": 383.9534883720937,
        "width": 1081.395348837209
      },
      "id": "5327e9e8-2cd6-4b4d-a648-acfd9b9e3757",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1300,
        960
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $('HTTP Request').item.json.items[0].buyer.email }}"
            },
            {
              "column": "phone",
              "value": "={{ $node[\"ActiveCampaign\"].json[\"phone\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "outputColumns": [
            "id_user"
          ]
        }
      },
      "id": "716ef955-cbaf-47f8-b192-d95f2e4e98f9",
      "name": "user_id",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2440,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WgOjKmj2sJYs7KBj",
          "name": "MySQL Hotmart"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "product_ext",
              "value": "={{ $node['HTTP Request'].json.items[0].product.id }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "outputColumns": [
            "id_product"
          ]
        }
      },
      "id": "5012a1bb-b9dc-485d-9ae1-a24975dacc18",
      "name": "product_id",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2420,
        740
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WgOjKmj2sJYs7KBj",
          "name": "MySQL Hotmart"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "offers",
          "mode": "list",
          "cachedResultName": "offers"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "offer_ext",
              "value": "={{ $('HTTP Request').item.json.items[0].purchase.offer.code }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "outputColumns": [
            "id_offer"
          ]
        }
      },
      "id": "776d1a5b-351a-4579-98de-506d29ac442b",
      "name": "offer_id",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2420,
        1180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WgOjKmj2sJYs7KBj",
          "name": "MySQL Hotmart"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05ae5913-cf15-4ef3-b3b8-773ead1d7753",
              "name": "offer_id",
              "value": "={{ $node.offer_id.json.id_offer }}",
              "type": "string"
            },
            {
              "id": "3d79c6dc-3bbf-4e17-a95a-61ca01d7a8ab",
              "name": "product_id",
              "value": "={{ $('product_id').item.json.id_product }}",
              "type": "string"
            },
            {
              "id": "f13eea6a-865a-43b0-b219-b9c9b232f816",
              "name": "user_id",
              "value": "={{ $('user_id').item.json.id_user }}",
              "type": "string"
            },
            {
              "id": "9ff0b936-42ca-4477-90d2-7c3c62244b9c",
              "name": "ext_id",
              "value": "={{ $('HTTP Request').item.json.items[0].purchase.transaction }}",
              "type": "string"
            },
            {
              "id": "1ce43113-1a64-4501-8dc0-f1b5a94f2c6c",
              "name": "payment_price",
              "value": "={{ $('HTTP Request').item.json.items[0].purchase.price.value }}",
              "type": "string"
            },
            {
              "id": "fc13b0a2-01a0-4070-a434-336d155940fe",
              "name": "currency",
              "value": "={{ $('HTTP Request').item.json.items[0].purchase.price.currency_code }}",
              "type": "string"
            },
            {
              "id": "4f0a8247-1ffa-4274-909a-8f3920ece7d6",
              "name": "installments",
              "value": "={{ $('HTTP Request').item.json.items[0].purchase.payment.installments_number }}",
              "type": "string"
            },
            {
              "id": "df120287-611a-4924-97c1-7bb4726acb00",
              "name": "payment_method",
              "value": "={{ $('HTTP Request').item.json.items[0].purchase.payment.method }}",
              "type": "string"
            },
            {
              "id": "aba7daf1-e43a-4247-bb05-085860375d54",
              "name": "commission_plataform",
              "value": "={{ $('HTTP Request').item.json.items[0].purchase.hotmart_fee.total }}",
              "type": "string"
            },
            {
              "id": "128bd73a-122f-4b3c-b165-997a7ee260a5",
              "name": "invoice_status",
              "value": "={{ $('HTTP Request').item.json.items[0].purchase.status }}",
              "type": "string"
            },
            {
              "id": "c2c7a929-78b7-4ea1-8177-92e9e4489a9b",
              "name": "commision_value",
              "value": "={{ $('HTTP Request').item.json.items[0].purchase.price.value - $('HTTP Request').item.json.items[0].purchase.hotmart_fee.total }}",
              "type": "string"
            },
            {
              "id": "f680607d-fb98-4ada-88ed-c41f630d1d82",
              "name": "is_processed",
              "value": "Y",
              "type": "string"
            },
            {
              "id": "9fc075e9-0978-40c8-b7b2-c174ad671a87",
              "name": "platform",
              "value": "hotmart",
              "type": "string"
            },
            {
              "id": "dd0c3747-2433-45a4-853a-bc08a3b4f3cd",
              "name": "approved_date",
              "value": "={{ new Date($('HTTP Request').item.json.items[0].purchase.approved_date).format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "66e9fea4-c4dd-44e2-999e-80706acee730",
              "name": "warranty_expire_date",
              "value": "={{ new Date($('HTTP Request').item.json.items[0].purchase.warranty_expire_date).format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "0d80c497-ce04-4712-8cdc-6311b95025fb",
              "name": "order_date",
              "value": "={{ new Date($('HTTP Request').item.json.items[0].purchase.order_date).format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "37995845-4986-4ff8-a60f-0bf00fd14562",
      "name": "Edit Fields6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        1180
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "transactions",
          "mode": "list",
          "cachedResultName": "transactions"
        },
        "columnToMatchOn": "ext_id",
        "options": {}
      },
      "id": "61ea232f-f4d8-4aea-b32e-8d2a8fd74aed",
      "name": "MySQL11",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2860,
        1180
      ],
      "credentials": {
        "mySql": {
          "id": "WgOjKmj2sJYs7KBj",
          "name": "MySQL Hotmart"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "0cefbb49-44b5-4eb8-93be-59c6c4ed6e50",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3080,
        1180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b9003f9d-70b5-4525-a48d-c9502b237089",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e2ea6116-cd87-476b-be90-5ca0124cdb23",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        180
      ]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "id": "045dd761-5613-474e-a723-6de7b511abae",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "webhookId": "97361405-237d-47c2-935b-ef3223820b0b"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "2ef2c3c4-6f29-484d-8b54-70ac72f17560",
      "name": "Execute Workflow1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6237d6d1-2436-420b-863f-28c22337f51d",
        "options": {}
      },
      "id": "dba29c61-b48f-484a-bc90-052c0237c88a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "6237d6d1-2436-420b-863f-28c22337f51d"
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/history",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $json.ext_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('MySQL1').item.json.var_value }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "97bdd622-8f08-406b-9961-21c3aba983c1",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        200
      ]
    }
  ],
  "pinData": null,
  "settings": {
    "errorWorkflow": "HXcAl85buK80GKh9"
  },
  "shared": [
    {
      "updatedAt": "2025-08-06T19:56:06.283Z",
      "createdAt": "2025-08-06T19:56:06.283Z",
      "role": "workflow:owner",
      "workflowId": "kPtAA4Qs3YGhpYCk",
      "projectId": "VuiAAhWq61ItL83O"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-07T19:05:29.139Z",
  "versionId": "f6fa5cd6-94ee-41f4-9d61-4aba5ab24df7"
}